In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import mysql.connector as mysql

In [8]:
db_connection = mysql.connect(host = "10.4.19.15", 
                            database = 'mpninfo', 
                            user = 'admin', 
                            password= 'A1110PF', 
                            port = 3306)

In [3]:
mfwp = pd.read_excel('D:\DATA KANTOR\MASTERFILE\AFTER SMO 24MEI2021\Masterfile-007_sandingsidjp_Coro_per12Juli2021.xlsx',
engine='openpyxl',dtype={'FULL':'str'},usecols=['FULL','KODE_KLU','NAMA_KLU','STATUS_WP']) 
map = pd.read_excel('D:\DATA KANTOR\MASTERFILE\KODE_MAP_FILTERED.xlsx', engine='openpyxl', dtype={'KD MAP':'str'})

In [11]:
with open(r'F:\STREAMLIT\DASHTEAM\sql\mpnspmpbkspmkp.sql','r') as text:
    query2021 = text.read()
with open(r'F:\JUPYTER NOTEBOOK\sql\2020.sql','r') as text:
    query2020 = text.read()

In [12]:
data2021 = pd.read_sql(query2021,db_connection)

In [15]:
data2021['NPWP_FULL'] = data2021.npwp.map(str)+data2021.kpp.map(str)+data2021.cabang.map(str)

In [17]:
data2021 = pd.merge(data2021,mfwp, left_on='NPWP_FULL', right_on='FULL', how='left')

In [18]:
data2021

,admin,npwp,kpp,cabang,nama,kdmap,kdbayar,masa,tahun,tanggalbayar,...,extra,billing,nop,pembuat,ket,NPWP_FULL,FULL,STATUS_WP,KODE_KLU,NAMA_KLU
0,007,015752892,007,000,UNITEDA ARKATO,411128,300,12,2019,11,...,None,125817215991073,None,015752892007000 - UNITEDA ARKATO,MPN,015752892007000,015752892007000,Normal,43905,PENYEWAAN ALAT KONSTRUKSI DENGAN OPERATOR
1,007,015752892,007,000,UNITEDA ARKATO,411128,300,12,2018,11,...,None,125817215522126,None,015752892007000 - UNITEDA ARKATO,MPN,015752892007000,015752892007000,Normal,43905,PENYEWAAN ALAT KONSTRUKSI DENGAN OPERATOR
2,007,041720467,003,000,GUWANTO,411128,420,10,2021,11,...,None,025809127487055,None,041720467003000 - GUWANTO,MPN,041720467003000,041720467003000,Normal,47214,PERDAGANGAN ECERAN HASIL PETERNAKAN
3,007,015752892,007,000,UNITEDA ARKATO,411128,300,12,2019,11,...,None,125817216285111,None,015752892007000 - UNITEDA ARKATO,MPN,015752892007000,015752892007000,Normal,43905,PENYEWAAN ALAT KONSTRUKSI DENGAN OPERATOR
4,007,015752892,007,000,UNITEDA ARKATO,411128,300,12,2019,11,...,None,125817216057157,None,015752892007000 - UNITEDA ARKATO,MPN,015752892007000,015752892007000,Normal,43905,PENYEWAAN ALAT KONSTRUKSI DENGAN OPERATOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192578,007,812784510,002,000,WIJAYA KARYA PRACETAK GEDUNG,411124,100,5,2021,20,...,,,,,PBK TERIMA,812784510002000,812784510002000,Normal,41019,KONSTRUKSI GEDUNG LAINNYA
192579,007,013157086,007,000,MENSA BINASUKSES,411122,920,11,2020,1,...,,,,,PBK TERIMA,013157086007000,013157086007000,Normal,46492,PERDAGANGAN BESAR FARMASI
192580,007,013157086,007,000,MENSA BINASUKSES,411211,920,11,2020,1,...,,,,,PBK TERIMA,013157086007000,013157086007000,Normal,46492,PERDAGANGAN BESAR FARMASI
192581,007,029985207,007,000,PARIT PADANG GLOBAL,411211,920,11,2020,1,...,,,,,PBK TERIMA,029985207007000,029985207007000,Normal,46492,PERDAGANGAN BESAR FARMASI
192582,007,029985207,007,000,PARIT PADANG GLOBAL,411122,920,11,2020,1,...,,,,,PBK TERIMA,029985207007000,029985207007000,Normal,46492,PERDAGANGAN BESAR FARMASI

In [38]:
data2021 = pd.merge(data2021,map, left_on='kdmap', right_on='KD MAP', how='left')

In [39]:
klu = pd.read_csv('D:/DATA KANTOR/MASTERFILE/KLU.csv', sep=';',usecols=['klu_kode','klu_sektor'])
klu_kategori = pd.read_excel('D:/DATA KANTOR/MASTERFILE/KLU_sektor.xlsx', engine='openpyxl' )

In [40]:
data2021 = pd.merge(data2021,klu, left_on='KODE_KLU',right_on='klu_kode')
data2021 = pd.merge(data2021, klu_kategori, left_on='klu_sektor',right_on='Kode')

In [41]:
data2021.drop(['kdmap','FULL','klu_kode','klu_sektor'],axis=1,inplace=True)

In [42]:
data2021.head()

,NPWP_FULL,nama,kdbayar,masa,tahun,tanggalbayar,bulanbayar,tahunbayar,datebayar,nominal,...,nop,pembuat,ket,STATUS_WP,KODE_KLU,NAMA_KLU,KD MAP,KODE MAP,Kode,Kategori
0,029985207007000,PARIT PADANG GLOBAL,910,9,2021,30,9,2021,2021-09-30,741920.0,...,None,001429687729000 - RUMKIT BHAYANGKARA BALIKPAPA...,MPN,Normal,46492,PERDAGANGAN BESAR FARMASI,411211,PPN DN,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
1,029985207007000,PARIT PADANG GLOBAL,910,9,2021,30,9,2021,2021-09-30,898875.0,...,None,001429687729000 - RUMKIT BHAYANGKARA BALIKPAPA...,MPN,Normal,46492,PERDAGANGAN BESAR FARMASI,411211,PPN DN,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
2,029985207007000,PARIT PADANG GLOBAL,900,9,2021,30,9,2021,2021-09-30,1168986.0,...,None,029985207007000 - PARIT PADANG GLOBAL,MPN,Normal,46492,PERDAGANGAN BESAR FARMASI,411211,PPN DN,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
3,029985207007000,PARIT PADANG GLOBAL,920,9,2021,30,9,2021,2021-09-30,364259.0,...,None,003306453527000 - RUMAH SAKIT UMUM DAERAH SIMO...,MPN,Normal,46492,PERDAGANGAN BESAR FARMASI,411211,PPN DN,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
4,029985207007000,PARIT PADANG GLOBAL,900,9,2021,30,9,2021,2021-09-30,107121.0,...,None,029985207007000 - PARIT PADANG GLOBAL,MPN,Normal,46492,PERDAGANGAN BESAR FARMASI,411211,PPN DN,G,Perdagangan Besar dan Eceran; Reparasi dan Per...

## DATA 2020

In [43]:
data2020 = pd.read_sql(query2020,db_connection)

In [44]:
data2020.head()

,NPWP_FULL,nama,kdmap,kdbayar,masa,tahun,tanggalbayar,bulanbayar,tahunbayar,datebayar,...,bank,nosk,nospm,tipe,source,extra,billing,nop,pembuat,ket
0,019202779007000,BESARI WAHANA RAYA,411122,910,12,2020,8,12,2020,2020-12-08,...,None,-,11569T/579297/2020,1,2,None,None,None,None,SPM
1,029985207007000,PARIT PADANG GLOBAL,411122,910,12,2020,8,12,2020,2020-12-08,...,None,-,00443T/415624/2020,1,2,None,None,None,None,SPM
2,018129858007000,AIRKON PRATAMA,411211,910,12,2020,7,12,2020,2020-12-07,...,None,-,01236T/409257/2020,1,2,None,None,None,None,SPM
3,029985207007000,PARIT PADANG GLOBAL,411122,910,12,2020,3,12,2020,2020-12-03,...,None,-,30378T/344383/2020,1,2,None,None,None,None,SPM
4,013157086007000,MENSA BINASUKSES,411211,910,12,2020,3,12,2020,2020-12-03,...,None,-,00375T/415511/2020,1,2,None,None,None,None,SPM

In [45]:
data2020 = pd.merge(data2020,mfwp, left_on='NPWP_FULL', right_on='FULL', how='left')

In [46]:
data2020 = pd.merge(data2020,map, left_on='kdmap', right_on='KD MAP', how='left')

In [47]:
data2020 = pd.merge(data2020,klu, left_on='KODE_KLU',right_on='klu_kode')
data2020= pd.merge(data2020, klu_kategori, left_on='klu_sektor',right_on='Kode')

In [48]:
data2020.drop(['kdmap','FULL','klu_kode','klu_sektor'],axis=1,inplace=True)

In [49]:
data2020.head()

,NPWP_FULL,nama,kdbayar,masa,tahun,tanggalbayar,bulanbayar,tahunbayar,datebayar,nominal,...,nop,pembuat,ket,STATUS_WP,KODE_KLU,NAMA_KLU,KD MAP,KODE MAP,Kode,Kategori
0,019202779007000,BESARI WAHANA RAYA,910,12,2020,8,12,2020,2020-12-08,524967390.0,...,None,None,SPM,Normal,46594,"PERDAGANGAN BESAR ALAT TRANSPORTASI UDARA, SUK...",411122,PPh 22,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
1,019202779007000,BESARI WAHANA RAYA,910,12,2020,8,12,2020,2020-12-08,225000000.0,...,None,None,SPM,Normal,46594,"PERDAGANGAN BESAR ALAT TRANSPORTASI UDARA, SUK...",411122,PPh 22,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
2,019202779007000,BESARI WAHANA RAYA,910,12,2020,7,12,2020,2020-12-07,137676000.0,...,None,None,SPM,Normal,46594,"PERDAGANGAN BESAR ALAT TRANSPORTASI UDARA, SUK...",411122,PPh 22,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
3,019202779007000,BESARI WAHANA RAYA,910,12,2020,7,12,2020,2020-12-07,169858080.0,...,None,None,SPM,Normal,46594,"PERDAGANGAN BESAR ALAT TRANSPORTASI UDARA, SUK...",411122,PPh 22,G,Perdagangan Besar dan Eceran; Reparasi dan Per...
4,019202779007000,BESARI WAHANA RAYA,910,12,2020,7,12,2020,2020-12-07,185016000.0,...,None,None,SPM,Normal,46594,"PERDAGANGAN BESAR ALAT TRANSPORTASI UDARA, SUK...",411122,PPh 22,G,Perdagangan Besar dan Eceran; Reparasi dan Per...

##SAVE

In [50]:
data2021.to_csv(r'D:\DATA KANTOR\MPN INFO\afterSMO\2021_jan_sept.csv',index=False)
data2020.to_csv(r'D:\DATA KANTOR\MPN INFO\afterSMO\2020_jan_sept_existing.csv',index=False)