In [45]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [46]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [47]:
kueri2021 = '''select m."FULL" ,m."NAMA_WP"  ,mp."MAP",a.jenis_data,sum(a.jml_setor) as setor_2021
from penerimaan_2021 a
join mfwp m 
	on a.npwp_penyetor = m."FULL" 
full join map_polos mp 
	on a.kd_map  = mp."KD MAP" 
where a.bulan_bayar = '1'
group by(m."FULL" ,m."NAMA_WP" ,mp."MAP",a.jenis_data);'''

In [48]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [49]:
data_2021.head()

              FULL                 NAMA_WP        MAP jenis_data    setor_2021
0  010007516007000                  INDRIA     PPh 21        MPN  3.838830e+07
1  010007516007000                  INDRIA  PPh Final        MPN  3.624120e+06
2  010007516007000                  INDRIA     PPN DN        MPN  1.309397e+08
3  010008068007000  KRAMA YUDHA RATU MOTOR     PPh 21        MPN  2.752262e+09
4  010008068007000  KRAMA YUDHA RATU MOTOR     PPh 23        MPN  1.428682e+08

In [50]:
kueri2022 = '''select m."FULL" ,m."NAMA_WP"  ,mp."MAP",a.ket,sum(a.nominal) as setor_2022
from penerimaan_2022 a
join mfwp m 
	on a."FULL" = m."FULL" 
full join map_polos mp 
	on a."KD MAP"  = mp."KD MAP" 
where a.bulanbayar = '1'
group by(m."FULL" ,m."NAMA_WP" ,mp."MAP",a.ket);'''

In [51]:
data_2022 = pd.read_sql(kueri2022,con=conn)

In [52]:
data_2022.head()

              FULL                 NAMA_WP        MAP  ket    setor_2022
0  010007516007000                  INDRIA     PPh 21  MPN  4.719826e+07
1  010007516007000                  INDRIA     PPh 23  MPN  1.000000e+05
2  010007516007000                  INDRIA  PPh Final  MPN  4.099905e+06
3  010007516007000                  INDRIA     PPN DN  MPN  1.867597e+08
4  010008068007000  KRAMA YUDHA RATU MOTOR     PPh 21  MPN  1.158148e+09

In [53]:
data = pd.merge(data_2021,data_2022,on=['FULL', 'NAMA_WP', 'MAP','jenis_data'],how='outer')

KeyError: 'jenis_data'

In [ ]:
data

,FULL,NAMA_WP,MAP,jenis_data,setor_2021,ket,setor_2022
0,010007516007000,INDRIA,PPh 21,MPN,3.838830e+07,MPN,4.719826e+07
1,010007516007000,INDRIA,PPh Final,MPN,3.624120e+06,MPN,4.099905e+06
2,010007516007000,INDRIA,PPN DN,MPN,1.309397e+08,MPN,1.867597e+08
3,010008068007000,KRAMA YUDHA RATU MOTOR,PPh 21,MPN,2.752262e+09,MPN,1.158148e+09
4,010008068007000,KRAMA YUDHA RATU MOTOR,PPh 23,MPN,1.428682e+08,MPN,3.353162e+08
...,...,...,...,...,...,...,...
4042,931950018005000,INDO LOG ONE,PPh 21,NaN,NaN,SPM,7.207412e+06
4043,931950018005000,INDO LOG ONE,PPh 25 Badan,NaN,NaN,MPN,5.505765e+08
4044,931950018005000,INDO LOG ONE,PPh 25 Badan,NaN,NaN,SPM,1.000000e+06
4045,935178129003000,WAHANA BUAH SEGAR,PPh 25 Badan,NaN,NaN,MPN,1.956430e+05
4046,947423075008000,TIGA IKHWAN MEDIKAL,PPh 25 Badan,NaN,NaN,MPN,1.000000e+06

In [ ]:
data = data.groupby(['FULL', 'NAMA_WP', 'MAP','jenis_data']).sum().reset_index()

In [ ]:
data.head()

,FULL,NAMA_WP,MAP,jenis_data,setor_2021,setor_2022
0,010007516007000,INDRIA,PPN DN,MPN,1.309397e+08,1.867597e+08
1,010007516007000,INDRIA,PPh 21,MPN,3.838830e+07,4.719826e+07
2,010007516007000,INDRIA,PPh Final,MPN,3.624120e+06,4.099905e+06
3,010008068007000,KRAMA YUDHA RATU MOTOR,PPN DN,MPN,1.343912e+08,8.214788e+09
4,010008068007000,KRAMA YUDHA RATU MOTOR,PPh 21,MPN,2.752262e+09,1.158148e+09

In [ ]:
data.to_excel(r'D:\DATA KANTOR\VSCODE\2022\jan2022_perjenis_growth.xlsx',index=False)