In [129]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [130]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [131]:
# kueri2021 = select m."FULL" ,m."NAMA_WP",mp."MAP",sum(a.jml_setor) as setor_2021
# from penerimaan_2021 a
# left join mfwp m 
# 	on a.npwp_penyetor = m."FULL" 
# left join map_polos mp 
# 	on a.kd_map  = mp."KD MAP" 
# where a.bulan_bayar in('2') and a.jenis_data != 'RESTITUSI'
# group by(m."FULL" ,m."NAMA_WP",mp."MAP");
kueri2021 = '''select a.npwp_penyetor  as "FULL" ,m."NAMA_WP",mp."MAP",extract (day from a.tgl_setor) as tanggalbayar,sum(a.jml_setor) as setor_2021
from penerimaan_2021 a
left join mfwp m 
	on a.npwp_penyetor = m."FULL" 
left join map_polos mp 
	on a.kd_map  = mp."KD MAP" 
where a.bulan_bayar in('2') and a.jenis_data != 'RESTITUSI'
group by(a.npwp_penyetor ,m."NAMA_WP",mp."MAP",extract (day from a.tgl_setor));
'''

In [132]:
# kueri2021_nonexisting = '''select concat(m.npwp,m.kpp,m.cabang) as "FULL",m2.NAMA_WP ,mp.`MAP` ,sum(m.nominal) as setor_2021  	
# from mpn m 
# left join mfwp m2 
# 	on concat(m.npwp,m.kpp,m.cabang) = m2.NPWP  
# left join map_polos mp 
# 	on m.kdmap  = mp.`KD MAP` 
# where m.bulanbayar <3 and  tahunbayar = 2021
# group by "FULL" , m2.NAMA_WP ,mp.`MAP` '''

In [133]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [134]:
#data_2021.replace({'PBK KIRIM SEKANTOR':'PBK KIRIM','PBK KIRIM BEDA KANTOR':'PBK KIRIM',
#'PBK TERIMA SEKANTOR':'PBK TERIMA','PBK TERIMA BEDA KANTOR':'PBK TERIMA','RESTITUSI':'SPMKP','VALAS':'MPN'},inplace=True)

In [135]:
#data_2021.head()

In [136]:
# kueri2022 = '''select a."FULL" ,m."NAMA_WP",mp."MAP",sum(a.nominal) as setor_2022
# from penerimaan_2022 a
# left join mfwp m 
# 	on a."FULL" = m."FULL" 
# left join map_polos mp 
# 	on a."KD MAP"  = mp."KD MAP" 
# where a.bulanbayar in ('2') AND a.ket != 'SPMKP'
# group by(a."FULL" ,m."NAMA_WP",mp."MAP");'''
kueri2022 = '''select a."FULL" ,m."NAMA_WP",mp."MAP",a.tanggalbayar::int ,sum(a.nominal) as setor_2022
from penerimaan_2022 a
left join mfwp m 
	on a."FULL" = m."FULL" 
left join map_polos mp 
	on a."KD MAP"  = mp."KD MAP" 
where a.bulanbayar in ('2') AND a.ket != 'SPMKP'
group by(a."FULL" ,m."NAMA_WP",mp."MAP",a.tanggalbayar::int);'''

In [137]:
data_2022 = pd.read_sql(kueri2022,con=conn)

In [138]:
data_2022.MAP.unique()

array(['PPh Final', 'PPN DN', 'PPh 21', 'PPh 23', 'PPh 26',
       'PPh 25 Badan', 'PPh 22', 'PPh 22 Impor', 'PPN Impor',
       'Bea Meterai', 'PPh Gas Alam', 'STP atas Bunga Penagihan',
       'PPnBM DN', 'PPh 25 OP', 'PPh 25 OP DTP'], dtype=object)

In [139]:
#data_2021[data_2021['FULL']=='316771872003000']

In [140]:
data_2021.NAMA_WP =  data_2021.NAMA_WP.fillna('Non WP Madtim')
data_2022.NAMA_WP =  data_2022.NAMA_WP.fillna('Non WP Madtim')

In [141]:
data_2021 = data_2021.groupby(['FULL','NAMA_WP','MAP','tanggalbayar'],dropna=False).sum().reset_index()
data_2022 = data_2022.groupby(['FULL','NAMA_WP', 'MAP','tanggalbayar'],dropna=False).sum().reset_index()

In [142]:
data = pd.merge(data_2021,data_2022,on=['FULL', 'NAMA_WP','MAP','tanggalbayar'],how='outer')

In [143]:
data.setor_2021.fillna(0,inplace=True)
data.setor_2022.fillna(0,inplace=True)
data['tanggalbayar'] = data['tanggalbayar'].astype('int')

In [144]:
data

,FULL,NAMA_WP,MAP,tanggalbayar,setor_2021,setor_2022
0,000000000007007,Non WP Madtim,PPN DN,1,7923382.0,0.0
1,000000000007007,Non WP Madtim,PPN DN,2,689142088.0,0.0
2,000000000007007,Non WP Madtim,PPN DN,8,32623677.0,0.0
3,000000000007007,Non WP Madtim,PPN DN,9,186120629.0,0.0
4,000000000007007,Non WP Madtim,PPN DN,10,764345923.0,0.0
...,...,...,...,...,...,...
8395,947423075008000,TIGA IKHWAN MEDIKAL,PPN DN,7,0.0,12463160.0
8396,947423075008000,TIGA IKHWAN MEDIKAL,PPh 21,10,0.0,154359888.0
8397,947423075008000,TIGA IKHWAN MEDIKAL,PPh 22,7,0.0,1869474.0
8398,947423075008000,TIGA IKHWAN MEDIKAL,PPh 23,10,0.0,16297606.0
8399,947423075008000,TIGA IKHWAN MEDIKAL,PPh Final,10,0.0,39967450.0

In [145]:
#data_long = data.melt(id_vars=['FULL','NAMA_WP','MAP'],value_name='Nominal',var_name='Tahun',value_vars=['setor_2021','setor_2022'])
data_day = data.melt(id_vars=['MAP','tanggalbayar'],value_name='Nominal',var_name='Tahun',value_vars=['setor_2021','setor_2022'])

In [146]:
data_day.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\day_perjenis.xlsx',index=False)

In [66]:
data['Selisih'] = data.setor_2022-data.setor_2021

In [72]:
data_long.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\long_perjenis.xlsx',index=False)

In [48]:
data.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\perjenis.xlsx',index=False)

In [231]:
resume_perjenis = pd.pivot_table(data=data,index=['MAP'],values=['setor_2021','setor_2022','Selisih'],aggfunc='sum').reset_index().sort_values(by = 'Selisih',ascending=False)

In [232]:
#resume_perjenis.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\resume_perjenis.xlsx',index=False)

In [233]:
topbottom10= data.groupby(['FULL', 'NAMA_WP', 'MAP'],dropna=False).sum().reset_index()

In [234]:
topbottom10 = topbottom10[topbottom10['NAMA_WP']!= 'WP Pindah/Sebelum SMO']

In [235]:
#topbottom10.to_excel(r'D:\DATA KANTOR\VSCODE\2022\zxc.xlsx',index=False)

In [236]:
detail = topbottom10.sort_values(by = 'Selisih', ascending=False)

In [238]:
top10 = topbottom10.nlargest(10,columns='Selisih')

In [240]:
bottom10 = topbottom10.nsmallest(10,columns='Selisih')

In [241]:
top10['ket'] = 'Top10'

In [242]:
bottom10['ket'] = 'Bottom10'

In [243]:
topbottom10 = top10.append(bottom10)

In [244]:
topbottom10

,FULL,NAMA_WP,MAP,setor_2021,setor_2022,Selisih,ket
509,015480486007000,FASTRATA BUANA,PPN DN,2.864185e+07,3.244986e+10,3.242122e+10,Top10
650,015960529011000,ASMIN BARA BRONANG,PPh 25 Badan,1.573074e+10,2.578032e+10,1.004959e+10,Top10
792,017026527007000,WAHANA INTI SELARAS,PPN DN,0.000000e+00,9.073002e+09,9.073002e+09,Top10
793,017026527007000,WAHANA INTI SELARAS,PPN Impor,4.924100e+09,1.345611e+10,8.532011e+09,Top10
364,013662911062000,WIJAYA KARYA REKAYASA KONSTRUKSI,PPN DN,0.000000e+00,7.815067e+09,7.815067e+09,Top10
826,017350976007000,ROYAL SUTAN AGUNG,PPh 22 Impor,2.261568e+09,9.730404e+09,7.468836e+09,Top10
2771,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 22,6.804904e+09,1.324304e+10,6.438139e+09,Top10
2773,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 23,4.514261e+09,1.002892e+10,5.514655e+09,Top10
81,013036694073000,PENERBIT BUKU ERLANGGAMAHAMERU,PPN DN,1.749705e+06,5.276626e+09,5.274876e+09,Top10
1585,023882145073000,UNITED EQUIPMENT INDONESIA,PPN Impor,1.292681e+09,6.403654e+09,5.110973e+09,Top10
2776,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPnBM Impor,2.104724e+10,0.000000e+00,-2.104724e+10,Bottom10
2769,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPN Impor,1.660454e+10,0.000000e+00,-1.660454e+10,Bottom10
2772,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 22 Impor,9.414898e+09,0.000000e+00,-9.414898e+09,Bottom10
2011,029064821007000,ANDALAN MULTI KENCANA,PPN DN,8.031550e+09,0.000000e+00,-8.031550e+09,Bottom10
22,010027134007000,SOHO INDUSTRI PHARMASI,PPN DN,1.343084e+10,5.808010e+09,-7.622825e+09,Bottom10
772,016745267006000,HILLCONJAYA SAKTI,PPnBM DN,6.088682e+09,0.000000e+00,-6.088682e+09,Bottom10
183,013139670007000,DIAN GRAHA ELEKTRIKA,PPN DN,7.324476e+09,1.539414e+09,-5.785062e+09,Bottom10
441,013877196073000,TATAMULIA NUSANTARA INDAH,PPN DN,5.181816e+09,1.320451e+09,-3.861365e+09,Bottom10
28,010027134007000,SOHO INDUSTRI PHARMASI,PPh 25 Badan,5.995465e+09,2.872432e+09,-3.123033e+09,Bottom10
881,017834219007000,MEDIKALOKA SEJAHTERA,PPh 25 Badan,3.917123e+09,9.714610e+08,-2.945662e+09,Bottom10

In [245]:
topbottom10.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\perjenis_topbot.xlsx',index=False)

In [28]:
topbottom10.to_clipboard()

In [213]:
topbottom10['WAJIB PAJAK'] = topbottom10['NAMA_WP']+"-"+topbottom10['MAP'].str.upper()

In [214]:
topbottom10.to_excel(r'E:\NEXTCLOUD\PKD\LAPORAN\PENERIMAAN 2021\1.2022_TopBottom10_Per Jenis.xlsx',index=False)