In [64]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [65]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [66]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [67]:
kueri2020 = '''select p.npwp_penyetor as "FULL",m."NAMA_WP" ,s."Kategori",p.tgl_setor::date as tanggalbayar, sum(p.jml_setor) as Nominal
from penerimaan_2020 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.tgl_setor between '2020-01-01' and '2022-02-28') and p.jenis_data != 'RESTITUSI' 
group by p.npwp_penyetor ,m."NAMA_WP",s."Kategori",p.tgl_setor::date
having sum(p.jml_setor) is not null 
order by Nominal desc ;'''

In [68]:
kueri2021 = '''select p.npwp_penyetor as "FULL",m."NAMA_WP" ,s."Kategori",p.tgl_setor::date as tanggalbayar, sum(p.jml_setor) as Nominal
from penerimaan_2021 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.tgl_setor between '2021-01-01' and '2022-02-28') and p.jenis_data != 'RESTITUSI' 
group by p.npwp_penyetor ,m."NAMA_WP",s."Kategori",p.tgl_setor::date
having sum(p.jml_setor) is not null 
order by Nominal desc ;'''

In [69]:
kueri2022 = '''select p."FULL" ,m."NAMA_WP" ,s."Kategori" ,p.datebayar as tanggalbayar , sum(p.nominal) as Nominal
from penerimaan_2022 p 
full join mfwp m on (p."FULL"  = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.datebayar between '2022-01-01' and '2022-02-28') and (p.ket != 'SPMKP')
group by p."FULL" ,m."NAMA_WP",s."Kategori", p.datebayar
having sum(p.nominal) is not null 
order by Nominal desc;'''

In [70]:
data_2020 = pd.read_sql(kueri2020,con=conn)
data_2021 = pd.read_sql(kueri2021,con=conn)

In [71]:
data_2021.head()

,FULL,NAMA_WP,Kategori,tanggalbayar,nominal
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-11-30,1.263484e+11
1,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-01-29,1.073815e+11
2,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-07-23,8.635014e+10
3,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-05-31,8.437303e+10
4,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,2021-12-10,6.016712e+10

In [72]:
data_2022 = pd.read_sql(kueri2022,con=conn)

In [73]:
data_2020 = data_2020.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()
data_2021 = data_2021.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()
data_2022 = data_2022.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()

In [74]:
#data = pd.merge(data_2021,data_2022,on=['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],how='outer')
data = data_2020.append(data_2021).append(data_2022)

In [75]:
data = data.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()

In [76]:
data['tanggalbayar'] = pd.to_datetime(data['tanggalbayar'])

In [77]:
data.sort_values(by = 'tanggalbayar',ascending=False)

,FULL,NAMA_WP,Kategori,tanggalbayar,nominal
5928,013157086007000,MENSA BINASUKSES,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-28,6099600.0
61284,210446423006000,PACITAN SERIBU SATU GOA,Konstruksi,2022-02-28,3990000.0
71268,717380661011000,WINSONS PRATAMA CEMERLANG,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-28,33242354.0
33645,022458293007000,SELATAN JAYA PRIMA PERKASA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-28,5000000.0
3752,013059670007000,TRI SAPTA JAYA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-28,1835400.0
...,...,...,...,...,...
51326,029988102004000,BOSWELL MAHAKARYA INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2020-01-01,1812795.0
49600,029985207007000,PARIT PADANG GLOBAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2020-01-01,1690500.0
5284,013157086007000,MENSA BINASUKSES,Perdagangan Besar dan Eceran; Reparasi dan Per...,2020-01-01,14171796.0
54638,030966782008000,KANTOR JASA PENILAI PUBLIK DWI HARYANTONO AGUS...,Jasa Keuangan dan Asuransi,2020-01-01,7255455.0
9768,013602701008000,NAMBUR MARLATA,Konstruksi,2020-01-01,140681288.0

In [78]:
data.fillna('Non WP Madtim (NPWP 000)',inplace=True)

In [82]:
data.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_trend.xlsx',index=False)

In [ ]:
#data_long = data.melt(id_vars=['FULL','NAMA_WP','Kategori'],value_name='Nominal',var_name='Tahun')

In [ ]:
data_long.fillna('Non WP Madtim (NPWP 000)',inplace=True)
data_long = data_long.groupby(['FULL', 'NAMA_WP', 'Kategori','Tahun'],dropna=False).sum().reset_index()

In [ ]:
data_long

In [ ]:
data.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_day.xlsx',index=False)

In [ ]:
data['Tumbuh'] = (data.nominal_2022-data.nominal_2021)

In [ ]:
data = data.sort_values(by='Tumbuh',ascending=False)

In [ ]:
# data['Kategori'].where(
#     data['Kategori'].notna(),'Non WP Madtim',inplace=True
# )

In [ ]:
resume_persektor = data.pivot_table(index='Kategori',values=['nominal_2022','nominal_2021','Tumbuh'],aggfunc='sum').reset_index().sort_values(by='Tumbuh',ascending=False)

In [ ]:
resume_persektor.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor.xlsx',index=False)

In [ ]:
#data.to_excel(r'D:\DATA KANTOR\VSCODE\2022\2022_persektor_growth.xlsx',index=False)

In [ ]:
top10 = data.nlargest(10,'Tumbuh')
top10['ket'] = 'Top10'

In [ ]:
bottom10 = data.nsmallest(10,'Tumbuh')
bottom10['ket'] = 'Bottom10'

In [ ]:
topbottom10 = top10.append(bottom10)

In [ ]:
#topbottom10['WAJIB PAJAK'] = topbottom10['NAMA_WP']+"-"+topbottom10['Kategori'].str.upper()

In [ ]:
topbottom10.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_topbot.xlsx',index=False)