In [371]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [372]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [373]:
kueri2021 = '''select m."FULL" ,m."NAMA_WP"  ,mp."MAP",a.jenis_data,sum(a.jml_setor) as setor_2021
from penerimaan_2021 a
left join mfwp m 
	on a.npwp_penyetor = m."FULL" 
full join map_polos mp 
	on a.kd_map  = mp."KD MAP" 
where a.bulan_bayar = '1'
group by(m."FULL" ,m."NAMA_WP" ,mp."MAP",a.jenis_data);'''

In [374]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [375]:
data_2021.replace({'PBK KIRIM SEKANTOR':'PBK KIRIM','PBK KIRIM BEDA KANTOR':'PBK KIRIM',
'PBK TERIMA SEKANTOR':'PBK TERIMA','PBK TERIMA BEDA KANTOR':'PBK TERIMA','RESTITUSI':'SPMKP','VALAS':'MPN'},inplace=True)

In [376]:
data_2021.head()

              FULL                 NAMA_WP        MAP jenis_data    setor_2021
0  010007516007000                  INDRIA     PPh 21        MPN  3.838830e+07
1  010007516007000                  INDRIA  PPh Final        MPN  3.624120e+06
2  010007516007000                  INDRIA     PPN DN        MPN  1.309397e+08
3  010008068007000  KRAMA YUDHA RATU MOTOR     PPh 21        MPN  2.752262e+09
4  010008068007000  KRAMA YUDHA RATU MOTOR     PPh 23        MPN  1.428682e+08

In [377]:
kueri2022 = '''select m."FULL" ,m."NAMA_WP"  ,mp."MAP",a.ket,sum(a.nominal) as setor_2022
from penerimaan_2022 a
left join mfwp m 
	on a."FULL" = m."FULL" 
full join map_polos mp 
	on a."KD MAP"  = mp."KD MAP" 
where a.bulanbayar = '1'
group by(m."FULL" ,m."NAMA_WP" ,mp."MAP",a.ket);'''

In [378]:
data_2022 = pd.read_sql(kueri2022,con=conn)

In [379]:
data_2022.rename(columns={'ket':'jenis_data'},inplace=True)

In [380]:
data_2022.head()

              FULL                 NAMA_WP        MAP jenis_data    setor_2022
0  010007516007000                  INDRIA     PPh 21        MPN  4.719826e+07
1  010007516007000                  INDRIA     PPh 23        MPN  1.000000e+05
2  010007516007000                  INDRIA  PPh Final        MPN  4.099905e+06
3  010007516007000                  INDRIA     PPN DN        MPN  1.867597e+08
4  010008068007000  KRAMA YUDHA RATU MOTOR     PPh 21        MPN  1.158148e+09

In [381]:
data_2022.MAP.value_counts()

PPh 21                      752
PPN DN                      628
PPh 23                      577
PPh 25 Badan                455
PPh Final                   384
PPh 22 Impor                186
PPN Impor                   184
PPh 22                       81
PPh 26                       44
PPh 25 OP                    35
Bea Meterai                   7
PPnBM DN                      4
STP atas Bunga Penagihan      1
Name: MAP, dtype: int64

In [382]:
data_2022.setor_2022.sum()

-182492071429.0

In [383]:
data = pd.merge(data_2021,data_2022,on=['FULL', 'NAMA_WP', 'MAP','jenis_data'],how='outer')

In [384]:
data.head()

,FULL,NAMA_WP,MAP,jenis_data,setor_2021,setor_2022
0,010007516007000,INDRIA,PPh 21,MPN,3.838830e+07,4.719826e+07
1,010007516007000,INDRIA,PPh Final,MPN,3.624120e+06,4.099905e+06
2,010007516007000,INDRIA,PPN DN,MPN,1.309397e+08,1.867597e+08
3,010008068007000,KRAMA YUDHA RATU MOTOR,PPh 21,MPN,2.752262e+09,1.158148e+09
4,010008068007000,KRAMA YUDHA RATU MOTOR,PPh 23,MPN,1.428682e+08,3.353162e+08

In [385]:
data.setor_2022.sum()

-182255955460.0

In [386]:
data = data.groupby(['FULL', 'NAMA_WP', 'MAP', 'jenis_data'],dropna=False).sum().reset_index()

In [387]:
data.setor_2022.sum()

-182255955460.0

In [348]:
data.head()

,FULL,NAMA_WP,MAP,jenis_data,setor_2021,setor_2022
0,010007516007000,INDRIA,PPh 21,MPN,3.838830e+07,4.719826e+07
1,010007516007000,INDRIA,PPh Final,MPN,3.624120e+06,4.099905e+06
2,010007516007000,INDRIA,PPN DN,MPN,1.309397e+08,1.867597e+08
3,010008068007000,KRAMA YUDHA RATU MOTOR,PPh 21,MPN,2.752262e+09,1.158148e+09
4,010008068007000,KRAMA YUDHA RATU MOTOR,PPh 23,MPN,1.428682e+08,3.353162e+08

In [388]:
data.to_excel(r'D:\DATA KANTOR\VSCODE\2022\jan2022_perjenis_growth.xlsx',index=False)

In [350]:
data.setor_2022.sum()

-182255955460.0