In [83]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [84]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [85]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [86]:
kueri2021 = '''select p.npwp_penyetor as "FULL",m."NAMA_WP" ,s."Kategori",p.tgl_setor::date as tanggalbayar, sum(p.jml_setor) as Nominal_2021
from penerimaan_2021 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.tgl_setor between '2021-12-31' and '2022-02-28') and p.jenis_data != 'RESTITUSI' 
group by p.npwp_penyetor ,m."NAMA_WP",s."Kategori",p.tgl_setor::date
having sum(p.jml_setor) is not null 
order by Nominal_2021 desc ;'''

In [87]:
kueri2022 = '''select p."FULL" ,m."NAMA_WP" ,s."Kategori" ,p.datebayar as tanggalbayar , sum(p.nominal) as Nominal_2022
from penerimaan_2022 p 
full join mfwp m on (p."FULL"  = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.datebayar between '2021-12-31' and '2022-02-28') and (p.ket != 'SPMKP')
group by p."FULL" ,m."NAMA_WP",s."Kategori", p.datebayar
having sum(p.nominal) is not null 
order by Nominal_2022 desc;'''

In [88]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [89]:
data_2021.head()

,FULL,NAMA_WP,Kategori,tanggalbayar,nominal_2021
0,762285955005000,GUNADI PUTRA NUSANTARA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,2.913406e+09
1,029985207007000,PARIT PADANG GLOBAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,1.844016e+09
2,018445346009000,LANGGENG MAKMUR PERKASA,Konstruksi,2021-12-31,1.538170e+09
3,015427081007000,INDOMOBIL PRIMA NIAGA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,1.418640e+09
4,013473681007000,PP URBAN,Konstruksi,2021-12-31,1.207277e+09

In [90]:
data_2022 = pd.read_sql(kueri2022,con=conn)

In [91]:
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5935 entries, 0 to 5934
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FULL          5935 non-null   object
 1   NAMA_WP       5908 non-null   object
 2   Kategori      5908 non-null   object
 3   tanggalbayar  5935 non-null   object
 4   nominal_2022  5935 non-null   float64
dtypes: float64(1), object(4)
memory usage: 232.0+ KB

In [92]:
data_2021 = data_2021.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()
data_2022 = data_2022.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()

In [93]:
data = pd.merge(data_2021,data_2022,on=['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],how='outer')

In [94]:
data = data.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()

In [95]:
data['tanggalbayar'] = pd.to_datetime(data['tanggalbayar'])

In [96]:
data.sort_values(by = 'tanggalbayar',ascending=False)

,FULL,NAMA_WP,Kategori,tanggalbayar,nominal_2021,nominal_2022
4409,210446423006000,PACITAN SERIBU SATU GOA,Konstruksi,2022-02-28,0.0,3990000.0
3584,029985207007000,PARIT PADANG GLOBAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-28,0.0,2233925.0
500,013213350003000,TALENTA SUKMA SEJATI,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-28,0.0,584073.0
4650,315381756008000,TRANFEXCO INDONESIA,Konstruksi,2022-02-28,0.0,6015650.0
420,013157086007000,MENSA BINASUKSES,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-28,0.0,6099600.0
...,...,...,...,...,...,...
5931,864592183006000,CLARA ANUGERAH PUTRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,5225600.0,0.0
2814,024483059009000,BINTANG SHAFWAN,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,38815867.0,0.0
4963,704945807435000,PRATAMA WAHYU TEKNIK,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,128683444.0,0.0
2067,020564019007000,TIRTA VARIA INTIPRATAMA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,364863.0,0.0
1619,017835356008000,IMG BINA TRADA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,275000.0,0.0

In [101]:
data.fillna('Non WP Madtim (NPWP 000)',inplace=True)

In [103]:
data.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_trend.xlsx',index=False)

In [ ]:
#data_long = data.melt(id_vars=['FULL','NAMA_WP','Kategori'],value_name='Nominal',var_name='Tahun')

In [ ]:
data_long.fillna('Non WP Madtim (NPWP 000)',inplace=True)
data_long = data_long.groupby(['FULL', 'NAMA_WP', 'Kategori','Tahun'],dropna=False).sum().reset_index()

In [ ]:
data_long

In [ ]:
data.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_day.xlsx',index=False)

In [ ]:
data['Tumbuh'] = (data.nominal_2022-data.nominal_2021)

In [ ]:
data = data.sort_values(by='Tumbuh',ascending=False)

In [ ]:
# data['Kategori'].where(
#     data['Kategori'].notna(),'Non WP Madtim',inplace=True
# )

In [ ]:
resume_persektor = data.pivot_table(index='Kategori',values=['nominal_2022','nominal_2021','Tumbuh'],aggfunc='sum').reset_index().sort_values(by='Tumbuh',ascending=False)

In [ ]:
resume_persektor.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor.xlsx',index=False)

In [ ]:
#data.to_excel(r'D:\DATA KANTOR\VSCODE\2022\2022_persektor_growth.xlsx',index=False)

In [ ]:
top10 = data.nlargest(10,'Tumbuh')
top10['ket'] = 'Top10'

In [ ]:
bottom10 = data.nsmallest(10,'Tumbuh')
bottom10['ket'] = 'Bottom10'

In [ ]:
topbottom10 = top10.append(bottom10)

In [ ]:
#topbottom10['WAJIB PAJAK'] = topbottom10['NAMA_WP']+"-"+topbottom10['Kategori'].str.upper()

In [ ]:
topbottom10.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_topbot.xlsx',index=False)