In [187]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [188]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [189]:
kueri2021 = '''select m."FULL" ,m."NAMA_WP",mp."MAP",sum(a.jml_setor) as setor_2021
from penerimaan_2021 a
left join mfwp m 
	on a.npwp_penyetor = m."FULL" 
left join map_polos mp 
	on a.kd_map  = mp."KD MAP" 
where a.bulan_bayar = '1' and a.jenis_data != 'RESTITUSI'
group by(m."FULL" ,m."NAMA_WP",mp."MAP");'''

In [190]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [191]:
data_2021.replace({'PBK KIRIM SEKANTOR':'PBK KIRIM','PBK KIRIM BEDA KANTOR':'PBK KIRIM',
'PBK TERIMA SEKANTOR':'PBK TERIMA','PBK TERIMA BEDA KANTOR':'PBK TERIMA','RESTITUSI':'SPMKP','VALAS':'MPN'},inplace=True)

In [192]:
#data_2021.head()

In [193]:
kueri2022 = '''select m."FULL" ,m."NAMA_WP",mp."MAP",sum(a.nominal) as setor_2022
from penerimaan_2022 a
left join mfwp m 
	on a."FULL" = m."FULL" 
left join map_polos mp 
	on a."KD MAP"  = mp."KD MAP" 
where a.bulanbayar = '1' AND a.ket != 'SPMKP'
group by(m."FULL" ,m."NAMA_WP",mp."MAP");'''

In [194]:
data_2022 = pd.read_sql(kueri2022,con=conn)

In [195]:
#data_2021[data_2021['FULL']=='316771872003000']

In [196]:
data_2022.setor_2022.sum()

702817995997.0

In [197]:
data_2021.setor_2021.sum()

791016264567.04

In [198]:
data_2021 = data_2021.groupby(['FULL','NAMA_WP','MAP'],dropna=False).sum().reset_index()
data_2022 = data_2022.groupby(['FULL','NAMA_WP', 'MAP'],dropna=False).sum().reset_index()

In [199]:
data = pd.merge(data_2021,data_2022,on=['FULL', 'NAMA_WP','MAP'],how='outer')

In [200]:
data_2022.setor_2022.sum()

702817995997.0

In [201]:
data = data.groupby(['FULL', 'NAMA_WP', 'MAP'],dropna=False).sum().reset_index()

In [202]:
data.setor_2022.sum()

702817995997.0

In [203]:
topbottom10= data.groupby(['FULL', 'NAMA_WP', 'MAP'],dropna=False).sum().reset_index()

In [204]:
#topbottom10.to_excel(r'D:\DATA KANTOR\VSCODE\2022\zxc.xlsx',index=False)

In [205]:
topbottom10['Growth'] = data.setor_2022-data.setor_2021

In [206]:
topbottom10.sort_values('Growth', ascending=False)

,FULL,NAMA_WP,MAP,setor_2021,setor_2022,Growth
1170,020532339043000,DWIJALLA KARSA,PPN DN,0.000000e+00,1.959109e+10,1.959109e+10
1607,023882145073000,UNITED EQUIPMENT INDONESIA,PPN Impor,1.195336e+09,1.314825e+10,1.195291e+10
4,010008068007000,KRAMA YUDHA RATU MOTOR,PPN DN,1.343912e+08,8.214788e+09,8.080397e+09
2813,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 23,3.888855e+09,1.122195e+10,7.333096e+09
2811,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 22,5.183574e+09,1.213207e+10,6.948496e+09
...,...,...,...,...,...,...
2741,315559328003000,MITRA PANGAN NUSANTARA,PPh 21,1.514197e+10,9.306964e+06,-1.513267e+10
646,015960529011000,ASMIN BARA BRONANG,PPh 25 Badan,1.578351e+10,0.000000e+00,-1.578351e+10
1049,019201151007000,MEDIKALOKA HERMINA Tbk,PPh 25 Badan,2.221455e+10,2.351207e+09,-1.986335e+10
509,015480486007000,FASTRATA BUANA,PPN DN,2.793388e+10,6.898480e+05,-2.793319e+10
2808,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPN DN,1.073815e+11,3.871691e+10,-6.866455e+10

In [207]:
top10 = topbottom10.nlargest(10,columns='Growth')

In [208]:
top10

,FULL,NAMA_WP,MAP,setor_2021,setor_2022,Growth
1170,020532339043000,DWIJALLA KARSA,PPN DN,0.000000e+00,1.959109e+10,1.959109e+10
1607,023882145073000,UNITED EQUIPMENT INDONESIA,PPN Impor,1.195336e+09,1.314825e+10,1.195291e+10
4,010008068007000,KRAMA YUDHA RATU MOTOR,PPN DN,1.343912e+08,8.214788e+09,8.080397e+09
2813,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 23,3.888855e+09,1.122195e+10,7.333096e+09
2811,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 22,5.183574e+09,1.213207e+10,6.948496e+09
645,015960529011000,ASMIN BARA BRONANG,PPh 23,1.665113e+08,6.207064e+09,6.040552e+09
76,013036694073000,PENERBIT BUKU ERLANGGAMAHAMERU,PPN DN,6.165861e+07,5.230905e+09,5.169246e+09
831,017350976007000,ROYAL SUTAN AGUNG,PPN Impor,1.089076e+10,1.595907e+10,5.068309e+09
197,013176284007000,BINA PERTIWI,PPN Impor,2.366078e+09,7.312089e+09,4.946011e+09
60,013017280007000,WASA MITRA ENGINEERING,PPN DN,2.225995e+09,6.902679e+09,4.676684e+09

In [209]:
bottom10 = topbottom10.nsmallest(10,columns='Growth')

In [210]:
top10['ket'] = 'Top10'

In [211]:
bottom10['ket'] = 'Bottom10'

In [212]:
topbottom10 = top10.append(bottom10)

In [213]:
topbottom10['WAJIB PAJAK'] = topbottom10['NAMA_WP']+"-"+topbottom10['MAP'].str.upper()

In [214]:
topbottom10.to_excel(r'E:\NEXTCLOUD\PKD\LAPORAN\PENERIMAAN 2021\1.2022_TopBottom10_Per Jenis.xlsx',index=False)