In [26]:
import pandas as pd

In [27]:
cabang = pd.read_excel('D:\DATA KANTOR\PKD\cabangterdampak.xlsx', engine='openpyxl',dtype={'NPWP':'str'})

In [28]:
cabang = cabang.drop('NO',axis=1)

In [29]:
cabang.tail()

    NPWP NAMA WAJIB PAJAK KPP LAMA KPP BARU   AR SEKSI
894  NaN              NaN      NaN      NaN  NaN   NaN
895  NaN              NaN      NaN      NaN  NaN   NaN
896  NaN              NaN      NaN      NaN  NaN   NaN
897  NaN              NaN      NaN      NaN  NaN   NaN
898  NaN              NaN      NaN      NaN  NaN   NaN

In [30]:
cabang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NPWP              243 non-null    object
 1   NAMA WAJIB PAJAK  243 non-null    object
 2   KPP LAMA          243 non-null    object
 3   KPP BARU          243 non-null    object
 4   AR                243 non-null    object
 5   SEKSI             243 non-null    object
dtypes: object(6)
memory usage: 42.3+ KB

In [34]:
cabang = cabang.loc[0:244]

In [35]:
cabang

,NPWP,NAMA WAJIB PAJAK,KPP LAMA,KPP BARU,AR,SEKSI
0,013642285007001,ADI CITRA ANGGANA,KPP MADYA JAKARTA TIMUR,KPP MADYA JAKARTA TIMUR,Donny Setiawan,Pengawasan VI
1,061887543003999,AGUS SETIAWAN FS,KPP PRATAMA JAKARTA PULOGADUNG,KPP MADYA JAKARTA TIMUR,Novinasari Fanani,Pengawasan V
2,015551898007001,AKUR PRATAMA,KPP MADYA JAKARTA TIMUR,KPP MADYA JAKARTA TIMUR,Muhamad Fatan,Pengawasan V
3,015551898007002,AKUR PRATAMA,KPP MADYA JAKARTA TIMUR,KPP MADYA JAKARTA TIMUR,Muhamad Fatan,Pengawasan V
4,063937494002001,NI NYOMAN HARTATI,KPP PRATAMA JAKARTA JATINEGARA,KPP MADYA JAKARTA TIMUR,Robinhot S,Pengawasan IV
...,...,...,...,...,...,...
239,071642862043001,WIJAYA SURYA,KPP PRATAMA JAKARTA KELAPA GADING,KPP MADYA JAKARTA TIMUR,Widy Subiono,Pengawasan II
240,071642862015001,LO SILVY,KPP PRATAMA JAKARTA TEBET,KPP MADYA JAKARTA TIMUR,Widy Subiono,Pengawasan II
241,013692660007002,WIRA GULFINDO SARANA,KPP MADYA JAKARTA TIMUR,KPP MADYA JAKARTA TIMUR,DANIEL ALBERT SANTO,Pengawasan III
242,013692660007001,WIRA GULFINDO SARANA,KPP MADYA JAKARTA TIMUR,KPP MADYA JAKARTA TIMUR,DANIEL ALBERT SANTO,Pengawasan III
243,NaN,NaN,NaN,NaN,NaN,NaN