In [2]:
import pandas as pd
# import dask.dataframe as dd

from sqlalchemy import create_engine
import mysql.connector as mysql
# from pyspark.sql import SparkSession

# spark = SparkSession.builder.master('local[*]').getOrCreate()
# mpninfo = create_engine("mysql://admin:A1110PF@10.4.19.15/mpninfo")
# tableau = create_engine("mysql://sugengw07:sgwi2341@10.4.19.215/tableau")
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")
# conn_warehouse = create_engine("mysql://madtim:Ceria007@10.4.19.15/007_datawarehouse")

In [3]:
k1 = '''
select p."MAP" ,p.kdbayar,p.datebayar ,p.ket ,p."FLAG_PPM_PKM" ,p."NAMA_KLU" ,p."JENIS_WP" ,p.klu_nama ,p."Kategori" , 
sum(p.nominal) as "PPh 29 OP/BADAN KJS200"
from ppmpkm2022 p 
where p.kdmap in('411125','411126') and p.kdbayar ='200' and p.tahun = 2021
group by p."MAP" ,p.kdbayar,p.datebayar ,p.ket ,p."FLAG_PPM_PKM" ,p."NAMA_KLU" ,p."JENIS_WP" ,p.klu_nama ,p."Kategori"
'''

k2 = '''SELECT * FROM ppmpkm2022 where bulanbayar<7 and ket in('PBK KIRIM','PBK TERIMA') '''

In [4]:
data_mpnspm = pd.read_sql(k1, con=conn)
# data_mpnspm = pd.read_sql(k2, con=conn)

In [6]:
data_mpnspm.to_excel(r'D:\PPh29KJS200.xlsx',index=False)

In [240]:
p3 = pd.read_excel(r'D:\DATA KANTOR\P3\PKM Pemeriksaan Penagihan Jan-Jun 2022.xlsx',parse_dates=['TGL SETOR'],
                   dtype={'NPWP':'str','KODE MAP':'str','KJS':'str','MASA PAJAK':'str'})
p3.drop(['KANWIL','KPP'],axis=1,inplace=True)
p3.columns = p3.columns.str.lower()
p3['masa'] = p3['masa pajak'].str[:2]
p3['masa2'] = p3['masa pajak'].str[2:4]

In [241]:
p3[p3['sumber data']!='MPN']['jumlah setor'].sum()

18067748367

In [242]:
def sanding(data, p3):
    p3_mpn = p3[p3['sumber data']=='MPN']
    data_mpn = pd.merge(data,p3_mpn[['npwp','kode map','kjs','tgl setor','masa','masa2','jumlah setor','ntpn','no skp']],on=['ntpn'], how='left')
    
    p3_spm = p3[p3['sumber data']=='SPM']
    data_spm = pd.merge(data)

    data_1.columns = data_1.columns.str.replace('_x','')
    data_1.drop(['index', 'npwp_y', 'kode map', 'kjs', 'tgl setor', 'masa_y','masa2_y'],axis=1,inplace=True)

In [244]:
p3_nonmpn = p3[p3['sumber data']!='MPN']
data_2 = pd.merge(data, p3_nonmpn[['npwp','kode map','kjs','tgl setor','masa','masa2','jumlah setor','ntpn','no skp']], 
                        left_on=['masa','masa2','nosk'],right_on=['masa','masa2','no skp'], how='left')
data_2.columns = data_2.columns.str.replace('_x','')
data_2.drop(['index', 'npwp_y', 'kode map', 'kjs', 'tgl setor','masa_y','masa2_y','ntpn_y'],axis=1,inplace=True)

In [245]:
data_2['jumlah setor'].sum()

16330212562.0

In [246]:
data = pd.concat([data_1, data_2], axis=0)

In [247]:
data.to_excel(r'D:\DATA KANTOR\P3\cek.xlsx',index=False)

In [212]:
data[data['JENIS_PPM_PKM']!='PENGAWASAN'][['nominal','jumlah setor','nosk','no skp']]

In [219]:
data_1['nominal'].sum()

270706841556

In [175]:
data_2['jumlah setor'].sum()

9708617230.0

In [110]:
def sanding(data,p3):
    p3_mpn = p3[p3['sumber data']=='MPN']
    data_1 = pd.merge(data,p3_mpn[['npwp','kode map','kjs','tgl setor','masa','masa2','jumlah setor','ntpn']],on=['ntpn'], how='left')
    data_1.drop(['npwp_y', 'kode map', 'kjs', 'tgl setor', 'masa_y','masa2_y','ntpn'],axis=1,inplace=True)

    p3_nonmpn = p3[p3['sumber data']!='MPN']
    data_2 = pd.merge(data, p3_nonmpn[['npwp','kode map','kjs','tgl setor','masa','masa2','jumlah setor','ntpn']], 
                        left_on=['FULL','kdmap','kdbayar','datebayar','masa','masa2'],right_on=['npwp','kode map','kjs','tgl setor','masa','masa2'], how='left')
    data_2.drop(['npwp_y', 'kode map', 'kjs', 'tgl setor'],axis=1,inplace=True)
    data = pd.concat([data_1, data_2], axis=0)
    return data

In [111]:
sanding = sanding(data,p3)

KeyError: "['masa_y', 'masa2_y', 'ntpn'] not found in axis"

In [81]:
sanding.columns

Index(['index', 'npwp_x', 'kpp', 'cabang', 'kdmap', 'kdbayar', 'masa_x',
       'masa2_x', 'tahun', 'tanggalbayar', 'bulanbayar', 'datebayar',
       'nominal', 'ntpn', 'nosk', 'nospm', 'ket', 'tahunsk', 'tahunbayar',
       'FLAG_PPM_PKM', 'JENIS_PPM_PKM', 'MAP', 'FULL', 'NAMA_WP', 'NAMA_AR',
       'SEKSI', 'NAMA_KLU', 'KODE_KLU', 'JENIS_WP', 'klu_nama', 'klu_sektor',
       'Kategori', 'npwp_y', 'kode map', 'kjs', 'tgl setor', 'masa_y',
       'masa2_y', 'jumlah setor', 'masa', 'masa2', 'ntpn_x', 'ntpn_y'],
      dtype='object')

In [ ]:
short_surp_kueri = '''select t2."FULL",t2."NAMA_WP",sum(t2."JUMLAH2022") as "2022", sum(t1."JUMLAH2021") as "2021" 
from tahun2022_netto t2
full join tahun2021_netto t1 using("FULL")
where t2."BULANBAYAR" =4
group by t2."FULL",t2."NAMA_WP"'''

In [ ]:
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark

In [ ]:
data2020 = spark.read.csv(r'D:\DATA KANTOR\PENERIMAAN\EXISTING Q2 2022\007 MPN 2020-2021\007 MPN 2020.csv',
inferSchema=True, header=True)

In [ ]:
kueri2021 = '''select m.DIM_SBR_DATA, m.NPWP ,m.NAMA_WP ,m.ALAMAT ,m.KD_MAP ,
m.KD_SETOR ,m.MASA_PAJAK ,m.NO_SK,m.TGL_SETOR,m.NTPN,
m.JML_SETOR,m.NO_SPM ,month(m.TGL_SETOR) as "BULANBAYAR", day(m.TGL_SETOR) as TANGGALBAYAR
from mpn_2020 m 
where m.TGL_SETOR between '2021-01-01' and '2021-12-31'
'''

In [ ]:
data2021 = pd.read_sql(kueri2021,con=conn_warehouse)

In [ ]:
idsbr = pd.read_clipboard(dtype={'ID_SBR_DATA':'str'})

In [ ]:
idsbr.to_sql('ID_SBR_DATA',index=False,con=conn)

In [ ]:
data2021.to_sql('mpn2021_coro',index=False, if_exists='replace', con=conn)

In [ ]:
mpn = pd.read_csv(r'D:\DATA KANTOR\PENERIMAAN\EXISTING Q2 2022\007 MPN 2020-2021\007 MPN 2020.csv',header=[0],parse_dates=['TGL_SETOR'],
dtype={'DIM_SBR_DATA':'str', 'NPWP':'str','KPPADM_SETOR':'str','KPPADM':'str','ID_MS_TH_PJK_1':'str','ID_MS_TH_PJK_2':'str',
'MASA_PAJAK':'str','NOP':'str','NO_SPM':'str'})

In [ ]:
import datetime
end19 = datetime.datetime(2019,12,31)

In [ ]:
mpn2020 = mpn[mpn['TGL_SETOR']>end19]

In [ ]:
mpn2021 = pd.read_csv(r'D:\DATA KANTOR\PENERIMAAN\EXISTING Q2 2022\007 MPN 2020-2021\007 MPN 2021.csv',header=[0],parse_dates=['TGL_SETOR'],
dtype={'DW_SK':'str','DIM_SBR_DATA':'str', 'NPWP':'str','KPPADM_SETOR':'str','KPPADM':'str','KD_BANK':'str','ID_MS_TH_PJK_1':'str','ID_MS_TH_PJK_2':'str',
'ID_BILLING':'str', 'ID_MAP_KJS':'str','KPPADM_PEMBUAT_BILLING':'str','MASA_PAJAK':'str','KD_CAB_BANK':'str','NOP':'str'})

In [ ]:
mpn2020 = mpn2020[['DIM_SBR_DATA', 'NPWP', 'NAMA_WP', 'ALAMAT', 'KPPADM_SETOR','KPPADM', 'KD_MAP', 'KD_SETOR', 'MASA_PAJAK', 'NO_SK','TGL_SETOR', 
'NTPN', 'JML_SETOR', 'ID_MS_TH_PJK_1','ID_MS_TH_PJK_2','NOP', 'NO_SPM']]

mpn2021 = mpn2021[['DIM_SBR_DATA', 'NPWP', 'NAMA_WP', 'ALAMAT', 'KPPADM_SETOR','KPPADM', 'KD_MAP', 'KD_SETOR', 'MASA_PAJAK', 'NO_SK','TGL_SETOR', 
'NTPN', 'JML_SETOR', 'ID_MS_TH_PJK_1','ID_MS_TH_PJK_2','NOP', 'NO_SPM']]

In [ ]:
mpn2020.fillna('',inplace=True)
#mpn2021.fillna('',inplace=True)

In [ ]:
mpn2020.head()

In [ ]:
mpn2020.TGL_SETOR.max()

In [ ]:
mpn2021.columns

In [ ]:
df20 = dd.from_pandas(mpn2020,npartitions=1)
df21 = dd.from_pandas(mpn2021,npartitions=1)

In [ ]:
df20.head()

In [ ]:
#mpn2021.to_sql(r'D:\DATA KANTOR\PENERIMAAN\EXISTING Q2 2022\007 MPN 2020-2021\mpn.parquet')

In [ ]:
mpn2021.to_sql('mpn_2021',if_exists='replace',index=False, con=conn_warehouse)

In [ ]:
data2020.limit(5)

In [ ]:
data2020.dtypes

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from pandasql import sqldf

mpninfo_conn = create_engine('mysql://sugengw07:sgwi2341@10.4.19.215/mpninfo')
psql_conn = create_engine('postgresql://postgres:sgwi2341@10.4.19.215/penerimaan')
datawarehouse_conn = create_engine('mysql://madtim:Ceria007@10.4.19.15/007_datawarehouse')
pysqldf = lambda q: sqldf(q,globals())

In [3]:

janmar = '''select  m.DIM_SBR_DATA,m.NPWP as "FULL" ,left(m.NPWP,9)as npwp,mid(m.NPWP,10,3)as kpp,right(m.NPWP,3)as cabang,m.NAMA_WP as nama , 
m.KD_MAP as kdmap,m.KD_SETOR as kdbayar,left(m.MASA_PAJAK,2) as masa ,mid(m.MASA_PAJAK,3,2) as masa2,
right(m.MASA_PAJAK,4) as tahun,day(m.TGL_SETOR) as tanggalbayar,
month(m.TGL_SETOR) as bulanbayar, m.TGL_SETOR  as datebayar, 
m.JML_SETOR as nominal, m.NTPN as ntpn,m.NO_SK as nosk,
right(NO_SK,2)as tahunsk, m.NO_SPM as nospm, year(m.TGL_SETOR) as tahunbayar
from mpn_2020 m 
where year(m.TGL_SETOR) = 2022 and m.TGL_SETOR < '2022-04-01' '''


existing_janmar22 = pd.read_sql(janmar,con=datawarehouse_conn)
existing_up = pd.read_sql('select * from public.ppmpkm2022 p  where p.bulanbayar>3',con=psql_conn)

kdmap = pd.read_sql('select * from map_polos',con=psql_conn)
existing_janmar22 = pd.merge(existing_janmar22,kdmap, left_on='kdmap', right_on='KD MAP', how='left')

existing_janmar22['FULL']=existing_janmar22['FULL'].astype('str')
mfwp = pd.read_sql('select "FULL","NAMA_WP","NAMA_AR","SEKSI","NAMA_KLU","JENIS_WP" from mfwp_sblm_042022',con=psql_conn)
existing_janmar22 = pd.merge(existing_janmar22,mfwp,on=['FULL'],how='left')

In [6]:
existing_janmar22

,DIM_SBR_DATA,FULL,npwp,kpp,cabang,nama,kdmap,kdbayar,masa,masa2,...,tahunsk,nospm,tahunbayar,KD MAP,MAP,NAMA_WP,NAMA_AR,SEKSI,NAMA_KLU,JENIS_WP
0,1,029985207007000,029985207,007,000,PARIT PADANG GLOBAL,411211,920,01,01,...,00,,2022,411211,PPN DN,PARIT PADANG GLOBAL,Agus Widodo,Pengawasan V,PERDAGANGAN BESAR FARMASI,BADAN
1,1,029985207007000,029985207,007,000,PARIT PADANG GLOBAL,411211,920,12,12,...,00,,2022,411211,PPN DN,PARIT PADANG GLOBAL,Agus Widodo,Pengawasan V,PERDAGANGAN BESAR FARMASI,BADAN
2,1,029985207007000,029985207,007,000,PARIT PADANG GLOBAL,411211,920,01,01,...,00,,2022,411211,PPN DN,PARIT PADANG GLOBAL,Agus Widodo,Pengawasan V,PERDAGANGAN BESAR FARMASI,BADAN
3,1,029985207007000,029985207,007,000,PARIT PADANG GLOBAL,411122,910,01,01,...,00,,2022,411122,PPh 22,PARIT PADANG GLOBAL,Agus Widodo,Pengawasan V,PERDAGANGAN BESAR FARMASI,BADAN
4,1,029985207007000,029985207,007,000,PARIT PADANG GLOBAL,411122,920,01,01,...,00,,2022,411122,PPh 22,PARIT PADANG GLOBAL,Agus Widodo,Pengawasan V,PERDAGANGAN BESAR FARMASI,BADAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56026,1,707750188008000,707750188,008,000,ARISTA SUKSES MANDIRI,411122,900,11,11,...,00,,2022,411122,PPh 22,ARISTA SUKSES MANDIRI,Daniel Albert Santo,Pengawasan III,PERDAGANGAN BESAR MOBIL BARU,BADAN
56027,1,707750188008000,707750188,008,000,ARISTA SUKSES MANDIRI,411211,900,02,02,...,00,,2022,411211,PPN DN,ARISTA SUKSES MANDIRI,Daniel Albert Santo,Pengawasan III,PERDAGANGAN BESAR MOBIL BARU,BADAN
56028,1,707750188008000,707750188,008,000,ARISTA SUKSES MANDIRI,411121,100,01,01,...,00,,2022,411121,PPh 21,ARISTA SUKSES MANDIRI,Daniel Albert Santo,Pengawasan III,PERDAGANGAN BESAR MOBIL BARU,BADAN
56029,1,707750188008000,707750188,008,000,ARISTA SUKSES MANDIRI,411122,900,12,12,...,00,,2022,411122,PPh 22,ARISTA SUKSES MANDIRI,Daniel Albert Santo,Pengawasan III,PERDAGANGAN BESAR MOBIL BARU,BADAN
56030,1,707750188008000,707750188,008,000,ARISTA SUKSES MANDIRI,411211,920,03,03,...,00,,2022,411211,PPN DN,ARISTA SUKSES MANDIRI,Daniel Albert Santo,Pengawasan III,PERDAGANGAN BESAR MOBIL BARU,BADAN