In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import os

In [2]:
folder = os.chdir(r'D:\DATA KANTOR\APPROWEB\DATA PEMICU\13 September2021\Global')
files = os.listdir(folder)

In [3]:
print(files)

['2016.html', '2016_files', '2017.html', '2017_files', '2018.html', '2018_files', '2019.html', '2019_files', '2020.html', '2020_files', '2021.html', '2021_files', 'Semua Tahun.html', 'Semua Tahun_files', 'Semuatahun.xlsx']

In [4]:
data = pd.read_excel(files[-1])

In [5]:
data

,Unnamed: 0,Unnamed: 1,Jumlah_Belum Ditindaklanjuti,Nilai_Belum Ditindaklanjuti,Jumlah_Ditindaklanjuti,Nilai_Ditindaklanjuti,Jumlah_Ditindaklanjuti Wajib Pajak,Nilai_Ditindaklanjuti Wajib Pajak,Jumlah,Nilai
0,1.0,Seksi Pengawasan I,31.201,17.829.705.789.837,6.314,3.914.352.473.181,1.587,1.379.822.655.513,39.102,23.123.880.918.531
1,2.0,Seksi Pengawasan II,2.925,8.522.638.982.124,5.064,679.118.296.356,1.110,779.819.866.864,9.099,9.981.577.145.343
2,3.0,Seksi Pengawasan III,5.060,4.288.013.471.219,1.669,2.282.602.555.339,910.000,1.507.498.838.565,7.639,8.078.114.865.123
3,4.0,Seksi Pengawasan IV,3.544,2.127.609.379.769,1.163,613.526.696.029,320.000,63.070.587.106,5.027,2.804.206.662.904
4,5.0,Seksi Pengawasan V,7.193,3.805.313.432.725,3.551,63.529.946.829,598.000,508.742.034.938,11.342,4.377.585.414.491
5,6.0,Seksi Pengawasan VI,16.417,5.092.072.467.386,8.733,925.667.368.790,297.127,899.041.484.140,322.277,6.916.781.320.317
6,NaN,Jumlah,66.340,41.665.353.523.060,26.494,8.478.797.336.523,301.652,5.137.995.467.127,394.486,55.282.146.326.709

In [6]:
data.drop('Unnamed: 0',axis=1, inplace=True)

In [7]:
data['Jumlah_Belum Ditindaklanjuti']

0    31.201
1     2.925
2     5.060
3     3.544
4     7.193
5    16.417
6    66.340
Name: Jumlah_Belum Ditindaklanjuti, dtype: float64

In [8]:
for kolom in data.columns:
    data[kolom] = data[kolom].astype('str')
    data[kolom] = data[kolom].str.replace('.', '')

C:\Users\Sugengw07\AppData\Local\Temp/ipykernel_18400/4261148885.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data[kolom] = data[kolom].str.replace('.', '')

In [9]:
for kolom in data.columns[1:]:
    data[kolom] = data[kolom].astype('int64')

In [10]:
data.rename(columns={'Unnamed: 1':'Seksi'}, inplace=True)
data

,Seksi,Jumlah_Belum Ditindaklanjuti,Nilai_Belum Ditindaklanjuti,Jumlah_Ditindaklanjuti,Nilai_Ditindaklanjuti,Jumlah_Ditindaklanjuti Wajib Pajak,Nilai_Ditindaklanjuti Wajib Pajak,Jumlah,Nilai
0,Seksi Pengawasan I,31201,17829705789837,6314,3914352473181,1587,1379822655513,39102,23123880918531
1,Seksi Pengawasan II,2925,8522638982124,5064,679118296356,111,779819866864,9099,9981577145343
2,Seksi Pengawasan III,506,4288013471219,1669,2282602555339,9100,1507498838565,7639,8078114865123
3,Seksi Pengawasan IV,3544,2127609379769,1163,613526696029,3200,63070587106,5027,2804206662904
4,Seksi Pengawasan V,7193,3805313432725,3551,63529946829,5980,508742034938,11342,4377585414491
5,Seksi Pengawasan VI,16417,5092072467386,8733,925667368790,297127,899041484140,322277,6916781320317
6,Jumlah,6634,41665353523060,26494,8478797336523,301652,5137995467127,394486,55282146326709

In [11]:
import streamlit as st