In [40]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [41]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [42]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [43]:
netto21 = pd.read_sql('select * from netto2021;',con=db_conn)

In [44]:
netto21.to_sql('netto2021',if_exists='replace',index = False,con=conn)

In [45]:
netto20 = pd.read_sql('select * from netto2020;',con=db_conn)

In [46]:
netto20.to_sql('netto2020',if_exists='replace',index = False,con=conn)

In [ ]:
mfwp = pd.read_sql

In [28]:
data = pd.read_excel(r'D:\DATA KANTOR\LAPORAN\usulan22.xlsx',sheet_name='2021',
dtype={'npwp_penyetor':'str', 'kd_setor':'str','masa_pjk':'str','masa_pajak':'str','tahun_pajak':'str','bulan_bayar':'str', 'tahun_bayar':'str','kd_map':'str'})

In [29]:
mf = pd.read_excel(r'E:\NEXTCLOUD\DATA\DATABASE\Masterfile-007-2022.xlsx',usecols=['FULL','KODE_KLU','NAMA_KLU'],dtype={'FULL':'str','KODE_KLU':'str'})

In [30]:
hitung = pd.merge(data,mf,left_on='npwp_penyetor',right_on='FULL',how='left')

In [31]:
klu = pd.read_excel(r'E:\NEXTCLOUD\DATA\DATABASE\0_DIM_KLU.xlsx',sheet_name='SQLExport',usecols=['KD_KLU','KD_KATEGORI','NM_KATEGORI'],dtype={'KD_KLU':'str'})

In [35]:
klu[klu['KD_KLU']=='45101']

    KD_KLU KD_KATEGORI                                        NM_KATEGORI
717  45101           G  PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...

In [32]:
hitung = pd.merge(hitung,klu,left_on='KODE_KLU',right_on='KD_KLU',how='left')

In [ ]:
hitung.drop(['FULL','KD_KLU'],axis=1,inplace=True)

In [34]:
hitung.to_excel(r'D:\DATA KANTOR\LAPORAN\hasil.xlsx',index=False)