In [3]:
import pandas as pd
from sqlalchemy import create_engine

conn = create_engine('postgresql://postgres:sgwi2341@10.4.19.215/penerimaan')
db_conn = create_engine('mysql://sugengw07:sgwi2341@10.4.19.215/mpninfo')
kueri = '''SELECT admin,
       npwp,
       kpp,
       cabang,
       nama,
       kdmap,
       kdbayar,
       masa,
       tahun,
       tanggalbayar,
       bulanbayar,
       tahunbayar,
       datebayar,
       nominal,
       ntpn,
       bank,
       nosk,
       nospm,
       tipe,
       source,
       extra,
       billing,
       nop,
       pembuat,
       CASE
         WHEN SOURCE = 1 THEN 'MPN'
         ELSE 'SPM'
       END AS ket
FROM MPN
WHERE (tahunbayar) = '2022'
UNION ALL
SELECT admin,
       npwp,
       kpp,
       cabang,
       '',
       kdmap,
       '',
       '',
       '',
       DAY(tanggal) AS TANGGALBAYAR,
       BULAN,
       TAHUN,
       tanggal,
       NOMINAL*-1,
       '',
       '',
       '',
       '',
       '',
       3 AS SOURCE,
       '',
       '',
       '',
       '',
       'SPMKP' AS ''
FROM spmkp
WHERE (TAHUN) = '2022'
UNION ALL
SELECT A.admin,
       A.npwp,
       A.kpp,
       A.cabang,
       A.nama,
       kdmap,
       kdbayar,
       masapajak,
       tahunpajak,
       DAY(TANGGALDOC) AS TANGGALBAYAR,
       MONTH(TANGGALDOC) BULAN,
       YEAR(TANGGALDOC) TAHUN,
       TANGGALDOC,
       NOMINAL*-1,
       ntpn,
       '',
       nopbk,
       '',
       '',
       4 AS SOURCE,
       '',
       '',
       '',
       '',
       'PBK KIRIM' AS ''
FROM PBK A
  INNER JOIN MASTERFILE B ON A.NPWP = B.NPWP
WHERE YEAR(TANGGALDOC) = '2022'
AND   A.KPP = B.KPP
AND   A.CABANG = B.CABANG
UNION ALL
SELECT A.ADMIN,
       npwp2,
       kpp2,
       cabang2,
       nama2,
       kdmap2,
       kdbayar2,
       masapajak2,
       tahunpajak2,
       DAY(TANGGALDOC) AS TANGGALBAYAR,
       MONTH(TANGGALDOC) BULAN,
       YEAR(TANGGALDOC) TAHUN,
       TANGGALDOC,
       NOMINAL,
       ntpn,
       '',
       nopbk,
       '',
       '',
       5 AS SOURCE,
       '',
       '',
       '',
       '',
       'PBK TERIMA' AS ''
FROM PBK A
  INNER JOIN MASTERFILE B ON A.NPWP2 = B.NPWP
WHERE YEAR(TANGGALDOC) = '2022'
AND   A.KPP2 = B.KPP
AND   A.CABANG2 = B.CABANG;
'''

In [4]:
mpn_union = pd.read_sql(kueri,con=db_conn)

In [5]:
mpn_union[mpn_union['bulanbayar']==2].nominal.sum()

641270457546.0

In [6]:
mfwp = pd.read_sql('select * from mfwp',con=conn)

In [7]:
mfwp = mfwp[['FULL', 'NAMA_WP', 'JENIS_WP', 'KODE_KLU', 'NAMA_KLU','NAMA_AR', 'SEKSI','NPWP', 'KPP', 'CABANG']]

mfwp

In [8]:
mpn_all = pd.merge(left=mpn_union, right=mfwp, left_on=['npwp', 'kpp', 'cabang'], right_on=['NPWP', 'KPP', 'CABANG'],how='left')

In [9]:
mpn_all.drop(['NPWP', 'KPP', 'CABANG'],inplace=True,axis=1)

In [10]:
mpn_all[mpn_all['bulanbayar']==2].nominal.sum()

641270457546.0

In [11]:
kdmap = pd.read_sql('select * from map_polos',con=conn)

In [12]:
mpn_all = pd.merge(mpn_all,kdmap, left_on='kdmap', right_on='KD MAP',how='left')

In [13]:
mpn_all[mpn_all['bulanbayar']==2].nominal.sum()

641270457546.0

In [14]:
mpn_all.columns

Index(['admin', 'npwp', 'kpp', 'cabang', 'nama', 'kdmap', 'kdbayar', 'masa',
       'tahun', 'tanggalbayar', 'bulanbayar', 'tahunbayar', 'datebayar',
       'nominal', 'ntpn', 'bank', 'nosk', 'nospm', 'tipe', 'source', 'extra',
       'billing', 'nop', 'pembuat', 'ket', 'FULL', 'NAMA_WP', 'JENIS_WP',
       'KODE_KLU', 'NAMA_KLU', 'NAMA_AR', 'SEKSI', 'KD MAP', 'MAP'],
      dtype='object')

In [15]:
mpn_all.drop(['admin', 'bank','source', 'extra','billing', 'nop', 'pembuat','kdmap'],inplace=True,axis=1)

In [16]:
februari = mpn_all[mpn_all['bulanbayar']==2]

In [17]:
februari.nominal.sum()

641270457546.0

In [19]:
februari.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\februari2022.xlsx',index=False)

In [ ]:
februari.info()

In [ ]:
if februari['KD MAP'].isin(['41131','41111']):
    februari['FLAG_PPMPKM'] = 'PPM'
elif februari['tahunbayar'] == februari['tahun'] :
        februari['FLAG_PPMPKM'] = 'PPM'
elif (februari['tahunbayar']-februari['tahun'].isin([0,1])) & (februari['KD MAP'].isin(['411125','411126'])) & (februari['kdbayar'].isin(['200','199','310','320','390','500','501'])):
    februari['FLAG_PPMPKM'] = 'PPM'
elif februari['tahunbayar'] - februari['tahun'].isin([0,1]) & februari['masa'] == '12' :
    februari['FLAG_PPMPKM'] = 'PPM'
elif februari['tahun']> februari['tahunbayar']:
    februari['FLAG_PPMPKM'] = 'PPM'
else:
    februari['FLAG_PPMPKM'] = 'PKM'

In [ ]:
ppmpkm(februari)

In [ ]:
kueri_ppmpkm = '''SELECT A.NPWP,
       A.KPP,
       A.CABANG,
       A.NAMA,
       A.KDMAP,
       A.KDBAYAR,
       MASA,
       A.TAHUN,
       TAHUNBAYAR,
       BULANBAYAR,
       DATEBAYAR,
       NOMINAL,
       CASE
         WHEN SUBSTRING(A.KDMAP,1,5) IN ('41131','41111') THEN 'PPM'
         WHEN TAHUNBAYAR = A.TAHUN THEN 'PPM'
         WHEN TAHUNBAYAR - A.TAHUN IN (0,1) AND A.KDMAP IN ('411125','411126') AND A.KDBAYAR IN ('200','199','310','320','390','500','501') THEN 'PPM'
         WHEN (TAHUNBAYAR - A.TAHUN IN (0,1) AND MASA = 12) THEN 'PPM'
         WHEN A.TAHUN > TAHUNBAYAR THEN 'PPM'
         ELSE 'PKM'
       END FLAG_PPM_PKM,
       NIPPJ,
       ntpn,
       nosk,
       E.SEKTOR,
       URAIAN,
       F.NAMA AS NAMA_KLU,
       F.SEKTOR AS SEKTOR_KLU
FROM MPN A
  LEFT JOIN WP B
         ON A.NPWP = B.NPWP
        AND A.KPP = B.KPP
        AND A.CABANG = B.CABANG
  LEFT JOIN MAP E
         ON A.KDMAP = E.KDMAP
        AND A.KDBAYAR = E.KDBAYAR
  LEFT JOIN KLU F ON B.KLU = F.KODE
WHERE TAHUNBAYAR = 2022;'''

In [ ]:
ppmpkm = pd.read_sql(kueri_ppmpkm,con=db_conn)

In [ ]:
ppmpkm_februari = ppmpkm[ppmpkm['BULANBAYAR']==2]

In [ ]:
ppmpkm_februari.NOMINAL.sum()

In [ ]:
ppmpkm_februari.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\ppmpkm_februari2022.xlsx',index=False)