In [60]:
import pandas as pd

In [61]:
data= pd.read_csv('D:\DATA KANTOR\MASTERFILE\FIX\MFWPSEKANWIL.csv', sep=',',parse_dates=['Tgl.Daftar'], dtype={'NIP':'str'})

In [62]:
data.head()

,Unnamed: 0,No,NPWP,Nama WP,Kode KLU,Status WP,Tgl.Daftar,NIP,Nama,Seksi
0,0,1,01.332.992.5-006.000,BUMIMITRA ADIPERSADA,43211,Aktif,15/12/2005,60091846,Abdul Kohar,Waskon II
1,1,2,01.608.613.4-006.000,TILAYORA PERDANA,45301,Aktif,17/12/1992,60091846,Abdul Kohar,Waskon II
2,2,3,01.759.490.4-006.000,DAYA TUNAS CEMERLANG,46421,Aktif,1997-11-04 00:00:00,60091846,Abdul Kohar,Waskon II
3,3,4,01.882.255.1-006.000,ANASTASIA PUTRI,41019,Aktif,27/05/1999,60091846,Abdul Kohar,Waskon II
4,4,5,01.992.576.7-027.000,PRIMA MITRA SETIA SEJATI,81210,Aktif,2000-05-07 00:00:00,60091846,Abdul Kohar,Waskon II

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413231 entries, 0 to 1413230
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1413231 non-null  int64
 1   No          1413231 non-null  int64
 2   NPWP        1413231 non-null  object
 3   Nama WP     1413221 non-null  object
 4   Kode KLU    1374848 non-null  object
 5   Status WP   1413175 non-null  object
 6   Tgl.Daftar  1413231 non-null  object
 7   NIP         1413231 non-null  object
 8   Nama        1413231 non-null  object
 9   Seksi       1413231 non-null  object
dtypes: int64(2), object(8)
memory usage: 107.8+ MB

In [64]:
data = data.drop(['Unnamed: 0','No'],axis=1).head()
data.NPWP = data.NPWP.str.replace('.','')
data.NPWP = data.NPWP.str.replace('-','')

In [65]:
data.head()

,NPWP,Nama WP,Kode KLU,Status WP,Tgl.Daftar,NIP,Nama,Seksi
0,013329925006000,BUMIMITRA ADIPERSADA,43211,Aktif,15/12/2005,60091846,Abdul Kohar,Waskon II
1,016086134006000,TILAYORA PERDANA,45301,Aktif,17/12/1992,60091846,Abdul Kohar,Waskon II
2,017594904006000,DAYA TUNAS CEMERLANG,46421,Aktif,1997-11-04 00:00:00,60091846,Abdul Kohar,Waskon II
3,018822551006000,ANASTASIA PUTRI,41019,Aktif,27/05/1999,60091846,Abdul Kohar,Waskon II
4,019925767027000,PRIMA MITRA SETIA SEJATI,81210,Aktif,2000-05-07 00:00:00,60091846,Abdul Kohar,Waskon II

In [66]:
data.dtypes

NPWP          object
Nama WP       object
Kode KLU      object
Status WP     object
Tgl.Daftar    object
NIP           object
Nama          object
Seksi         object
dtype: object

# MFWP MADTIM

In [71]:
import sys
sys.maxsize

9223372036854775807

In [74]:
mfwp = pd.read_excel('D:\DATA KANTOR\MASTERFILE\FIX\DB_MF.xlsx', engine='openpyxl', dtype='int64')

OverflowError: Python int too large to convert to C int