In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import mysql.connector as mysql
from pandas_profiling import ProfileReport

In [384]:
db_connection = mysql.connect(host = "10.4.19.15", 
                            database = 'mpninfo', 
                            user = 'indra', 
                            password= 'indra', 
                            port = 3306)

In [385]:
mfwp = pd.read_csv('D:\DATA KANTOR\MASTERFILE\MFWP_AR_baru.csv',sep=';', dtype={'NPWP FULL':'str','Kode KLU':'str'}) 
map = pd.read_excel('D:\DATA KANTOR\MASTERFILE\KODE_MAP_FILTERED.xlsx', engine='openpyxl', dtype={'KD MAP':'str'})

In [386]:
query = '''
select concat(npwp, kpp,cabang) as NPWP_KIRIM,nama as NAMA_KIRIM, tahun, nopbk,tanggaldoc, tanggalberlaku, nominal, tipe, kdmap, kdbayar,
masapajak,tahunpajak,kpp_admin, concat(npwp2,kpp2,cabang2) as NPWP_TERIMA, nama2 as NAMA_TERIMA,
kdmap2,kdbayar2,masapajak2,tahunpajak2,kpp_admin2,ntpn FROM pbk;
'''

In [387]:
pbk = pd.read_sql(query, db_connection)
pbk.head()

,NPWP_KIRIM,NAMA_KIRIM,tahun,nopbk,tanggaldoc,tanggalberlaku,nominal,tipe,kdmap,kdbayar,...,tahunpajak,kpp_admin,NPWP_TERIMA,NAMA_TERIMA,kdmap2,kdbayar2,masapajak2,tahunpajak2,kpp_admin2,ntpn
0,026354837007000,INSPIRA ADHI MITRA,2018,PBK-00228/III/WPJ.20/KP.0703/2018,2018-03-14,2018-02-10,30000.0,MASA,411121,100,...,2018,007,026354837007000,INSPIRA ADHI MITRA,411121,100,4,2018,007,FC37F8945LNVFV76
1,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01081/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-21,87794970.0,MASA,411122,100,...,2015,007,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028517
2,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01082/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-23,87794970.0,MASA,411122,100,...,2015,007,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028611
3,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01083/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-23,77466150.0,MASA,411122,100,...,2015,007,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028675
4,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01084/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-21,87794970.0,MASA,411122,100,...,2015,007,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028518

In [388]:
pbk.rename(columns={'tahun':'TAHUN_KIRIM','nopbk':'NOPBK','tanggaldoc':'Tanggal_Dokumen','tanggalberlaku':'Tanggal_Berlaku',	'nominal':'Nominal','tipe':'Tipe','kdmap':'KDMAP_KIRIM','kdbayar':'KDBAYAR_KIRIM','masapajak':'Masapajak_KIRIM','tahunpajak':'Tahunpajak_KIRIM', 'kpp_admin':'KPPAdmin_KIRIM'},inplace=True)
pbk.columns = pbk.columns.str.replace('2','_TERIMA')
pbk.columns = pbk.columns.str.upper()
pbk.columns

Index(['NPWP_KIRIM', 'NAMA_KIRIM', 'TAHUN_KIRIM', 'NOPBK', 'TANGGAL_DOKUMEN',
       'TANGGAL_BERLAKU', 'NOMINAL', 'TIPE', 'KDMAP_KIRIM', 'KDBAYAR_KIRIM',
       'MASAPAJAK_KIRIM', 'TAHUNPAJAK_KIRIM', 'KPPADMIN_KIRIM', 'NPWP_TERIMA',
       'NAMA_TERIMA', 'KDMAP_TERIMA', 'KDBAYAR_TERIMA', 'MASAPAJAK_TERIMA',
       'TAHUNPAJAK_TERIMA', 'KPP_ADMIN_TERIMA', 'NTPN'],
      dtype='object')

In [389]:
pbk.head()
pbk.dtypes

NPWP_KIRIM            object
NAMA_KIRIM            object
TAHUN_KIRIM            int64
NOPBK                 object
TANGGAL_DOKUMEN       object
TANGGAL_BERLAKU       object
NOMINAL              float64
TIPE                  object
KDMAP_KIRIM           object
KDBAYAR_KIRIM         object
MASAPAJAK_KIRIM        int64
TAHUNPAJAK_KIRIM       int64
KPPADMIN_KIRIM        object
NPWP_TERIMA           object
NAMA_TERIMA           object
KDMAP_TERIMA          object
KDBAYAR_TERIMA        object
MASAPAJAK_TERIMA       int64
TAHUNPAJAK_TERIMA      int64
KPP_ADMIN_TERIMA      object
NTPN                  object
dtype: object

In [390]:
pbk_kirim = pbk.loc[pbk['KPPADMIN_KIRIM']=='007']
pbk_terima = pbk.loc[pbk['KPP_ADMIN_TERIMA']=='007']

In [ ]:
ProfileReport(pbk, minimal=True)

In [392]:
pbk.loc[(pbk.KPPADMIN_KIRIM != '007') & (pbk.KPP_ADMIN_TERIMA != '007')]

Empty DataFrame
Columns: [NPWP_KIRIM, NAMA_KIRIM, TAHUN_KIRIM, NOPBK, TANGGAL_DOKUMEN, TANGGAL_BERLAKU, NOMINAL, TIPE, KDMAP_KIRIM, KDBAYAR_KIRIM, MASAPAJAK_KIRIM, TAHUNPAJAK_KIRIM, KPPADMIN_KIRIM, NPWP_TERIMA, NAMA_TERIMA, KDMAP_TERIMA, KDBAYAR_TERIMA, MASAPAJAK_TERIMA, TAHUNPAJAK_TERIMA, KPP_ADMIN_TERIMA, NTPN]
Index: []

[0 rows x 21 columns]

# TAMBAH KIRIM DAN TERIMA NOMINAL

In [393]:
print(pbk_kirim.NOMINAL.sum())
print(pbk_terima.NOMINAL.sum())
print(pbk.NOMINAL.sum())
print(pbk_terima.NOMINAL.sum()+pbk_kirim.NOMINAL.sum())

350539424248.0
520555895787.0
544847074326.0
871095320035.0

In [394]:
# KIRIM
for item in pbk['KPPADMIN_KIRIM']:
        pbk['NOMINAL_KIRIM'] = pbk.NOMINAL
    else:
         pbk['NOMINAL_KIRIM'] = 0

# TERIMA
for item in pbk['KPP_ADMIN_TERIMA']:
    if item == '007' :
        pbk['NOMINAL_TERIMA'] = pbk.NOMINAL
    else:
         pbk['NOMINAL_TERIMA'] = 0

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [188]:
pbk.head()

,NPWP_KIRIM,NAMA_KIRIM,TAHUN_KIRIM,NOPBK,TANGGAL_DOKUMEN,TANGGAL_BERLAKU,NOMINAL,TIPE,KDMAP_KIRIM,KDBAYAR_KIRIM,...,NPWP_TERIMA,NAMA_TERIMA,KDMAP_TERIMA,KDBAYAR_TERIMA,MASAPAJAK_TERIMA,TAHUNPAJAK_TERIMA,KPP_ADMIN_TERIMA,NTPN,NOMINAL_KIRIM,NOMINAL_TERIMA
0,026354837007000,INSPIRA ADHI MITRA,2018,PBK-00228/III/WPJ.20/KP.0703/2018,2018-03-14,2018-02-10,30000.0,MASA,411121,100,...,026354837007000,INSPIRA ADHI MITRA,411121,100,4,2018,007,FC37F8945LNVFV76,0,30000.0
1,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01081/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-21,87794970.0,MASA,411122,100,...,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028517,0,87794970.0
2,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01082/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-23,87794970.0,MASA,411122,100,...,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028611,0,87794970.0
3,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01083/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-23,77466150.0,MASA,411122,100,...,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028675,0,77466150.0
4,018503631007000,KHARISMA PURNAWIRA NUGRAHA,2018,PBK-01084/XII/WPJ.20/KP.0703/2018,2018-12-27,2015-12-21,87794970.0,MASA,411122,100,...,018503631007000,KHARISMA PURNAWIRA NUGRAHA,411211,900,12,2015,007,150151301028518,0,87794970.0

# VERIFY NOMNIAL = KIRIM + TERIMA

In [189]:
pbk.NOMINAL.sum()

544847074326.0

In [190]:
pbk.NOMINAL_KIRIM.sum() + pbk.NOMINAL_TERIMA.sum()

544847074326.0

In [191]:
pbk = pbk.drop('NOMINAL',axis=1)
pbk.columns

Index(['NPWP_KIRIM', 'NAMA_KIRIM', 'TAHUN_KIRIM', 'NOPBK', 'TANGGAL_DOKUMEN',
       'TANGGAL_BERLAKU', 'TIPE', 'KDMAP_KIRIM', 'KDBAYAR_KIRIM',
       'MASAPAJAK_KIRIM', 'TAHUNPAJAK_KIRIM', 'KPPADMIN_KIRIM', 'NPWP_TERIMA',
       'NAMA_TERIMA', 'KDMAP_TERIMA', 'KDBAYAR_TERIMA', 'MASAPAJAK_TERIMA',
       'TAHUNPAJAK_TERIMA', 'KPP_ADMIN_TERIMA', 'NTPN', 'NOMINAL_KIRIM',
       'NOMINAL_TERIMA'],
      dtype='object')

# +MFWP

In [ ]:
for