In [48]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [49]:
sektor_2020 = '''
select mo.tgl_setor ,mo."Kategori" ,sum(mo.jumlah2020) as jumlah
from 
laporan.mpn2020_oke mo 
where mo."Kategori" in ('Perdagangan Besar dan Eceran; Reparasi dan Perawatan Mobil dan Sepeda Motor','Pertambangan dan Penggalian','Konstruksi')
group by mo.tgl_setor ,mo."Kategori"
order by mo.tgl_setor  asc
'''

sektor_2021 = '''
select mo.tgl_setor ,mo."Kategori" ,sum(mo.jumlah2021) as jumlah
from 
laporan.mpn2021_oke mo 
where mo."Kategori" in ('Perdagangan Besar dan Eceran; Reparasi dan Perawatan Mobil dan Sepeda Motor','Pertambangan dan Penggalian','Konstruksi')
group by mo.tgl_setor ,mo."Kategori"
order by mo.tgl_setor  asc
'''

sektor_2022= '''
select p.datebayar as tgl_setor ,p."Kategori" ,sum(p.nominal) as jumlah
from ppmpkm2022 p 
where p."Kategori" in ('Perdagangan Besar dan Eceran; Reparasi dan Perawatan Mobil dan Sepeda Motor','Pertambangan dan Penggalian','Konstruksi')
group by tgl_setor ,p."Kategori" 
order by tgl_setor asc'''

In [50]:
sektor_2020 = pd.read_sql(sektor_2020,con=conn)
sektor_2021 = pd.read_sql(sektor_2021,con=conn)
sektor_2022 = pd.read_sql(sektor_2022,con=conn)

In [51]:
sektor = pd.concat([sektor_2020,sektor_2021,sektor_2022],axis=0)

In [52]:
sektor

,tgl_setor,Kategori,jumlah
0,2020-01-01,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.563986e+07
1,2020-01-01,Konstruksi,1.406813e+08
2,2020-01-02,Konstruksi,4.195204e+08
3,2020-01-02,Perdagangan Besar dan Eceran; Reparasi dan Per...,4.708179e+09
4,2020-01-03,Konstruksi,2.685247e+08
...,...,...,...
425,2022-07-12,Konstruksi,9.749581e+07
426,2022-07-13,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.694804e+08
427,2022-07-13,Konstruksi,6.963796e+06
428,2022-07-14,Perdagangan Besar dan Eceran; Reparasi dan Per...,-6.459420e+05
429,2022-07-14,Pertambangan dan Penggalian,4.031480e+10

In [53]:
sektor['bulan'] = sektor['tgl_setor'].dt.to_period('M')
sektor.drop('tgl_setor',axis=1,inplace=True)
sektor = sektor.groupby(['bulan','Kategori']).sum().reset_index()

In [54]:
sektor.to_excel(r'D:\DATA KANTOR\PERSEKTOR_PERMAP\sektor13JULI2022_aggmonth.xlsx',index=False)

In [32]:
map_2020 = ''' 
select mo.tgl_setor, mo."MAP", sum(mo.jumlah2020) as jumlah
from laporan.mpn2020_oke mo 
where  mo."MAP" in('PPN DN', 'PPN Impor')
group by mo.tgl_setor, mo."MAP"'''

map_2021 = '''  
select mo.tgl_setor, mo."MAP", sum(mo.jumlah2021) as jumlah
from laporan.mpn2021_oke mo 
where  mo."MAP" in('PPN DN', 'PPN Impor')
group by mo.tgl_setor, mo."MAP"'''

map_2022 = '''
select p.datebayar as tgl_setor, p."MAP" , sum(p.nominal) as jumlah
from ppmpkm2022 p 
where p."MAP" in('PPN DN', 'PPN Impor')
group by p.datebayar ,p."MAP"
'''

In [33]:
map_2020 = pd.read_sql(map_2020,con=conn)
map_2021 = pd.read_sql(map_2021,con=conn)
map_2022 = pd.read_sql(map_2022,con=conn)

In [34]:
datamap = pd.concat([map_2020,map_2021,map_2022],axis=0)

In [35]:
datamap['bulan'] = datamap['tgl_setor'].dt.to_period('M')
datamap.drop('tgl_setor',axis=1,inplace=True)

In [37]:
datamap = datamap.groupby(['bulan','MAP']).sum().reset_index()

In [38]:
datamap

      bulan        MAP        jumlah
0   2020-01     PPN DN  1.961203e+11
1   2020-01  PPN Impor  8.732867e+10
2   2020-02     PPN DN  1.840577e+11
3   2020-02  PPN Impor  7.873965e+10
4   2020-03     PPN DN  2.864877e+11
..      ...        ...           ...
57  2022-05  PPN Impor  1.322171e+11
58  2022-06     PPN DN  3.214051e+11
59  2022-06  PPN Impor  1.776527e+11
60  2022-07     PPN DN  1.138848e+10
61  2022-07  PPN Impor  4.971063e+10

[62 rows x 3 columns]

In [40]:
datamap.to_excel(r'D:\DATA KANTOR\PERSEKTOR_PERMAP\MAP13JULI2022_aggmonth.xlsx',index=False)