In [417]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [418]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@127.0.0.1:3306/mpninfo")

In [419]:
prognosa = pd.read_excel(r'E:\NEXTCLOUD\PKD\PROGNOSA\DESEMBER\db_pronosa.xlsx',sheet_name='kompile',dtype={'NPWP_PENYETOR':'str'})
prognosa = prognosa.filter(['JENIS PEMBAYARA', 'DESEMBER','SEKSI'])

In [420]:
pkm_prognosa = pd.read_excel(r'E:\NEXTCLOUD\PKD\PROGNOSA\DESEMBER\db_pronosa.xlsx',sheet_name='pkm')

In [421]:
pkm_prognosa = pkm_prognosa.melt(id_vars='TIPE',var_name='SEKSI',value_name='NOMINAL')

In [422]:
with open(r'F:\STREAMLIT\DASHTEAM\sql\PPM_PKM_2021.sql','r') as kueri:
    kueri = kueri.read()

In [423]:
ppmpkm = pd.read_sql(kueri,db_conn)

In [424]:
ppmpkm = ppmpkm[ppmpkm['BULANBAYAR']==12]
ppmpkm['NPWP_FULL'] = ppmpkm.NPWP+ppmpkm.KPP+ppmpkm.CABANG
ppmpkm.drop(['NPWP', 'KPP', 'CABANG','TAHUNBAYAR','NIPPJ', 'ntpn', 'SEKTOR', 'URAIAN', 'NAMA_KLU', 'SEKTOR_KLU'],inplace=True,axis =1)
ppm = ppmpkm[ppmpkm['FLAG_PPM_PKM']=='PPM']
pkm = ppmpkm[ppmpkm['FLAG_PPM_PKM']=='PKM']

In [425]:
pkm['nosk'] = pkm['nosk'].replace('-','')
pkm['nosk'] = pkm['nosk'].replace('tidak diketahui','')

<ipython-input-425-d6c315f9da74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pkm['nosk'] = pkm['nosk'].replace('-','')
<ipython-input-425-d6c315f9da74>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pkm['nosk'] = pkm['nosk'].replace('tidak diketahui','')

In [426]:
pengawasan = pkm[pkm['nosk'].isnull()]
pengawasan['TIPE'] ='Pengawasan'

<ipython-input-426-4a6dbf9071fd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pengawasan['TIPE'] ='Pengawasan'

In [427]:
p2 = pkm[pkm['nosk'].notnull()]

In [428]:
p2['TIPE'] = p2['nosk'].apply(lambda x:'Pemeriksaan' if x[-2:]=='21' else 'Penagihan')

<ipython-input-428-eb6af4302e7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p2['TIPE'] = p2['nosk'].apply(lambda x:'Pemeriksaan' if x[-2:]=='21' else 'Penagihan')

In [429]:
ppm['TIPE'] = 'Rutin'

<ipython-input-429-82ca4eefd098>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ppm['TIPE'] = 'Rutin'

In [430]:
gabung = p2.append(pengawasan)
gabung = gabung.append(ppm)

In [431]:
mf = pd.read_excel('F:\STREAMLIT\DASHTEAM\MFWP\MFWP_007_Oktober 2021.xlsx',sheet_name='FAST',dtype={'FULL':'str'},
usecols=['FULL','NAMA_AR', 'SEKSI'])

In [432]:
gabung = pd.merge(gabung,mf,left_on='NPWP_FULL',right_on='FULL',how='left')

In [433]:
kdmap = pd.read_excel(r'D:\DATA KANTOR\MASTERFILE\KODE_MAP_FILTERED.xlsx',dtype={'KD MAP':'str'})

In [434]:
gabung= pd.merge(gabung,kdmap,left_on='KDMAP',right_on='KD MAP',how='left')
gabung.drop('KD MAP',inplace=True, axis=1)

In [435]:
data = gabung.filter(['SEKSI','MAP','FLAG_PPM_PKM','TIPE','NOMINAL'])

In [436]:
prognosa = prognosa.groupby(['SEKSI','JENIS PEMBAYARA']).sum().reset_index()

In [437]:
data_ppm = data[data['FLAG_PPM_PKM']=='PPM']
data_ppm = data_ppm.drop(['FLAG_PPM_PKM','TIPE'],axis=1)
data_pkm = data[data['FLAG_PPM_PKM']=='PKM']
data_pkm = data_pkm.drop(['FLAG_PPM_PKM'],axis=1)

In [438]:
data_ppm = data_ppm.groupby(['SEKSI','MAP']).sum().reset_index()
data_pkm = data_pkm.groupby(['SEKSI','MAP','TIPE']).sum().reset_index()

In [439]:
ppm_progreal = pd.merge(data_ppm,prognosa, left_on=['SEKSI','MAP'],right_on=['SEKSI','JENIS PEMBAYARA'],how='outer')
ppm_progreal.fillna('PPh Lainnya', inplace=True)
ppm_progreal.drop('JENIS PEMBAYARA',axis=1,inplace=True)

In [440]:
ppm_progreal= ppm_progreal.rename(columns={'NOMINAL':'REALISASI','DESEMBER':'PROGNOSA'})

In [441]:
ppm_progreal = ppm_progreal.melt(id_vars=['SEKSI','MAP'],var_name='TIPE',value_vars=['REALISASI','PROGNOSA'],value_name='NOMINAL')

In [442]:
ppm_progreal

              SEKSI          MAP       TIPE             NOMINAL
0      Pengawasan I  Bea Meterai  REALISASI            189000.0
1      Pengawasan I       PPN DN  REALISASI       11807808156.0
2      Pengawasan I    PPN Impor  REALISASI        6152542000.0
3      Pengawasan I       PPh 21  REALISASI        9033182029.0
4      Pengawasan I       PPh 22  REALISASI         402141037.0
..              ...          ...        ...                 ...
125   Pengawasan VI       PPh 26   PROGNOSA         371883435.0
126   Pengawasan VI    PPh Final   PROGNOSA        2869212260.3
127   Pengawasan VI     PPnBM DN   PROGNOSA         PPh Lainnya
128  Pengawasan III  PPh Lainnya   PROGNOSA  27041989293.301613
129   Pengawasan IV  PPh Lainnya   PROGNOSA        1606251000.0

[130 rows x 4 columns]

In [443]:
#ppm_progreal.pivot(index=['MAP','JENIS'],columns=['SEKSI'],values=['NOMINAL'])

In [444]:
data_pkm.drop('MAP',axis=1,inplace=True)
data_pkm.groupby(['SEKSI','TIPE']).sum().reset_index()

             SEKSI         TIPE       NOMINAL
0     Pengawasan I  Pemeriksaan  6.376574e+08
1     Pengawasan I    Penagihan  2.453221e+08
2     Pengawasan I   Pengawasan  2.046463e+09
3    Pengawasan II  Pemeriksaan  8.408851e+08
4    Pengawasan II    Penagihan  2.140025e+08
5    Pengawasan II   Pengawasan  1.252998e+09
6   Pengawasan III  Pemeriksaan  9.250571e+09
7   Pengawasan III    Penagihan  4.313595e+07
8   Pengawasan III   Pengawasan  1.215331e+09
9    Pengawasan IV  Pemeriksaan  7.364320e+08
10   Pengawasan IV    Penagihan  7.336929e+09
11   Pengawasan IV   Pengawasan  6.967944e+08
12    Pengawasan V  Pemeriksaan  3.952818e+09
13    Pengawasan V    Penagihan  6.064009e+07
14    Pengawasan V   Pengawasan  4.140486e+09
15   Pengawasan VI  Pemeriksaan  1.461023e+09
16   Pengawasan VI    Penagihan  3.652377e+09
17   Pengawasan VI   Pengawasan  4.602813e+09

In [445]:
pivot = pd.pivot_table(data_pkm,index=['SEKSI'],columns='TIPE')

In [446]:
pkm_prognosa = pkm_prognosa.groupby(['SEKSI','TIPE']).sum().reset_index()

In [447]:
data_pkm = data_pkm.groupby(['SEKSI','TIPE']).sum().reset_index()

In [448]:
data_pkm

             SEKSI         TIPE       NOMINAL
0     Pengawasan I  Pemeriksaan  6.376574e+08
1     Pengawasan I    Penagihan  2.453221e+08
2     Pengawasan I   Pengawasan  2.046463e+09
3    Pengawasan II  Pemeriksaan  8.408851e+08
4    Pengawasan II    Penagihan  2.140025e+08
5    Pengawasan II   Pengawasan  1.252998e+09
6   Pengawasan III  Pemeriksaan  9.250571e+09
7   Pengawasan III    Penagihan  4.313595e+07
8   Pengawasan III   Pengawasan  1.215331e+09
9    Pengawasan IV  Pemeriksaan  7.364320e+08
10   Pengawasan IV    Penagihan  7.336929e+09
11   Pengawasan IV   Pengawasan  6.967944e+08
12    Pengawasan V  Pemeriksaan  3.952818e+09
13    Pengawasan V    Penagihan  6.064009e+07
14    Pengawasan V   Pengawasan  4.140486e+09
15   Pengawasan VI  Pemeriksaan  1.461023e+09
16   Pengawasan VI    Penagihan  3.652377e+09
17   Pengawasan VI   Pengawasan  4.602813e+09

In [449]:
pkm_prognosa.replace(' ','',inplace=True)

In [450]:
pkm_progreal = pd.merge(data_pkm,pkm_prognosa,left_on=['SEKSI','TIPE'],right_on=['SEKSI','TIPE'],how='inner')
pkm_progreal.fillna(0,inplace=True)

In [451]:
pkm_progreal = pkm_progreal.rename(columns={'NOMINAL_x':'REALISASI','NOMINAL_y':'PROGNOSA'})

In [452]:
pkm_progreal.PROGNOSA.sum()

158185028929.0

In [453]:
ppm_progreal.to_excel('PPM.xlsx',index=False)

In [454]:
pkm_progreal = pkm_progreal.melt(id_vars=['SEKSI','TIPE'],var_name='JENIS',value_name='NOMINAL')

In [455]:
pkm_progreal.to_excel('PKM.xlsx',index = False)