In [156]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [157]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [158]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [159]:
kueri2020 = '''select p.npwp_penyetor as "FULL",m."NAMA_WP" ,s."Kategori",p.tgl_setor::date as tanggalbayar, sum(p.jml_setor) as Tahunlalu
from penerimaan_2020 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.tgl_setor between '2020-12-01' and '2020-12-31') and p.jenis_data != 'RESTITUSI' 
group by p.npwp_penyetor ,m."NAMA_WP",s."Kategori",p.tgl_setor::date
having sum(p.jml_setor) is not null 
order by Tahunlalu desc ;'''

In [160]:
des20 = pd.read_sql(kueri2020,con=conn)

In [161]:
kueri2021 = '''select p.npwp_penyetor as "FULL",m."NAMA_WP" ,s."Kategori",p.tgl_setor::date as tanggalbayar, sum(p.jml_setor) as Tahunlalu
from penerimaan_2021 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.tgl_setor between '2021-01-01' and '2021-02-28') and p.jenis_data != 'RESTITUSI' 
group by p.npwp_penyetor ,m."NAMA_WP",s."Kategori",p.tgl_setor::date
having sum(p.jml_setor) is not null 
order by Tahunlalu desc ;'''

In [162]:
tw112 = pd.read_sql(kueri2021,con=conn)

In [163]:
tw112

,FULL,NAMA_WP,Kategori,tanggalbayar,tahunlalu
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-01-29,1.073815e+11
1,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-26,5.911691e+10
2,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-01-29,2.785898e+10
3,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-22,2.620672e+10
4,019201151007000,MEDIKALOKA HERMINA Tbk,Jasa Kesehatan dan Kegiatan Sosial,2021-01-21,2.244797e+10
...,...,...,...,...,...
5675,018845222007000,DASINDO MEDIA,Jasa Pendidikan,2021-01-26,-5.689636e+06
5676,029985207007002,PARIT PADANG GLOBAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-25,-6.594350e+06
5677,025088378003000,NUGRA KARSERA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-18,-1.249645e+07
5678,010017044059000,KADI INTERNATIONAL,Konstruksi,2021-01-12,-2.318953e+07
5679,025088378003000,NUGRA KARSERA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-15,-7.662145e+07

In [164]:
data_awal = tw112

In [165]:
data_awal['tanggalbayar'] = pd.to_datetime(data_awal['tanggalbayar'])

In [166]:
data_awal = data_awal[data_awal['FULL'] != '000000000007007']

In [167]:
#data_awal.rename(columns={'tahunlalu':'nominal'},inplace=True)

In [169]:
data_awal['hari'] = data_awal['tanggalbayar'].dt.day
data_awal['hari']  = data_awal['hari'] .astype('str')
data_awal['bulan'] = data_awal['tanggalbayar'].dt.month_name()
data_awal['waktu'] = data_awal.hari+data_awal.bulan

<ipython-input-169-56990e10db8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_awal['hari'] = data_awal['tanggalbayar'].dt.day
<ipython-input-169-56990e10db8c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_awal['hari']  = data_awal['hari'] .astype('str')
<ipython-input-169-56990e10db8c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_awal['bulan'] = data_awal['tanggalbayar'].dt.month_name()
<ipython-input-169-56990e10db8c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_awal['waktu'] = data_awal.hari+data_awal.bulan

In [ ]:
data_awal = data_awal.groupby(['FULL', 'NAMA_WP', 'Kategori', 'tanggalbayar', 'tahunlalu'],dropna=False).sum().reset_index()

In [170]:
data_awal

,FULL,NAMA_WP,Kategori,tanggalbayar,tahunlalu,hari,bulan,waktu
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-01-29,1.073815e+11,29,January,29January
1,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-26,5.911691e+10,26,February,26February
2,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-01-29,2.785898e+10,29,January,29January
3,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-22,2.620672e+10,22,February,22February
4,019201151007000,MEDIKALOKA HERMINA Tbk,Jasa Kesehatan dan Kegiatan Sosial,2021-01-21,2.244797e+10,21,January,21January
...,...,...,...,...,...,...,...,...
5675,018845222007000,DASINDO MEDIA,Jasa Pendidikan,2021-01-26,-5.689636e+06,26,January,26January
5676,029985207007002,PARIT PADANG GLOBAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-25,-6.594350e+06,25,February,25February
5677,025088378003000,NUGRA KARSERA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-18,-1.249645e+07,18,February,18February
5678,010017044059000,KADI INTERNATIONAL,Konstruksi,2021-01-12,-2.318953e+07,12,January,12January
5679,025088378003000,NUGRA KARSERA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-02-15,-7.662145e+07,15,February,15February

In [61]:
kuerides21 = '''select p.npwp_penyetor as "FULL",m."NAMA_WP" ,s."Kategori",p.tgl_setor::date as tanggalbayar, sum(p.jml_setor) as Tahunini
from penerimaan_2021 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.tgl_setor between '2021-12-01' and '2021-12-31') and p.jenis_data != 'RESTITUSI' 
group by p.npwp_penyetor ,m."NAMA_WP",s."Kategori",p.tgl_setor::date
having sum(p.jml_setor) is not null 
order by Tahunini desc ;'''

In [62]:
des21 = pd.read_sql(kuerides21,con=conn)

In [63]:
kueri2022 = '''select p."FULL" ,m."NAMA_WP" ,s."Kategori" ,p.datebayar as tanggalbayar , sum(p.nominal) as Tahunini
from penerimaan_2022 p 
full join mfwp m on (p."FULL"  = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where (p.datebayar between '2022-01-01' and '2022-02-28') and (p.ket != 'SPMKP')
group by p."FULL" ,m."NAMA_WP",s."Kategori", p.datebayar
having sum(p.nominal) is not null 
order by Tahunini desc;'''

In [64]:
tw122 = pd.read_sql(kueri2022,con=conn)

In [65]:
data_akhir = tw122

In [66]:
data_akhir = data_akhir[data_akhir['FULL']!='000000000007000']

In [67]:
data_akhir = data_akhir.groupby(['FULL', 'NAMA_WP', 'Kategori', 'tanggalbayar'],dropna=False).sum().reset_index()
data_akhir['tanggalbayar'] = pd.to_datetime(data_akhir['tanggalbayar'])

In [68]:
data_akhir.rename(columns={'tahunini':'nominal'},inplace=True)

In [69]:
data = pd.merge(data_awal,data_akhir,on=['FULL', 'NAMA_WP', 'Kategori', 'tanggalbayar'],how='outer')

In [72]:
data['tahunini'].fillna(0,inplace=True) 
data['tahunlalu'].fillna(0,inplace=True)

In [73]:
data

,FULL,NAMA_WP,Kategori,tanggalbayar,nominal
38,010007516007000,INDRIA,Real Estat,2020-12-08,1.708954e+08
39,010007516007000,INDRIA,Real Estat,2021-01-08,1.729521e+08
40,010007516007000,INDRIA,Real Estat,2021-02-08,1.185301e+09
41,010008068007000,KRAMA YUDHA RATU MOTOR,Industri Pengolahan,2020-12-10,1.446108e+09
42,010008068007000,KRAMA YUDHA RATU MOTOR,Industri Pengolahan,2020-12-28,1.435476e+09
...,...,...,...,...,...
10765,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-30,2.425926e+07
10766,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2021-12-31,2.000000e+06
10767,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-01-07,2.720000e+06
10768,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-07,1.433263e+07
10769,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,2022-02-10,2.106249e+08

In [74]:
data.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_trend.xlsx',index=False)