In [138]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [139]:
map2022 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

map2022_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [140]:
map2021 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

map2021_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [141]:
tahun2022 = pd.read_sql(map2022,con=conn)
tahun2021 = pd.read_sql(map2021,con=conn)

tahun2022_netto = pd.read_sql(map2022_netto,con=conn)
tahun2021_netto = pd.read_sql(map2021_netto,con=conn)

In [142]:
gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [143]:
gabung['JUMLAH2021'].sum()

9395172256021.56

In [144]:
gabung['JUMLAH2022'].fillna(0, inplace=True)
gabung['JUMLAH2021'].fillna(0, inplace=True)

gabung_netto['JUMLAH2022'].fillna(0, inplace=True)
gabung_netto['JUMLAH2021'].fillna(0, inplace=True)

In [145]:
gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [146]:
gabung = gabung.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

gabung_netto = gabung_netto.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [147]:
gabung['SHORT/SURP'] = gabung['JUMLAH2022'] - gabung['JUMLAH2021']

gabung_netto['SHORT/SURP'] = gabung_netto['JUMLAH2022'] - gabung_netto['JUMLAH2021']

In [148]:
gabung['JUMLAH2022'].sum()

4564776779234.28

In [149]:
gabung.to_sql('03permap',con = conn, if_exists='replace',index=False,schema='laporan')

gabung_netto.to_sql('03permap_netto',con = conn, if_exists='replace',index=False,schema='laporan')

41551

In [150]:
gabung.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\permap.xlsx',index=False)

gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\permap_netto.xlsx',index=False)

In [151]:
#gabung.to_sql('03permap',index=False,schema='laporan',if_exists='replace',con=conn)

# per KLU

In [152]:
klu2022 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

klu2022_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [153]:
klu2021 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

klu2021_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [154]:
tahun2022 = pd.read_sql(klu2022,con=conn)
tahun2021 = pd.read_sql(klu2021,con=conn)

tahun2022_netto = pd.read_sql(klu2022_netto,con=conn)
tahun2021_netto = pd.read_sql(klu2021_netto,con=conn)

In [155]:
tahun2022_netto[tahun2022_netto.BULANBAYAR==4]['2022'].sum()

1927768072385.84

In [156]:
gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')
gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [157]:
gabung_netto[gabung_netto.BULANBAYAR==4]['2022'].sum()

1927768072385.84

In [158]:
gabung['2022'].fillna(0, inplace=True)
gabung['2021'].fillna(0, inplace=True)

gabung_netto['2022'].fillna(0, inplace=True)
gabung_netto['2021'].fillna(0, inplace=True)

In [159]:
gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [160]:
gabung = gabung.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

gabung_netto = gabung_netto.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [161]:
gabung['SHORT/SURP'] = gabung['2022'] - gabung['2021']

gabung_netto['SHORT/SURP'] = gabung_netto['2022'] - gabung_netto['2021']

In [162]:
gabung['2022'].sum()

4564776779234.28

In [163]:
gabung.fillna('',inplace=True)
gabung_netto.fillna('',inplace=True)
gabung.tail(5)

,FULL,NAMA_WP,Kategori,NAMA_AR,SEKSI,BULANBAYAR,2022,2021,SHORT/SURP
12270,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,Firman Arfiansyah,Pengawasan VI,5,11574434.0,0.0,11574434.0
12271,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,Firman Arfiansyah,Pengawasan VI,8,0.0,315479308.0,-315479308.0
12272,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,Firman Arfiansyah,Pengawasan VI,10,0.0,2164280.0,-2164280.0
12273,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,Firman Arfiansyah,Pengawasan VI,11,0.0,70450641.0,-70450641.0
12274,947423075008000,TIGA IKHWAN MEDIKAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,Firman Arfiansyah,Pengawasan VI,12,0.0,733606747.0,-733606747.0

In [164]:
gabung.to_sql('perklu',con = conn, if_exists='replace',index=False,schema='laporan')
gabung.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\perklu.xlsx',index=False)

gabung_netto.to_sql('perklu_netto',con = conn, if_exists='replace',index=False,schema='laporan')
gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\perklu_netto.xlsx',index=False)