In [5]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
mpninfo = create_engine("mysql://admin:A1110PF@10.4.19.15/mpninfo")
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [65]:
kat2022 = '''select  t."FULL" ,m."NAMA_WP" ,s."Kategori" ,t.bulanbayar::text,sum(t.jumlah2022) as "2022"
from tahun2022 t
left join mfwp m using("FULL")
left join klu k  on m."KODE_KLU" = k.klu_kode 
left join sektor s  on k.klu_sektor = s."Kode" 
where t.bulanbayar <4
group by  t."FULL" ,m."NAMA_WP" ,s."Kategori",t.bulanbayar::text'''

In [66]:
kat2021 = '''select  t."FULL" ,m."NAMA_WP" ,s."Kategori",t.bulanbayar::text ,sum(t.jumlah2021) as "2021"
from tahun2021 t
left join mfwp m using("FULL")
left join klu k  on m."KODE_KLU" = k.klu_kode 
left join sektor s  on k.klu_sektor = s."Kode" 
where t.bulanbayar <4
group by  t."FULL" ,m."NAMA_WP" ,s."Kategori",t.bulanbayar::text'''

In [67]:
mf = pd.read_sql('select "FULL","NAMA_AR","SEKSI" from mfwp',con=conn)

In [68]:
tahun2022 = pd.read_sql(kat2022,con=conn)
tahun2021 = pd.read_sql(kat2021,con=conn)

In [69]:
gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','Kategori','bulanbayar'],how='outer')
gabung = pd.merge(gabung,mf,on=['FULL'],how='outer')

In [70]:
gabung.to_clipboard()

In [71]:
gabung['2022'].sum()

1334605274084.0

In [72]:
gabung.isna().sum()

FULL            0
NAMA_WP       273
Kategori      273
bulanbayar    263
2022          467
2021          431
NAMA_AR        10
SEKSI          10
dtype: int64

In [73]:
gabung.bulanbayar.unique()

array(['1', '2', '3', nan], dtype=object)

In [74]:
gabung['2022'].fillna(0, inplace=True)
gabung['2021'].fillna(0, inplace=True)

In [75]:
gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
gabung['Kategori'].fillna('NON WP MADTIM', inplace=True)
gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [76]:
gabung = gabung.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','bulanbayar'],dropna=False).sum().reset_index()

In [77]:
gabung['short/Surp'] = gabung['2022'] - gabung['2021']

In [78]:
gabung.to_clipboard()

In [79]:
#gabung.to_sql('perklu',index=False,schema='laporan',if_exists='replace',con=conn)

In [80]:
gabung.to_excel(r'D:\DATA KANTOR\BULANAN\janmarperklu.xlsx',index=False)

In [81]:
gabung['2022'].sum()

1334605274084.0