In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
import itertools
psql_conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
psql_monitoring =create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/monitoring")

In [2]:
sampaibulan = 6
sampaibulan = [i for i in range(1,sampaibulan+1)]
sampaibulan

[1, 2, 3, 4, 5, 6]

In [3]:
range_bulan = ','.join([str(item) for item in sampaibulan])

In [4]:
map2022 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

map2022_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

In [5]:
map2021 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

map2021_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [6]:
tahun2022 = pd.read_sql(map2022,con=psql_conn)
tahun2021 = pd.read_sql(map2021,con=psql_conn)

tahun2022_netto = pd.read_sql(map2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(map2021_netto,con=psql_conn)

In [7]:
tahun2022 = tahun2022[tahun2022['BULANBAYAR'].isin(sampaibulan)]
tahun2022_netto = tahun2022_netto[tahun2022_netto['BULANBAYAR'].isin(sampaibulan)]

In [8]:
batas_bulan = tahun2022_netto.BULANBAYAR.max()
bulan = [i for i in range(1,batas_bulan+1)]
tahun2021 = tahun2021[tahun2021['BULANBAYAR'].isin(bulan)]
tahun2021_netto = tahun2021_netto[tahun2021_netto['BULANBAYAR'].isin(bulan)]

In [9]:
map_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')

map_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')

In [10]:
map_gabung['JUMLAH2022'].fillna(0, inplace=True)
map_gabung['JUMLAH2021'].fillna(0, inplace=True)

map_gabung_netto['JUMLAH2022'].fillna(0, inplace=True)
map_gabung_netto['JUMLAH2021'].fillna(0, inplace=True)

In [11]:
map_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

map_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [12]:
map_gabung = map_gabung.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

map_gabung_netto = map_gabung_netto.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [13]:
map_gabung['SHORT/SURP'] = map_gabung['JUMLAH2022'] - map_gabung['JUMLAH2021']

map_gabung_netto['SHORT/SURP'] = map_gabung_netto['JUMLAH2022'] - map_gabung_netto['JUMLAH2021']

In [14]:
# map_gabung = map_gabung.melt(id_vars=['FULL','NAMA_WP','MAP','SEKSI','NAMA_AR','BULANBAYAR','SHORT/SURP'],
#                              value_vars=['JUMLAH2021','JUMLAH2022'], value_name='NOMINAL', var_name='TAHUN' )
# map_gabung_netto = map_gabung_netto.melt(id_vars=['FULL','NAMA_WP','MAP','SEKSI','NAMA_AR','BULANBAYAR','SHORT/SURP'],
#                              value_vars=['JUMLAH2021','JUMLAH2022'], value_name='NOMINAL', var_name='TAHUN')

In [15]:
map_gabung.to_sql('permap',con = psql_monitoring, if_exists='replace',index=False, schema='upthismonth')

map_gabung_netto.to_sql('permap_netto',con = psql_monitoring, if_exists='replace',index=False, schema='upthismonth')
map_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\permap_netto.xlsx', index=False)

# per KLU

In [16]:
klu2022 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

klu2022_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

In [17]:
klu2021 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

klu2021_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [18]:
tahun2022 = pd.read_sql(klu2022,con=psql_conn)
tahun2021 = pd.read_sql(klu2021,con=psql_conn)

tahun2022_netto = pd.read_sql(klu2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(klu2021_netto,con=psql_conn)

In [19]:
tahun2022 = tahun2022[tahun2022['BULANBAYAR'].isin(sampaibulan)]
tahun2022_netto = tahun2022_netto[tahun2022_netto['BULANBAYAR'].isin(sampaibulan)]

In [20]:
batas_bulan = tahun2022_netto.BULANBAYAR.max()
bulan = [i for i in range(1,batas_bulan+1)]
tahun2021 = tahun2021[tahun2021['BULANBAYAR'].isin(bulan)]
tahun2021_netto = tahun2021_netto[tahun2021_netto['BULANBAYAR'].isin(bulan)]

In [21]:
klu_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')
klu_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')

In [22]:
klu_gabung['2022'].fillna(0, inplace=True)
klu_gabung['2021'].fillna(0, inplace=True)

klu_gabung_netto['2022'].fillna(0, inplace=True)
klu_gabung_netto['2021'].fillna(0, inplace=True)

In [23]:
klu_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['Kategori'].fillna('NON WP MADTIM', inplace=True)

klu_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['Kategori'].fillna('NON WP MADTIM', inplace=True)

In [24]:
klu_gabung = klu_gabung.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

klu_gabung_netto = klu_gabung_netto.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [25]:
klu_gabung['SHORT/SURP'] = klu_gabung['2022'] - klu_gabung['2021']

klu_gabung_netto['SHORT/SURP'] = klu_gabung_netto['2022'] - klu_gabung_netto['2021']

In [26]:
klu_gabung.fillna('',inplace=True)
klu_gabung_netto.fillna('',inplace=True)

In [27]:
klu_gabung.to_sql('perklu',con = psql_monitoring, if_exists='replace',index=False,schema='upthismonth')
#klu_gabung.to_excel(r'D:\DATA KANTOR\BULANAN\perklu.xlsx',index=False)

klu_gabung_netto.to_sql('perklu_netto',con = psql_monitoring, if_exists='replace',index=False,schema='upthismonth')
klu_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\perklu_netto.xlsx',index=False)

# SHORTFALL/SURPLUS

### MAP

In [28]:
map_top10 = map_gabung[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10 = map_top10.nlargest(10,'SHORT/SURP',keep='all')

map_top10_netto = map_gabung_netto[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']]
map_top10_netto = map_top10_netto.groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10_netto = map_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [29]:
map_gabung = map_gabung[map_gabung['NAMA_WP']!='NON WP MADTIM']
map_gabung_netto = map_gabung_netto[map_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [30]:
map_bot10 = map_gabung[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10 = map_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

map_bot10_netto = map_gabung_netto[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10_netto = map_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [31]:
map_top10.to_sql('map_top10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_top10_netto.to_sql('map_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_top10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\maptop10.xlsx',index=False)

map_bot10.to_sql('map_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_bot10_netto.to_sql('map_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_bot10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\mapbot10.xlsx',index=False)

### KLU

In [32]:
klu_gabung = klu_gabung[klu_gabung['NAMA_WP']!='NON WP MADTIM']
klu_gabung_netto = klu_gabung_netto[klu_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [33]:
klu_top10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10 = klu_top10.nlargest(10,'SHORT/SURP',keep='all')

klu_top10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10_netto = klu_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [34]:
klu_bot10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10 = klu_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

klu_bot10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10_netto = klu_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [35]:
klu_top10.to_sql('klu_top10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_top10_netto.to_sql('klu_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_top10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\klutop10netto.xlsx', index=False)

klu_bot10.to_sql('klu_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_bot10_netto.to_sql('klu_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_bot10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\klubot10netto.xlsx', index=False)

### Surplus Shortfall Overall

In [36]:
sfsp22 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" 
from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"
'''

In [37]:
sfsp21 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"'''

In [38]:
sfsp2022 = pd.read_sql(sfsp22, con=psql_conn)
sfsp2021 = pd.read_sql(sfsp21, con=psql_conn)

In [39]:
sfsp = pd.merge(sfsp2022, sfsp2021, on=['FULL','NAMA_WP','NAMA_AR','SEKSI'], how='left' )

In [40]:
sfsp['SHORTFALL/SURPPLUS'] = sfsp['2022']-sfsp['2021']

In [41]:
sfsp = sfsp[~sfsp['NAMA_WP'].isna()]

In [42]:
top_sfsp = sfsp.nlargest(10,columns='SHORTFALL/SURPPLUS')
bot_sfsp = sfsp.nsmallest(10, columns='SHORTFALL/SURPPLUS')

In [43]:
top_sfsp.to_sql('sfsp_top', if_exists='replace', index=False, con=psql_monitoring,schema='upthismonth')
bot_sfsp.to_sql('sfsp_bot', if_exists='replace', index=False, con=psql_monitoring,schema='upthismonth')
# top_sfsp.to_sql(r'D:\DATA KANTOR\BULANAN\DATA\surplus.xlsx',index=False)
# bot_sfsp.to_sql(r'D:\DATA KANTOR\BULANAN\DATA\shortfall.xlsx',index=False)
top_sfsp.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\surplus.xlsx', index=False)
bot_sfsp.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\shortfall.xlsx', index=False)

# PPM PKM

In [44]:
target = pd.read_sql('select * from renpen_ppmpkm2022',con=psql_conn)

In [45]:
target['TOTAL TARGET'] = target['TARGET RUTIN']+ target['TARGET PKM WAS'] + target['TARGET PKM P3']

In [46]:
kueri_ppmpkm = '''select  p."SEKSI" ,p."NAMA_AR" ,p."JENIS_PPM_PKM" , sum(p.nominal) AS "JUMLAH"
from 
ppmpkm2022 p 
where p.bulanbayar in({}) and p."FLAG_PPM_PKM" != 'PPS'
group by p."SEKSI" ,p."NAMA_AR" ,p."JENIS_PPM_PKM"'''.format(range_bulan)

In [47]:
ppmpkm = pd.read_sql(kueri_ppmpkm, con=psql_conn)

In [48]:
ppmpkm.fillna('Non WP Madtim', inplace=True)

In [49]:
ppmpkm = pd.pivot_table(ppmpkm,index=['SEKSI','NAMA_AR'],
                        columns=['JENIS_PPM_PKM'],aggfunc='sum',values='JUMLAH').reset_index()

In [50]:
ppmpkm.fillna(0, inplace=True)

In [51]:
target['NAMA_AR'] = target['NAMA_AR'].str.title().str.strip()
ppmpkm['NAMA_AR'] = ppmpkm['NAMA_AR'].str.strip()

In [52]:
ppmpkm = pd.merge(ppmpkm, target,on=['SEKSI','NAMA_AR'],how='left' )

In [53]:
ppmpkm.fillna('0',inplace=True)

In [54]:
kolom = ppmpkm.iloc[:,6:10].columns.tolist()
for kol in kolom:
    ppmpkm[kol] = ppmpkm[kol].astype('float')

In [55]:
ppmpkm['TOTAL REALISASI'] = ppmpkm['RUTIN']+ppmpkm['PENGAWASAN']+ppmpkm['PEMERIKSAAN']+ ppmpkm['PENAGIHAN']
ppmpkm['P3'] = ppmpkm['PEMERIKSAAN']+ ppmpkm['PENAGIHAN']
ppmpkm['% RUTIN'] = ppmpkm['RUTIN']/ ppmpkm['TARGET RUTIN']
ppmpkm['% PENGAWASAN'] = ppmpkm['PENGAWASAN']/ ppmpkm['TARGET PKM WAS']
ppmpkm['% PKM P3'] = (ppmpkm['P3'])/ ppmpkm['TARGET PKM P3']
ppmpkm['% CAPAIAN'] = ppmpkm['TOTAL REALISASI'] / ppmpkm['TOTAL TARGET']

In [56]:
ppmpkm = ppmpkm[['SEKSI', 'NAMA_AR','TARGET RUTIN','RUTIN','% RUTIN',
                 'TARGET PKM WAS','PENGAWASAN','% PENGAWASAN',
                 'TARGET PKM P3','P3','% PKM P3','TOTAL TARGET','TOTAL REALISASI','% CAPAIAN']]

In [57]:
import numpy as np
ppmpkm.fillna( 0, inplace=True)
ppmpkm.replace(np.inf, 0, inplace=True)

In [58]:
ppmpkm.to_sql('ppmpkm_report', if_exists='replace', index=False, con=psql_monitoring, schema='upthismonth')
# ppmpkm.to_sql(r'D:\DATA KANTOR\BULANAN\DATA\ppmpkm.xlsx',index=False)
ppmpkm.to_sql('ppmpkm_report', index=False, if_exists='replace', con= psql_conn)
ppmpkm.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\ppmpkm.xlsx', index=False)

# MAP report

In [59]:
map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

<ipython-input-59-7c635656a680>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

In [60]:
renpen_map = pd.read_sql('select * from renpen_map', con=psql_conn)

In [61]:
map_report = pd.merge(map_report, renpen_map, on=['MAP'], how='left')
map_report.fillna(0, inplace=True)

In [62]:
map_report.to_sql('permap_netto_report', if_exists='replace', index=False, con=psql_monitoring)

22