In [89]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
import itertools
import xlsxwriter
psql_conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
psql_monitoring =create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/monitoring")

In [90]:
sampaibulan = 8
sampaibulan = [i for i in range(1,sampaibulan+1)]
sampaibulan

[1, 2, 3, 4, 5, 6, 7, 8]

In [91]:
range_bulan = ','.join([str(item) for item in sampaibulan])
writer = pd.ExcelWriter(r'D:\DATA KANTOR\RAPIM_RAKORDA\grup_penerimaan.xlsx',engine='xlsxwriter')

In [92]:
bruto = '''
select p."NAMA_WP" , sum(p.nominal) as bruto
from ppmpkm2022 p 
where p.ket != 'SPMKP' and p.bulanbayar in({})
group by p."NAMA_WP" 
order by bruto desc '''.format(range_bulan)

netto = '''
select p."NAMA_WP" , sum(p.nominal) as netto
from ppmpkm2022 p 
where p.bulanbayar in({})
group by p."NAMA_WP" 
order by netto desc'''.format(range_bulan)

In [93]:
bruto = pd.read_sql(bruto,con=psql_conn)
netto = pd.read_sql(netto,con=psql_conn)

In [94]:
bruto.drop(bruto[bruto['NAMA_WP'].isnull()].index, inplace=True)
netto.drop(netto[netto['NAMA_WP'].isnull()].index, inplace=True)

In [95]:
bruto_nol = 1395-bruto.shape[0]
netto_nol = 1395-netto.shape[0]

In [96]:
bruto_a = bruto.nlargest(10,columns='bruto')
bruto_b = pd.DataFrame([['Penerimaan 10 WP Terbesar',bruto_a['bruto'].sum()]],columns=['NAMA_WP','bruto'])
bruto_c = pd.DataFrame([['Penerimaan 11 s.d. 100 WP Terbesar',bruto.iloc[10:100,]['bruto'].sum()]],columns=['NAMA_WP','bruto'])
bruto_d = pd.DataFrame([['Penerimaan 101 s.d. 500 WP Terbesar',bruto.iloc[101:500,]['bruto'].sum()]],columns=['NAMA_WP','bruto'])
bruto_e = pd.DataFrame([['Penerimaan 501 s.d. {} WP Terbesar'.format(bruto.shape[0]+1),bruto.iloc[501:bruto.shape[0],]['bruto'].sum()]],columns=['NAMA_WP','bruto'])
bruto_x = pd.DataFrame([['{} WP Pusat dan Cabang Penerimaan 0'.format(bruto_nol),'']],columns=['NAMA_WP','bruto'])
bruto_f = pd.DataFrame([['Total',bruto['bruto'].sum()]],columns=['NAMA_WP','bruto'])

In [97]:
bruto = pd.concat([bruto_a,bruto_b, bruto_c, bruto_d, bruto_e,bruto_x,bruto_f], axis=0,ignore_index=True)

In [98]:
nettomin = netto[netto['netto']<0].index.tolist()
row=netto.shape[0]+1
rowplus= row-len(nettomin)

In [99]:
netto_a = netto.nlargest(10,columns='netto')
netto_b = pd.DataFrame([['Penerimaan 10 WP Terbesar',netto_a['netto'].sum()]],columns=['NAMA_WP','netto'])
netto_c = pd.DataFrame([['Penerimaan 11 s.d. 100 WP Terbesar',netto.iloc[10:100,]['netto'].sum()]],columns=['NAMA_WP','netto'])
netto_d = pd.DataFrame([['Penerimaan 101 s.d. 500 WP Terbesar',netto.iloc[101:500,]['netto'].sum()]],columns=['NAMA_WP','netto'])
netto_e = pd.DataFrame([['Penerimaan 501 s.d. {} WP Terbesar'.format(rowplus),netto.iloc[501:min(nettomin),]['netto'].sum()]],columns=['NAMA_WP','netto'])
netto_f = pd.DataFrame([['Penerimaan Kurang dari 0',netto.iloc[min(nettomin):,]['netto'].sum()]],columns=['NAMA_WP','netto'])        
netto_x = pd.DataFrame([['{} WP Pusat dan Cabang Penerimaan 0'.format(netto_nol),'']],columns=['NAMA_WP','bruto'])     
netto_g = pd.DataFrame([['Total',netto['netto'].sum()]],columns=['NAMA_WP','netto'])

In [100]:
netto = pd.concat([netto_a,netto_b, netto_c, netto_d, netto_e,netto_f,netto_x,netto_g], axis=0,ignore_index=True)

In [101]:
bruto.to_excel(writer, sheet_name='bruto')
netto.to_excel(writer, sheet_name='netto')
writer.save()

In [102]:
map2022 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

map2022_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

In [103]:
map2021 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

map2021_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [104]:
tahun2022 = pd.read_sql(map2022,con=psql_conn)
tahun2021 = pd.read_sql(map2021,con=psql_conn)

tahun2022_netto = pd.read_sql(map2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(map2021_netto,con=psql_conn)

In [105]:
tahun2022 = tahun2022[tahun2022['BULANBAYAR'].isin(sampaibulan)]
tahun2022_netto = tahun2022_netto[tahun2022_netto['BULANBAYAR'].isin(sampaibulan)]

In [106]:
batas_bulan = tahun2022_netto.BULANBAYAR.max()
bulan = [i for i in range(1,batas_bulan+1)]
tahun2021 = tahun2021[tahun2021['BULANBAYAR'].isin(bulan)]
tahun2021_netto = tahun2021_netto[tahun2021_netto['BULANBAYAR'].isin(bulan)]

In [107]:
map_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')

map_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')

In [108]:
map_gabung['JUMLAH2022'].fillna(0, inplace=True)
map_gabung['JUMLAH2021'].fillna(0, inplace=True)

map_gabung_netto['JUMLAH2022'].fillna(0, inplace=True)
map_gabung_netto['JUMLAH2021'].fillna(0, inplace=True)

In [109]:
map_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

map_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [110]:
map_gabung = map_gabung.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

map_gabung_netto = map_gabung_netto.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [111]:
map_gabung['SHORT/SURP'] = map_gabung['JUMLAH2022'] - map_gabung['JUMLAH2021']

map_gabung_netto['SHORT/SURP'] = map_gabung_netto['JUMLAH2022'] - map_gabung_netto['JUMLAH2021']

In [112]:
# map_gabung = map_gabung.melt(id_vars=['FULL','NAMA_WP','MAP','SEKSI','NAMA_AR','BULANBAYAR','SHORT/SURP'],
#                              value_vars=['JUMLAH2021','JUMLAH2022'], value_name='NOMINAL', var_name='TAHUN' )
# map_gabung_netto = map_gabung_netto.melt(id_vars=['FULL','NAMA_WP','MAP','SEKSI','NAMA_AR','BULANBAYAR','SHORT/SURP'],
#                              value_vars=['JUMLAH2021','JUMLAH2022'], value_name='NOMINAL', var_name='TAHUN')

In [113]:
map_gabung.to_sql('permap',con = psql_monitoring, if_exists='replace',index=False, schema='upthismonth')

map_gabung_netto.to_sql('permap_netto',con = psql_monitoring, if_exists='replace',index=False, schema='upthismonth')
map_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\permap_netto.xlsx', index=False)

# per KLU

In [114]:
klu2022 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

klu2022_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''

In [115]:
klu2021 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

klu2021_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [116]:
tahun2022 = pd.read_sql(klu2022,con=psql_conn)
tahun2021 = pd.read_sql(klu2021,con=psql_conn)

tahun2022_netto = pd.read_sql(klu2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(klu2021_netto,con=psql_conn)

In [117]:
tahun2022 = tahun2022[tahun2022['BULANBAYAR'].isin(sampaibulan)]
tahun2022_netto = tahun2022_netto[tahun2022_netto['BULANBAYAR'].isin(sampaibulan)]

In [118]:
batas_bulan = tahun2022_netto.BULANBAYAR.max()
bulan = [i for i in range(1,batas_bulan+1)]
tahun2021 = tahun2021[tahun2021['BULANBAYAR'].isin(bulan)]
tahun2021_netto = tahun2021_netto[tahun2021_netto['BULANBAYAR'].isin(bulan)]

In [119]:
klu_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')
klu_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI'],how='outer')

In [120]:
klu_gabung['2022'].fillna(0, inplace=True)
klu_gabung['2021'].fillna(0, inplace=True)

klu_gabung_netto['2022'].fillna(0, inplace=True)
klu_gabung_netto['2021'].fillna(0, inplace=True)

In [121]:
klu_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['Kategori'].fillna('NON WP MADTIM', inplace=True)

klu_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['Kategori'].fillna('NON WP MADTIM', inplace=True)

In [122]:
klu_gabung = klu_gabung.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

klu_gabung_netto = klu_gabung_netto.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [123]:
klu_gabung['SHORT/SURP'] = klu_gabung['2022'] - klu_gabung['2021']

klu_gabung_netto['SHORT/SURP'] = klu_gabung_netto['2022'] - klu_gabung_netto['2021']

In [124]:
klu_gabung.fillna('',inplace=True)
klu_gabung_netto.fillna('',inplace=True)

In [125]:
klu_ppt = klu_gabung_netto[['Kategori','2022','2021','SHORT/SURP']].groupby('Kategori').sum().reset_index()
klu_ppt = klu_ppt.sort_values(by='SHORT/SURP')
klu_ppt_a = klu_ppt.nlargest(9,'SHORT/SURP')
indek = klu_ppt_a.index.tolist()
klu_ppt_b = klu_ppt[~klu_ppt.index.isin(indek)]
klu_ppt_b.loc[:,'Kategori'] = 'Sektor Lainnya'
klu_ppt_b= klu_ppt_b.groupby('Kategori').sum().reset_index()
klu_ppt = pd.concat([klu_ppt_a, klu_ppt_b], axis=0, ignore_index=True)
klu_ppt['%Tumbuh'] = klu_ppt['SHORT/SURP']/klu_ppt['2021']
klu_ppt.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\klu_ppt.xlsx',index=False)

<ipython-input-125-e65d96f57ec0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  klu_ppt_b.loc[:,'Kategori'] = 'Sektor Lainnya'

In [126]:
klu_gabung.to_sql('perklu',con = psql_monitoring, if_exists='replace',index=False,schema='upthismonth')
#klu_gabung.to_excel(r'D:\DATA KANTOR\BULANAN\perklu.xlsx',index=False)

klu_gabung_netto.to_sql('perklu_netto',con = psql_monitoring, if_exists='replace',index=False,schema='upthismonth')
klu_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\perklu_netto.xlsx',index=False)

# SHORTFALL/SURPLUS

### MAP

In [127]:
map_top10 = map_gabung[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10 = map_top10.nlargest(10,'SHORT/SURP',keep='all')

map_top10_netto = map_gabung_netto[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']]
map_top10_netto = map_top10_netto.groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10_netto = map_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [128]:
map_gabung_sfsp = map_gabung[map_gabung['NAMA_WP']!='NON WP MADTIM']
map_gabung_netto_sfsp = map_gabung_netto[map_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [129]:
map_bot10 = map_gabung_sfsp[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10 = map_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

map_bot10_netto = map_gabung_netto_sfsp[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10_netto = map_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [130]:
map_top10_netto['%Kontrib Netto'] = map_top10_netto['JUMLAH2022']/map_gabung_netto['JUMLAH2022'].sum()
map_bot10_netto['%Kontrib Netto'] = map_bot10_netto['JUMLAH2022']/map_gabung_netto['JUMLAH2022'].sum()

In [131]:
map_top10.to_sql('map_top10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_top10_netto.to_sql('map_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_top10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\maptop10.xlsx',index=False)

map_bot10.to_sql('map_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_bot10_netto.to_sql('map_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_bot10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\mapbot10.xlsx',index=False)

### KLU

In [132]:
klu_gabung = klu_gabung[klu_gabung['NAMA_WP']!='NON WP MADTIM']
klu_gabung_netto = klu_gabung_netto[klu_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [133]:
klu_top10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10 = klu_top10.nlargest(10,'SHORT/SURP',keep='all')

klu_top10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10_netto = klu_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [134]:
klu_bot10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10 = klu_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

klu_bot10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10_netto = klu_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [135]:
klu_top10_netto['%Kontrib Neto'] = klu_top10_netto['2022']/klu_gabung_netto['2022'].sum()
klu_bot10_netto['%Kontrib Neto'] = klu_bot10_netto['2022']/klu_gabung_netto['2022'].sum()

In [136]:
klu_top10.to_sql('klu_top10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_top10_netto.to_sql('klu_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_top10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\klutop10netto.xlsx', index=False)

klu_bot10.to_sql('klu_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_bot10_netto.to_sql('klu_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_bot10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\klubot10netto.xlsx', index=False)

### Surplus Shortfall Overall

In [137]:
sfsp22 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" 
from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"
'''

In [138]:
sfsp21 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"'''

In [139]:
sfsp2022 = pd.read_sql(sfsp22, con=psql_conn)
sfsp2021 = pd.read_sql(sfsp21, con=psql_conn)

In [140]:
sfsp = pd.merge(sfsp2022, sfsp2021, on=['FULL','NAMA_WP','NAMA_AR','SEKSI'], how='left' )

In [141]:
sfsp['SHORTFALL/SURPPLUS'] = sfsp['2022']-sfsp['2021']

In [142]:
sfsp = sfsp[~sfsp['NAMA_WP'].isna()]

In [143]:
top_sfsp = sfsp.nlargest(10,columns='SHORTFALL/SURPPLUS')
top_sfsp['%Kontrib Netto'] = top_sfsp['SHORTFALL/SURPPLUS'] / map_gabung_netto['JUMLAH2022'].sum()

bot_sfsp = sfsp.nsmallest(10, columns='SHORTFALL/SURPPLUS')
bot_sfsp['%Kontrib Netto'] = bot_sfsp['SHORTFALL/SURPPLUS'] / map_gabung_netto['JUMLAH2022'].sum()

In [144]:
top_sfsp.to_sql('sfsp_top', if_exists='replace', index=False, con=psql_monitoring,schema='upthismonth')
bot_sfsp.to_sql('sfsp_bot', if_exists='replace', index=False, con=psql_monitoring,schema='upthismonth')
# top_sfsp.to_sql(r'D:\DATA KANTOR\BULANAN\DATA\surplus.xlsx',index=False)
# bot_sfsp.to_sql(r'D:\DATA KANTOR\BULANAN\DATA\shortfall.xlsx',index=False)
top_sfsp.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\surplus.xlsx', index=False)
bot_sfsp.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\shortfall.xlsx', index=False)

# PPM PKM

In [145]:
target = pd.read_sql('select * from renpen_ppmpkm_juli2022',con=psql_conn)

In [146]:
target['TOTAL TARGET'] = target['TARGET RUTIN']+ target['TARGET PKM WAS'] + target['TARGET PKM P3']

In [147]:
ppmpkm = pd.read_excel(r'D:\DATA KANTOR\BULANAN\7.JULI\Raw PPM PKM.xlsx',
                       usecols=['NAMA_SEKSI','NAMA_AR','KET_FLAG','NOMINAL'],
                       sheet_name='janjul')

In [148]:
ppmpkm['NAMA_SEKSI'].unique()

array(['Pengawasan V', 'Pengawasan IV', 'Pengawasan III', 'Pengawasan II',
       'Pengawasan I', 'Pengawasan VI', 'NON WP MADTM'], dtype=object)

In [149]:
#ppmpkm = pd.read_parquet('ppmpkm_temp.parquet')
ppmpkm['NOMINAL'] = ppmpkm['NOMINAL'].astype('int64')
ppmpkm['NAMA_SEKSI'].replace('Seksi','',inplace=True)

In [150]:
ppmpkm.rename(columns={'NAMA_SEKSI':'SEKSI','KET_FLAG':'JENIS_PPM_PKM','NOMINAL':'JUMLAH'},inplace=True)

In [151]:
ppmpkm[ppmpkm['JENIS_PPM_PKM']=='RUTIN']['JUMLAH'].sum()

5814632092290

In [152]:
ppmpkm.head()

    JUMLAH JENIS_PPM_PKM                   NAMA_AR         SEKSI
0   624769         RUTIN               AGUS WIDODO  Pengawasan V
1   192825         RUTIN             ZULFIKRI RAIS  Pengawasan V
2  3178770         RUTIN  HERMAN TUMPAL TAMPUBOLON  Pengawasan V
3   175631         RUTIN               AGUS WIDODO  Pengawasan V
4    79779         RUTIN               AGUS WIDODO  Pengawasan V

In [153]:
ppmpkm = pd.pivot_table(ppmpkm,index=['SEKSI','NAMA_AR'],
                        columns=['JENIS_PPM_PKM'],aggfunc='sum',values='JUMLAH').reset_index()

In [154]:
ppmpkm.fillna(0, inplace=True)
ppmpkm['SEKSI'] = ppmpkm['SEKSI'].str.strip()
ppmpkm['NAMA_AR'] = ppmpkm['NAMA_AR'].str.strip()

In [155]:
target['NAMA_AR'] = target['NAMA_AR'].str.title().str.strip()
ppmpkm['NAMA_AR'] = ppmpkm['NAMA_AR'].str.strip()
ppmpkm['NAMA_AR'] = ppmpkm['NAMA_AR'].str.title()

In [156]:
ppmpkm.head()

JENIS_PPM_PKM,SEKSI,NAMA_AR,PEMERIKSAAN,PENAGIHAN,PENGAWASAN,PPS,RUTIN
0,NON WP MADTM,Non Wp Madtm,567238332,29421924,2601406509,6402600,32512205140
1,Pengawasan I,Fuad Aziz Kardinto,2931911869,2451714118,4301652992,659725188,219417664406
2,Pengawasan I,I Nyoman Sukerta,195734615,137456901,1232319127,688091000,45146200818
3,Pengawasan I,Idris,1039694235,86031735,6787597677,743742019,150377377746
4,Pengawasan I,Ronaldi Marbun,3755934338,674997372,18681986049,3572050039,242217643093

In [157]:
target.head()

,SEKSI,NAMA_AR,TARGET RUTIN,TARGET PKM WAS,TARGET PKM P3,TOTAL TARGET
0,Pengawasan I,Fuad Aziz Kardinto,362263263000,1994707000,7493889000,371751859000
1,Pengawasan I,I Nyoman Sukerta,56543983000,1539566000,2974875000,61058424000
2,Pengawasan I,Idris,35181601000,4330803000,5516761000,45029165000
3,Pengawasan I,Ronaldi Marbun,414285846000,9604417000,23669917000,447560180000
4,Pengawasan I,Wahyu Triastuti Betty Ariana,265499057000,3035877000,3015851000,271550785000

In [158]:
ppmpkm = pd.merge(ppmpkm, target,on=['SEKSI','NAMA_AR'],how='left' )

In [159]:
ppmpkm.fillna(0, inplace=True)

In [160]:
kolom = ppmpkm.iloc[:,7:].columns.tolist()
for kol in kolom:
    ppmpkm[kol] = ppmpkm[kol].astype('int64')

In [161]:
ppmpkm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SEKSI           31 non-null     object
 1   NAMA_AR         31 non-null     object
 2   PEMERIKSAAN     31 non-null     int64
 3   PENAGIHAN       31 non-null     int64
 4   PENGAWASAN      31 non-null     int64
 5   PPS             31 non-null     int64
 6   RUTIN           31 non-null     int64
 7   TARGET RUTIN    31 non-null     int64
 8   TARGET PKM WAS  31 non-null     int64
 9   TARGET PKM P3   31 non-null     int64
 10  TOTAL TARGET    31 non-null     int64
dtypes: int64(9), object(2)
memory usage: 2.9+ KB

In [162]:
ppmpkm['TOTAL REALISASI'] = ppmpkm['RUTIN']+ppmpkm['PENGAWASAN']+ppmpkm['PEMERIKSAAN']+ ppmpkm['PENAGIHAN']+ppmpkm['PPS']
ppmpkm['P3'] = ppmpkm['PEMERIKSAAN']+ ppmpkm['PENAGIHAN']
ppmpkm['% RUTIN'] = ppmpkm['RUTIN']/ ppmpkm['TARGET RUTIN']
ppmpkm['% PENGAWASAN'] = ppmpkm['PENGAWASAN']/ ppmpkm['TARGET PKM WAS']
ppmpkm['% PKM P3'] = (ppmpkm['P3'])/ ppmpkm['TARGET PKM P3']
ppmpkm['% CAPAIAN'] = ppmpkm['TOTAL REALISASI'] / ppmpkm['TOTAL TARGET']

In [163]:
ppmpkm = ppmpkm[['SEKSI', 'NAMA_AR','TARGET RUTIN','RUTIN','% RUTIN',
                 'TARGET PKM WAS','PENGAWASAN','PPS','% PENGAWASAN',
                 'TARGET PKM P3','P3','% PKM P3','TOTAL TARGET','TOTAL REALISASI','% CAPAIAN']]

In [164]:
import numpy as np
ppmpkm.fillna( 0, inplace=True)
ppmpkm.replace(np.inf, 0, inplace=True)

In [165]:
ppmpkm.to_sql('ppmpkm_report', if_exists='replace', index=False, con=psql_monitoring, schema='upthismonth')
# ppmpkm.to_sql(r'D:\DATA KANTOR\BULANAN\DATA\ppmpkm.xlsx',index=False)
ppmpkm.to_sql('ppmpkm_report', index=False, if_exists='replace', con= psql_conn)
ppmpkm.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\ppmpkm.xlsx', index=False)

# MAP report

In [166]:
map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

<ipython-input-166-7c635656a680>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

In [167]:
renpen_map = pd.read_sql('select * from renpen_map_juli', con=psql_conn)

In [168]:
map_report = pd.merge(map_report, renpen_map, on=['MAP'], how='left')
map_report.fillna(0, inplace=True)

In [169]:
map_lainnya = ['Penjualan Benda Meterai','PPh 25 OP DTP','PPh Gas Alam','PPh Migas Lainnya','PPh Minyak Bumi',
               'PPh Non Migas Lainnya','PPN Lainnya','STP atas Bunga Penagihan','STP atas Bunga Penagihan PPN']

In [170]:
map_report_slice_a = map_report[~map_report['MAP'].isin(map_lainnya)]
map_report_slice_b = map_report[map_report['MAP'].isin(map_lainnya)]
map_report_slice_b.replace(map_lainnya,'Lainnya',inplace=True)
map_report_slice = pd.concat([map_report_slice_a, map_report_slice_b],axis=0)

<ipython-input-170-06e8ce87b8cd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  map_report_slice_b.replace(map_lainnya,'Lainnya',inplace=True)

In [171]:
map_report.to_sql('permap_netto_report', if_exists='replace', index=False, con=psql_monitoring)
map_report_slice.to_sql('permap_netto_report', if_exists='replace', index=False, con=psql_monitoring)

23

# Capaian Per Seksi

In [172]:
kueri = ''' 
select p."SEKSI" ,upper(p."NAMA_AR") as "NAMA_AR" ,sum(p.nominal) as jumlah 
from ppmpkm2022 p 
where p.bulanbayar in({})
group by p."SEKSI" ,p."NAMA_AR"'''.format(range_bulan)

kueri1= ''' 
select rpj."SEKSI" ,rpj."NAMA_AR" ,
(sum(rpj."TARGET RUTIN")+sum(rpj."TARGET PKM WAS")+sum(rpj."TARGET PKM P3")) as renpen
from renpen_ppmpkm_juli2022 rpj 
group by rpj."SEKSI" ,rpj."NAMA_AR"'''

In [173]:
perseksi = pd.read_sql(kueri, con=psql_conn)
renpen = pd.read_sql(kueri1, con=psql_conn)

In [174]:
perseksi.fillna('Non WP Madtim', inplace=True)
cap_seksi = pd.merge(perseksi,renpen,on=['SEKSI','NAMA_AR'], how='left' )
# cap_seksi['capaian'] = cap_seksi['jumlah']/ cap_seksi['renpen']
# cap_seksi['renpen'].fillna(0,inplace=True)
# cap_seksi['capaian'].fillna(1,inplace=True)

In [175]:
cap_seksi.to_sql('capaian_perseksi_ar',con=psql_conn, schema='laporan', index=False, if_exists='replace')

31

# TIDAK TERPAKAI

kueri_ppmpkm = '''select p.ntpn,p.kdmap,p.kdbayar, p."SEKSI" ,p."NAMA_AR" ,p."JENIS_PPM_PKM" , p.nominal AS "JUMLAH"
from 
ppmpkm2022 p 
where p.bulanbayar in({}) '''.format(range_bulan)

ppmpkm = pd.read_sql(kueri_ppmpkm, con=psql_conn)

klaim = ['220881303004576','220881303004576','220881303004576','E58213IDTQQFID0S','9A20D4ERDLCS58IR','B174C5B8TFV8MECI',
'C9DAB67MMDL4ETQ9','220881303004576','220881303004576','220881303004576','14F832M0E08098RN','36ED32M0E080OMS4','CC17A5B8TFV5M0C2',
'177ED1V8F82E4KOT','220881303004576','220881303004576','220881303004576','220881303004576','220881303004576','220881303004576',
'220881303004576','220881303004576','220881303004576','220881303004576','220881303004576',
]

ppmpkm_a =ppmpkm[(ppmpkm['kdmap']=='411611')&
                 (ppmpkm['kdbayar']=='512') & 
                 (ppmpkm['JENIS_PPM_PKM']!='RUTIN')]
ppmpkm_a.loc[:,'JENIS_PPM_PKM'] = 'PENGAWASAN'

ppmpkm_b = ppmpkm[~ppmpkm['ntpn'].isin(ppmpkm_a['ntpn'].tolist())]
ppmpkm = pd.concat([ppmpkm_a,ppmpkm_b],axis=0)

print(ppmpkm[ppmpkm['JENIS_PPM_PKM']=='RUTIN']['JUMLAH'].sum())
print(ppmpkm[ppmpkm['JENIS_PPM_PKM']=='PENGAWASAN']['JUMLAH'].sum())

ppmpkm_a = ppmpkm[ppmpkm['ntpn'].isin(klaim)]
ppmpkm_b = ppmpkm[~(ppmpkm['ntpn'].isin(klaim))]

ppmpkm_a.loc[:,'JENIS_PPM_PKM'] = 'PENGAWASAN'
ppmpkm = pd.concat([ppmpkm_a,ppmpkm_b],axis=0)
#ppmpkm.drop('ntpn',inplace=True)

ppmpkm[ppmpkm['JENIS_PPM_PKM']=='RUTIN']['JUMLAH'].sum()

ppmpkm = ppmpkm.groupby(['SEKSI', 'NAMA_AR', 'JENIS_PPM_PKM'],dropna=False).sum().reset_index()

ppmpkm[ppmpkm['JENIS_PPM_PKM']=='RUTIN']['JUMLAH'].sum()

ppmpkm.fillna('Non WP Madtim', inplace=True)