In [6]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
psql_conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
psql_monitoring =create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/monitoring")
from datetime import datetime

In [7]:
bulan = 8
# now = datetime.now()
# namabulan = now.strftime('%B')

# PENERIMAAN BULAN INI

In [8]:
bulanini = '''
select *
from 
ppmpkm2022 p 
where p.bulanbayar={}'''.format(bulan)

In [9]:
bulanini = pd.read_sql(bulanini, con=psql_conn)

In [10]:
bulanini.to_sql('ppmpkm2022', schema='bulanini', con=psql_monitoring, index=False, if_exists='replace')

18370

# MAP

In [11]:
map2022 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

map2022_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [12]:
map2021 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

map2021_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [13]:
tahun2022 = pd.read_sql(map2022,con=psql_conn)
tahun2021 = pd.read_sql(map2021,con=psql_conn)

tahun2022_netto = pd.read_sql(map2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(map2021_netto,con=psql_conn)

In [14]:
map_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

map_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [15]:
map_gabung['JUMLAH2022'].fillna(0, inplace=True)
map_gabung['JUMLAH2021'].fillna(0, inplace=True)

map_gabung_netto['JUMLAH2022'].fillna(0, inplace=True)
map_gabung_netto['JUMLAH2021'].fillna(0, inplace=True)

In [16]:
map_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

map_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [17]:
map_gabung = map_gabung.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

map_gabung_netto = map_gabung_netto.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [18]:
map_gabung['SHORT/SURP'] = map_gabung['JUMLAH2022'] - map_gabung['JUMLAH2021']

map_gabung_netto['SHORT/SURP'] = map_gabung_netto['JUMLAH2022'] - map_gabung_netto['JUMLAH2021']

In [19]:
map_gabung.to_sql('permap',con = psql_monitoring, if_exists='replace',index=False, schema='bulanini')

map_gabung_netto.to_sql('permap_netto',con = psql_monitoring, if_exists='replace',index=False, schema='bulanini')
map_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_permapnetto.xlsx'.format(bulan),index=False)

# per KLU

In [20]:
klu2022 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

klu2022_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [21]:
klu2021 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

klu2021_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [22]:
tahun2022 = pd.read_sql(klu2022,con=psql_conn)
tahun2021 = pd.read_sql(klu2021,con=psql_conn)

tahun2022_netto = pd.read_sql(klu2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(klu2021_netto,con=psql_conn)

In [23]:
klu_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')
klu_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [24]:
klu_gabung['2022'].fillna(0, inplace=True)
klu_gabung['2021'].fillna(0, inplace=True)

klu_gabung_netto['2022'].fillna(0, inplace=True)
klu_gabung_netto['2021'].fillna(0, inplace=True)

In [25]:
klu_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

klu_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [26]:
klu_gabung = klu_gabung.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

klu_gabung_netto = klu_gabung_netto.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [27]:
klu_gabung['SHORT/SURP'] = klu_gabung['2022'] - klu_gabung['2021']

klu_gabung_netto['SHORT/SURP'] = klu_gabung_netto['2022'] - klu_gabung_netto['2021']

In [28]:
klu_gabung.fillna('',inplace=True)
klu_gabung_netto.fillna('',inplace=True)

In [29]:
klu_gabung.to_sql('perklu',con = psql_monitoring, if_exists='replace',index=False,schema='bulanini')
#klu_gabung.to_excel(r'D:\DATA KANTOR\BULANAN\perklu.xlsx',index=False)

klu_gabung_netto.to_sql('perklu_netto',con = psql_monitoring, if_exists='replace',index=False,schema='bulanini')
# klu_gabung_netto.to_sql('perklu_netto',con = psql_monitoring, if_exists='replace',index=False)
klu_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_perklunetto.xlsx'.format(bulan),index=False)

# Per Seksi

In [30]:
perseksi = klu_gabung_netto[['SEKSI','2021','2022','SHORT/SURP']]
perseksi = perseksi.groupby(['SEKSI']).sum().reset_index()
perseksi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SEKSI       7 non-null      object
 1   2021        7 non-null      float64
 2   2022        7 non-null      float64
 3   SHORT/SURP  7 non-null      float64
dtypes: float64(3), object(1)
memory usage: 352.0+ bytes

In [31]:
perseksi['Growth']=0
for i in range(0,len(perseksi)):
    if perseksi['2021'].loc[i] < 0:
        perseksi['Growth'].loc[i] = perseksi['SHORT/SURP'].loc[i] /(perseksi['2021'].loc[i]*-1)
    else:
        perseksi['Growth'].loc[i] = perseksi['SHORT/SURP'].loc[i] /(perseksi['2021'].loc[i])

<ipython-input-31-153ecf796beb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  perseksi['Growth'].loc[i] = perseksi['SHORT/SURP'].loc[i] /(perseksi['2021'].loc[i])

In [32]:
perseksi.to_sql('perseksi_report',con=psql_monitoring, if_exists='replace',index=False, schema='bulanini')

7

# SHORTFALL/SURPLUS

### MAP

In [33]:
map_gabung = map_gabung[map_gabung['NAMA_WP']!='NON WP MADTIM']
map_gabung_netto = map_gabung_netto[map_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [34]:
map_top10 = map_gabung[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10 = map_top10.nlargest(10,'SHORT/SURP',keep='all')

map_top10_netto = map_gabung_netto[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']]
map_top10_netto = map_top10_netto.groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10_netto = map_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [35]:
map_bot10 = map_gabung[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10 = map_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

map_bot10_netto = map_gabung_netto[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10_netto = map_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [36]:
map_top10['%Kontrib Netto'] = map_top10['SHORT/SURP']/map_gabung['JUMLAH2022'].sum()
map_top10_netto['%Kontrib Netto'] = map_top10_netto['SHORT/SURP']/map_gabung_netto['JUMLAH2022'].sum()

map_bot10['%Kontrib Netto'] = map_bot10['SHORT/SURP']/map_gabung['JUMLAH2022'].sum()
map_bot10_netto['%Kontrib Netto'] = map_bot10_netto['SHORT/SURP']/map_gabung_netto['JUMLAH2022'].sum()

In [37]:
map_top10.to_sql('map_top10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
map_top10_netto.to_sql('map_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
# map_top10_netto.to_sql('map_top10_netto',if_exists='replace',index=False, con=psql_monitoring)
map_top10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_maptop10netto.xlsx'.format(bulan), index=False)

map_bot10.to_sql('map_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
map_bot10_netto.to_sql('map_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
# map_bot10_netto.to_sql('map_bot10_netto',if_exists='replace',index=False, con=psql_monitoring)
map_bot10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_mapbot10netto.xlsx'.format(bulan), index=False)

### KLU

In [38]:
klu_gabung = klu_gabung[klu_gabung['NAMA_WP']!='NON WP MADTIM']
klu_gabung_netto = klu_gabung_netto[klu_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [39]:
klu_top10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10 = klu_top10.nlargest(10,'SHORT/SURP',keep='all')

klu_top10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10_netto = klu_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [40]:
klu_bot10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10 = klu_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

klu_bot10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10_netto = klu_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [41]:
klu_top10['%Kontrib Netto'] = klu_top10['SHORT/SURP']/klu_gabung['2022'].sum()
klu_top10_netto['%Kontrib Netto'] = klu_top10_netto['SHORT/SURP']/klu_gabung_netto['2022'].sum()

klu_bot10['%Kontrib Netto'] = klu_bot10['SHORT/SURP']/klu_gabung['2022'].sum()
klu_bot10_netto['%Kontrib Netto'] = klu_bot10_netto['SHORT/SURP']/klu_gabung_netto['2022'].sum()

In [42]:
klu_top10.to_sql('klu_top10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
klu_top10_netto.to_sql('klu_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
# klu_top10_netto.to_sql('klu_top10_netto',if_exists='replace',index=False, con=psql_monitoring)
klu_top10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_klutop10netto.xlsx'.format(bulan), index=False)

klu_bot10.to_sql('klu_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
klu_bot10_netto.to_sql('klu_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
# klu_bot10_netto.to_sql('klu_bot10_netto',if_exists='replace',index=False, con=psql_monitoring)
klu_bot10_netto.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_klubot10netto.xlsx'.format(bulan), index=False)

# Surplus Shortfall Overall

In [43]:
sfsp22 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" 
from tahun2022_netto t
where t."BULANBAYAR" ={} 
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [44]:
sfsp21 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" 
from   tahun2021_netto  t
where t."BULANBAYAR" ={} 
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [45]:
sfsp2022 = pd.read_sql(sfsp22, con=psql_conn)
sfsp2021 = pd.read_sql(sfsp21, con=psql_conn)

In [46]:
sfsp = pd.merge(sfsp2022, sfsp2021, on=['FULL','NAMA_WP','NAMA_AR','SEKSI'], how='left' )

In [47]:
sfsp['SHORTFALL/SURPPLUS'] = sfsp['2022']-sfsp['2021']

In [48]:
sfsp = sfsp[~sfsp['NAMA_WP'].isna()]

In [49]:
top_sfsp = sfsp.nlargest(10,columns='SHORTFALL/SURPPLUS')
bot_sfsp = sfsp.nsmallest(10, columns='SHORTFALL/SURPPLUS')

In [50]:
top_sfsp['%Kontrib Netto'] = top_sfsp['SHORTFALL/SURPPLUS']/sfsp['2022'].sum()
bot_sfsp['%Kontrib Netto'] = bot_sfsp['SHORTFALL/SURPPLUS']/sfsp['2022'].sum()

In [51]:
top_sfsp.to_sql('sfsp_top', if_exists='replace', index=False, con=psql_monitoring,schema='bulanini')
bot_sfsp.to_sql('sfsp_bot', if_exists='replace', index=False, con=psql_monitoring,schema='bulanini')

# top_sfsp.to_sql('sfsp_top', if_exists='replace', index=False, con=psql_monitoring)
# bot_sfsp.to_sql('sfsp_bot', if_exists='replace', index=False, con=psql_monitoring)

top_sfsp.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_surplus.xlsx'.format(bulan), index=False)
bot_sfsp.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_shortfall.xlsx'.format(bulan), index=False)

# MAP Report

In [52]:
map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

<ipython-input-52-7c635656a680>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

In [53]:
map_report.to_sql('permap_netto_report', if_exists='replace', index=False, con=psql_monitoring, schema='bulanini')

16

# PPM PKM

In [54]:
kueri_ppmpkm ='''
select  p."SEKSI" ,p."NAMA_AR" ,p."JENIS_PPM_PKM" , sum(p.nominal) AS "JUMLAH"
from 
ppmpkm2022 p 
where p.bulanbayar ={}
group by p."SEKSI" ,p."NAMA_AR" ,p."JENIS_PPM_PKM"
'''.format(bulan)

In [55]:
target = pd.read_sql('''select "NAMA" as "Nama",sum(r."RENPEN") as "RENPEN" from renpen_perbulan_juli2022 r 
                     where r."BULAN"={}
                     group by r."NAMA" '''.format(bulan), con=psql_conn)

In [56]:
ppmpkm = pd.read_sql(kueri_ppmpkm, con=psql_conn)

In [57]:
ppmpkm.fillna('Non WP Madtim', inplace=True)

In [58]:
ppmpkm = pd.pivot_table(ppmpkm,index=['SEKSI','NAMA_AR'],
                        columns=['JENIS_PPM_PKM'],aggfunc='sum',values='JUMLAH').reset_index()

In [59]:
ppmpkm.fillna(0, inplace=True)

In [60]:
target['Nama'] = target['Nama'].str.title().str.strip()
ppmpkm['NAMA_AR'] = ppmpkm['NAMA_AR'].str.strip()

In [61]:
ppmpkm = pd.merge(ppmpkm, target,left_on=['NAMA_AR'], right_on=['Nama'],how='left' )

In [62]:
ppmpkm.fillna('0',inplace=True)

In [63]:
ppmpkm.drop(['Nama'],axis=1, inplace=True)
ppmpkm['TOTAL REALISASI'] = ppmpkm['RUTIN']+ppmpkm['PENGAWASAN']+ppmpkm['PEMERIKSAAN']+ ppmpkm['PENAGIHAN']

In [64]:
ppmpkm = ppmpkm[['SEKSI', 'NAMA_AR', 'RUTIN','PENGAWASAN', 'PEMERIKSAAN', 'PENAGIHAN','RENPEN','TOTAL REALISASI']]

In [65]:
ppmpkm['RENPEN'] = ppmpkm['RENPEN'].astype('float')

In [66]:
ppmpkm.to_sql('ppmpkm_report', if_exists='replace', index=False, con=psql_monitoring, schema='bulanini')
# ppmpkm.to_sql('ppmpkm_report', if_exists='replace', index=False, con=psql_monitoring)
ppmpkm.to_excel(r'D:\DATA KANTOR\BULANAN\DATA\bulan_{}_ppmpkm.xlsx'.format(bulan), index=False)