In [152]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
psql_conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
psql_monitoring =create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/monitoring")

In [244]:
bulan = 5

# PENERIMAAN BULAN INI

In [154]:
bulanini = '''
select *
from 
ppmpkm2022 p 
where p.bulanbayar={}'''.format(bulan)

In [155]:
bulanini = pd.read_sql(bulanini, con=psql_conn)

In [156]:
bulanini.to_sql('ppmpkm2022', schema='bulanini', con=psql_monitoring, index=False, if_exists='replace')

17015

# MAP

In [157]:
map2022 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

map2022_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [158]:
map2021 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

map2021_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [159]:
tahun2022 = pd.read_sql(map2022,con=psql_conn)
tahun2021 = pd.read_sql(map2021,con=psql_conn)

tahun2022_netto = pd.read_sql(map2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(map2021_netto,con=psql_conn)

In [160]:
map_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

map_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [161]:
map_gabung['JUMLAH2022'].fillna(0, inplace=True)
map_gabung['JUMLAH2021'].fillna(0, inplace=True)

map_gabung_netto['JUMLAH2022'].fillna(0, inplace=True)
map_gabung_netto['JUMLAH2021'].fillna(0, inplace=True)

In [162]:
map_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

map_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [163]:
map_gabung = map_gabung.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

map_gabung_netto = map_gabung_netto.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [164]:
map_gabung['SHORT/SURP'] = map_gabung['JUMLAH2022'] - map_gabung['JUMLAH2021']

map_gabung_netto['SHORT/SURP'] = map_gabung_netto['JUMLAH2022'] - map_gabung_netto['JUMLAH2021']

In [165]:
map_gabung.to_sql('permap',con = psql_monitoring, if_exists='replace',index=False, schema='bulanini')

map_gabung_netto.to_sql('permap_netto',con = psql_monitoring, if_exists='replace',index=False, schema='bulanini')

3709

In [166]:
# gabung.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\permap.xlsx',index=False)

# gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\permap_netto.xlsx',index=False)

# per KLU

In [167]:
klu2022 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

klu2022_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [168]:
klu2021 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021 t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

klu2021_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
where t."BULANBAYAR"={}
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [169]:
tahun2022 = pd.read_sql(klu2022,con=psql_conn)
tahun2021 = pd.read_sql(klu2021,con=psql_conn)

tahun2022_netto = pd.read_sql(klu2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(klu2021_netto,con=psql_conn)

In [170]:
klu_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')
klu_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [171]:
klu_gabung['2022'].fillna(0, inplace=True)
klu_gabung['2021'].fillna(0, inplace=True)

klu_gabung_netto['2022'].fillna(0, inplace=True)
klu_gabung_netto['2021'].fillna(0, inplace=True)

In [172]:
klu_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

klu_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [173]:
klu_gabung = klu_gabung.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

klu_gabung_netto = klu_gabung_netto.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [174]:
klu_gabung['SHORT/SURP'] = klu_gabung['2022'] - klu_gabung['2021']

klu_gabung_netto['SHORT/SURP'] = klu_gabung_netto['2022'] - klu_gabung_netto['2021']

In [175]:
klu_gabung.fillna('',inplace=True)
klu_gabung_netto.fillna('',inplace=True)

In [176]:
klu_gabung.to_sql('perklu',con = psql_monitoring, if_exists='replace',index=False,schema='bulanini')
klu_gabung.to_excel(r'D:\DATA KANTOR\BULANAN\perklu.xlsx',index=False)

klu_gabung_netto.to_sql('perklu_netto',con = psql_monitoring, if_exists='replace',index=False,schema='bulanini')
klu_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\perklu_netto.xlsx',index=False)

# SHORTFALL/SURPLUS

### MAP

In [177]:
map_gabung = map_gabung[map_gabung['NAMA_WP']!='NON WP MADTIM']
map_gabung_netto = map_gabung_netto[map_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [178]:
map_top10 = map_gabung[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10 = map_top10.nlargest(10,'SHORT/SURP',keep='all')

map_top10_netto = map_gabung_netto[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']]
map_top10_netto = map_top10_netto.groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_top10_netto = map_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [179]:
map_bot10 = map_gabung[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10 = map_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

map_bot10_netto = map_gabung_netto[['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI','JUMLAH2022', 'JUMLAH2021','SHORT/SURP']].groupby(
    ['FULL','NAMA_WP','MAP','NAMA_AR','SEKSI']).sum().reset_index()
map_bot10_netto = map_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [180]:
map_top10.to_sql('map_top10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
map_top10_netto.to_sql('map_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
map_bot10.to_sql('map_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
map_bot10_netto.to_sql('map_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')

10

### KLU

In [181]:
klu_gabung = klu_gabung[klu_gabung['NAMA_WP']!='NON WP MADTIM']
klu_gabung_netto = klu_gabung_netto[klu_gabung_netto['NAMA_WP']!='NON WP MADTIM']

In [182]:
klu_top10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10 = klu_top10.nlargest(10,'SHORT/SURP',keep='all')

klu_top10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_top10_netto = klu_top10_netto.nlargest(10,'SHORT/SURP',keep='all')

In [183]:
klu_bot10 = klu_gabung[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10 = klu_bot10.nsmallest(10,'SHORT/SURP', keep='all' )

klu_bot10_netto = klu_gabung_netto[['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','2022', '2021','SHORT/SURP']].groupby(
    ['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI']).sum().reset_index()
klu_bot10_netto = klu_bot10_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [184]:
klu_top10.to_sql('klu_top10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
klu_top10_netto.to_sql('klu_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
klu_bot10.to_sql('klu_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')
klu_bot10_netto.to_sql('klu_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='bulanini')

10

# Surplus Shortfall Overall

In [185]:
sfsp22 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" 
from tahun2022_netto t
where t."BULANBAYAR" ={} 
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [186]:
sfsp21 = '''
select 
t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" 
from tahun2021_netto t
where t."BULANBAYAR" ={} 
group by t."FULL",t."NAMA_WP",t."NAMA_AR",t."SEKSI"
'''.format(bulan)

In [187]:
sfsp2022 = pd.read_sql(sfsp22, con=psql_conn)
sfsp2021 = pd.read_sql(sfsp21, con=psql_conn)

In [188]:
sfsp = pd.merge(sfsp2022, sfsp2021, on=['FULL','NAMA_WP','NAMA_AR','SEKSI'], how='left' )

In [189]:
sfsp['SHORTFALL/SURPPLUS'] = sfsp['2022']-sfsp['2021']

In [190]:
sfsp = sfsp[~sfsp['NAMA_WP'].isna()]

In [191]:
top_sfsp = sfsp.nlargest(10,columns='SHORTFALL/SURPPLUS')
bot_sfsp = sfsp.nsmallest(10, columns='SHORTFALL/SURPPLUS')

In [192]:
top_sfsp.to_sql('sfsp_top', if_exists='replace', index=False, con=psql_monitoring,schema='bulanini')
bot_sfsp.to_sql('sfsp_bot', if_exists='replace', index=False, con=psql_monitoring,schema='bulanini')

10

# MAP Report

In [193]:
map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

<ipython-input-193-7c635656a680>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  map_report = map_gabung_netto.groupby(['MAP'])['JUMLAH2021','JUMLAH2022','SHORT/SURP'].sum().reset_index()

In [194]:
map_report.to_sql('permap_netto_report', if_exists='replace', index=False, con=psql_monitoring, schema='bulanini')

17

# PPM PKM

In [287]:
kueri_ppmpkm ='''
select  p."SEKSI" ,p."NAMA_AR" ,p."JENIS_PPM_PKM" , sum(p.nominal) AS "JUMLAH"
from 
ppmpkm2022 p 
where p.bulanbayar ={}
group by p."SEKSI" ,p."NAMA_AR" ,p."JENIS_PPM_PKM"
'''.format(bulan)

In [288]:
target = pd.read_sql('''select "Nama",sum(r."RENPEN") as "RENPEN" from renpen_perbulan r 
                     where r."BULAN"={}
                     group by r."Nama" '''.format(bulan), con=psql_conn)

In [289]:
ppmpkm = pd.read_sql(kueri_ppmpkm, con=psql_conn)

In [290]:
ppmpkm.fillna('Non WP Madtim', inplace=True)

In [291]:
ppmpkm = pd.pivot_table(ppmpkm,index=['SEKSI','NAMA_AR'],
                        columns=['JENIS_PPM_PKM'],aggfunc='sum',values='JUMLAH').reset_index()

In [292]:
ppmpkm.fillna(0, inplace=True)

In [293]:
target['Nama'] = target['Nama'].str.title().str.strip()
ppmpkm['NAMA_AR'] = ppmpkm['NAMA_AR'].str.strip()

In [294]:
ppmpkm = pd.merge(ppmpkm, target,left_on=['NAMA_AR'], right_on=['Nama'],how='left' )

In [295]:
ppmpkm.fillna('0',inplace=True)

In [296]:
ppmpkm.drop(['Nama'],axis=1, inplace=True)
ppmpkm['TOTAL REALISASI'] = ppmpkm['RUTIN']+ppmpkm['PENGAWASAN']+ppmpkm['Pemeriksaan']+ ppmpkm['Penagihan']

In [297]:
ppmpkm

,SEKSI,NAMA_AR,PENGAWASAN,Pemeriksaan,Penagihan,RUTIN,RENPEN,TOTAL REALISASI
0,Non WP Madtim,Non WP Madtim,1.603359e+08,0.000000e+00,0.000000e+00,3.457936e+09,0,3.618272e+09
1,Pengawasan I,Fuad Aziz Kardinto,0.000000e+00,4.255098e+08,8.061773e+08,3.486768e+10,24804183000.0,3.609937e+10
2,Pengawasan I,I Nyoman Sukerta,0.000000e+00,3.380247e+06,0.000000e+00,3.862573e+09,5556369000.0,3.865953e+09
3,Pengawasan I,Idris,6.324155e+08,1.110180e+08,0.000000e+00,2.084951e+10,6143981000.0,2.159294e+10
4,Pengawasan I,Ronaldi Marbun,2.864624e+09,1.601826e+08,0.000000e+00,2.441982e+10,42034224000.0,2.744463e+10
5,Pengawasan I,Wahyu Triastuti Betty Ariana,3.364480e+08,2.279210e+07,5.187399e+06,2.898058e+10,25098348000.0,2.934500e+10
6,Pengawasan II,Dana,0.000000e+00,3.278660e+08,0.000000e+00,1.101713e+10,14065676000.0,1.134500e+10
7,Pengawasan II,Dwi Haryanto,2.537205e+08,4.463541e+08,3.500000e+07,2.295477e+10,31784718000.0,2.368985e+10
8,Pengawasan II,Eni Kusrini,1.583822e+08,6.903787e+06,1.453026e+07,2.102149e+10,16871466000.0,2.120131e+10
9,Pengawasan II,Mochamad Fardian Arizaldy,0.000000e+00,3.168074e+07,2.614926e+08,3.003821e+10,37531142000.0,3.033139e+10
10,Pengawasan II,Muhammad Wijdan Ihromi,2.474575e+08,8.626200e+07,2.615173e+08,1.035432e+10,12168162000.0,1.094955e+10
11,Pengawasan III,Daniel Albert Santo,1.937579e+08,2.031955e+07,8.217802e+07,1.553968e+11,86146003000.0,1.556931e+11
12,Pengawasan III,Dewi Rusmawati,7.767356e+08,0.000000e+00,1.426916e+09,1.518339e+10,28690386000.0,1.738704e+10
13,Pengawasan III,Diah Nurtiyasari,8.610394e+07,1.198816e+09,1.106673e+08,1.338952e+10,17019709000.0,1.478510e+10
14,Pengawasan III,Heru Waskita,4.919382e+09,6.450038e+07,8.501260e+05,9.977632e+09,16284140000.0,1.496236e+10
15,Pengawasan III,Willi Sujita,1.259126e+08,8.000000e+05,6.050502e+07,2.808813e+10,25407601000.0,2.827534e+10
16,Pengawasan IV,Feri Junardi,1.132722e+07,1.129473e+07,7.441131e+09,1.111542e+10,23154800000.0,1.857917e+10
17,Pengawasan IV,Lusiana Etty Susanti,5.341046e+07,8.353837e+06,1.620232e+06,8.512512e+09,6354536000.0,8.575897e+09
18,Pengawasan IV,Nanang Winarso,5.837949e+06,2.234000e+05,0.000000e+00,3.113933e+10,5318550000.0,3.114540e+10
19,Pengawasan IV,Setiawati,4.310374e+08,1.000000e+05,9.794590e+05,2.190262e+10,22899085000.0,2.233474e+10
20,Pengawasan IV,Wihandy Novantiyono,8.233055e+06,2.812453e+07,1.868764e+08,-5.743345e+10,37305092000.0,-5.721021e+10
21,Pengawasan V,Agus Widodo,2.692402e+08,1.528940e+05,0.000000e+00,1.808839e+10,10962131000.0,1.835779e+10
22,Pengawasan V,Feny Mahtumatuz Zakia,7.134299e+08,8.734645e+07,4.356046e+07,1.758034e+10,24466588000.0,1.842468e+10
23,Pengawasan V,Herman Tumpal Tampubolon,9.000000e+05,9.566716e+08,1.523600e+08,1.240635e+10,-18917599000.0,1.351628e+10
24,Pengawasan V,Leonytha Meriana,1.214241e+09,9.911869e+07,0.000000e+00,3.605446e+10,33070070000.0,3.736782e+10
25,Pengawasan V,Zulfikri Rais,2.691298e+07,5.000000e+05,0.000000e+00,7.669985e+09,12421253000.0,7.697398e+09
26,Pengawasan VI,Aditya Yudistira,8.189933e+09,9.446493e+08,5.106694e+08,5.601707e+09,19381107000.0,1.524696e+10
27,Pengawasan VI,Firman Arfiansyah,7.017900e+07,2.267029e+08,2.281098e+06,1.250481e+10,13724551000.0,1.280397e+10
28,Pengawasan VI,Pius I Yopri Suherwistyo,6.801186e+06,1.433860e+05,1.856792e+08,3.316974e+10,24299907000.0,3.336236e+10
29,Pengawasan VI,Rury Melissa Gultom,1.459794e+09,2.744724e+07,0.000000e+00,4.034648e+10,35355694000.0,4.183372e+10
30,Pengawasan VI,Sareh Pujiyanti,2.095794e+08,3.344000e+03,9.809282e+07,6.341384e+09,9989531000.0,6.649059e+09

In [298]:
ppmpkm = ppmpkm[['SEKSI', 'NAMA_AR', 'RUTIN','PENGAWASAN', 'Pemeriksaan', 'Penagihan','RENPEN','TOTAL REALISASI']]

In [300]:
ppmpkm.to_sql('ppmpkm_report', if_exists='replace', index=False, con=psql_monitoring, schema='bulanini')

31