In [48]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
psql_conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
psql_monitoring =create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/monitoring")

In [49]:
map2022 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

map2022_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "JUMLAH2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [50]:
map2021 = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

map2021_netto = '''select 
t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "JUMLAH2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."MAP",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [51]:
tahun2022 = pd.read_sql(map2022,con=psql_conn)
tahun2021 = pd.read_sql(map2021,con=psql_conn)

tahun2022_netto = pd.read_sql(map2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(map2021_netto,con=psql_conn)

In [52]:
map_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

map_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','MAP','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [53]:
map_gabung['JUMLAH2022'].fillna(0, inplace=True)
map_gabung['JUMLAH2021'].fillna(0, inplace=True)

map_gabung_netto['JUMLAH2022'].fillna(0, inplace=True)
map_gabung_netto['JUMLAH2021'].fillna(0, inplace=True)

In [54]:
map_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

map_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
map_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [55]:
map_gabung = map_gabung.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

map_gabung_netto = map_gabung_netto.groupby(['FULL', 'NAMA_WP', 'MAP','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [56]:
map_gabung['SHORT/SURP'] = map_gabung['JUMLAH2022'] - map_gabung['JUMLAH2021']

map_gabung_netto['SHORT/SURP'] = map_gabung_netto['JUMLAH2022'] - map_gabung_netto['JUMLAH2021']

In [57]:
map_gabung.to_sql('permap',con = psql_monitoring, if_exists='replace',index=False, schema='upthismonth')

map_gabung_netto.to_sql('permap_netto',con = psql_monitoring, if_exists='replace',index=False, schema='upthismonth')

41841

In [58]:
# gabung.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\permap.xlsx',index=False)

# gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\permap_netto.xlsx',index=False)

# per KLU

In [59]:
klu2022 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

klu2022_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2022")  as "2022" from tahun2022_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [60]:
klu2021 = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021 t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

klu2021_netto = '''select 
t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI",sum(t."JUMLAH2021")  as "2021" from tahun2021_netto t
group by t."FULL",t."NAMA_WP",t."Kategori",t."BULANBAYAR",t."NAMA_AR",t."SEKSI"'''

In [61]:
tahun2022 = pd.read_sql(klu2022,con=psql_conn)
tahun2021 = pd.read_sql(klu2021,con=psql_conn)

tahun2022_netto = pd.read_sql(klu2022_netto,con=psql_conn)
tahun2021_netto = pd.read_sql(klu2021_netto,con=psql_conn)

In [62]:
klu_gabung = pd.merge(tahun2022,tahun2021,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')
klu_gabung_netto = pd.merge(tahun2022_netto,tahun2021_netto,on=['FULL','NAMA_WP','Kategori','BULANBAYAR','NAMA_AR','SEKSI','BULANBAYAR'],how='outer')

In [63]:
klu_gabung['2022'].fillna(0, inplace=True)
klu_gabung['2021'].fillna(0, inplace=True)

klu_gabung_netto['2022'].fillna(0, inplace=True)
klu_gabung_netto['2021'].fillna(0, inplace=True)

In [64]:
klu_gabung['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung['SEKSI'].fillna('NON WP MADTIM', inplace=True)

klu_gabung_netto['NAMA_WP'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['NAMA_AR'].fillna('NON WP MADTIM', inplace=True)
klu_gabung_netto['SEKSI'].fillna('NON WP MADTIM', inplace=True)

In [65]:
klu_gabung = klu_gabung.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

klu_gabung_netto = klu_gabung_netto.groupby(['FULL', 'NAMA_WP', 'Kategori','NAMA_AR','SEKSI','BULANBAYAR'],dropna=False).sum().reset_index()

In [66]:
klu_gabung['SHORT/SURP'] = klu_gabung['2022'] - klu_gabung['2021']

klu_gabung_netto['SHORT/SURP'] = klu_gabung_netto['2022'] - klu_gabung_netto['2021']

In [67]:
klu_gabung.fillna('',inplace=True)
klu_gabung_netto.fillna('',inplace=True)

In [68]:
klu_gabung.to_sql('perklu',con = psql_monitoring, if_exists='replace',index=False,schema='upthismonth')
klu_gabung.to_excel(r'D:\DATA KANTOR\BULANAN\perklu.xlsx',index=False)

klu_gabung_netto.to_sql('perklu_netto',con = psql_monitoring, if_exists='replace',index=False,schema='upthismonth')
klu_gabung_netto.to_excel(r'D:\DATA KANTOR\BULANAN\perklu_netto.xlsx',index=False)

# SHORTFALL/SURPLUS

### MAP

In [69]:
map_top10 = map_gabung.nlargest(10,'SHORT/SURP',keep='all')
map_top10_netto = map_gabung_netto.nlargest(10,'SHORT/SURP',keep='all')
map_bot10 = map_gabung.nsmallest(10,'SHORT/SURP', keep='all' )
map_bot10_netto = map_gabung_netto.nsmallest(10, 'SHORT/SURP', keep='all')

In [75]:
map_top10.to_sql('map_top10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_top10_netto.to_sql('map_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_bot10.to_sql('map_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
map_bot10_netto.to_sql('map_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')

10

### KLU

In [77]:
klu_top10 = klu_gabung.nlargest(10,'SHORT/SURP',keep='all')
klu_top10_netto = klu_gabung_netto.nlargest(10,'SHORT/SURP',keep='all')
klu_bot10 = klu_gabung.nsmallest(10,'SHORT/SURP', keep='all' )
klu_bot10_netto = klu_gabung_netto.nsmallest(10, 'SHORT/SURP', keep='all')
short_surp = [klu_top10, klu_top10_netto, klu_bot10, klu_bot10_netto]

In [78]:
klu_top10.to_sql('klu_top10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_top10_netto.to_sql('klu_top10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_bot10.to_sql('klu_bot10',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')
klu_bot10_netto.to_sql('klu_bot10_netto',if_exists='replace',index=False, con=psql_monitoring,schema='upthismonth')

10

# short_surp_2022 = '''select t2."FULL",t2."BULANBAYAR",sum(t2."JUMLAH2022") as "2022" 
# from tahun2022 t2
# group by t2."FULL",t2."BULANBAYAR"'''

# short_surp_2021 = '''select t2."FULL",t2."BULANBAYAR",sum(t2."JUMLAH2021") as "2021" 
# from tahun2021 t2
# group by t2."FULL",t2."BULANBAYAR"'''

# short_surp22 = pd.read_sql(short_surp_2022, con=conn)
# short_surp21 = pd.read_sql(short_surp_2021, con=conn)
# short_surp = pd.merge(short_surp22, short_surp21, on=['FULL','BULANBAYAR'],how='outer')

# mfwp = pd.read_sql('select "FULL","NAMA_WP" from mfwp',con=conn)
# short_surp = pd.merge(short_surp,mfwp, on=['FULL'],how='left')

short_surp['2022'].fillna(0,inplace=True)
short_surp['2021'].fillna(0,inplace=True)
short_surp['NAMA_WP'].fillna('NON WP MADTIM',inplace=True)

short_surp['SHORTFALL/SURPLUS'] = short_surp['2022']- short_surp['2021']
short_surp.to_sql('shortfall_surplus_jan_april',if_exists='replace',index=False, con=conn)
short_surp.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\shortfall_surplus_jan_april.xlsx',index=False)

short_surp_2022 = '''select t2."FULL",t2."BULANBAYAR",sum(t2."JUMLAH2022") as "2022" 
from tahun2022_netto t2
group by t2."FULL",t2."BULANBAYAR"'''

short_surp_2021 = '''select t2."FULL",t2."BULANBAYAR",sum(t2."JUMLAH2021") as "2021" 
from tahun2021_netto t2
group by t2."FULL",t2."BULANBAYAR"'''

short_surp22 = pd.read_sql(short_surp_2022, con=conn)
short_surp21 = pd.read_sql(short_surp_2021, con=conn)
short_surp = pd.merge(short_surp22, short_surp21, on=['FULL','BULANBAYAR'],how='outer')

mfwp = pd.read_sql('select "FULL","NAMA_WP" from mfwp',con=conn)
short_surp = pd.merge(short_surp,mfwp, on=['FULL'],how='left')

short_surp['2022'].fillna(0,inplace=True)
short_surp['2021'].fillna(0,inplace=True)
short_surp['NAMA_WP'].fillna('NON WP MADTIM',inplace=True)

short_surp['SHORTFALL/SURPLUS'] = short_surp['2022']- short_surp['2021']
short_surp.to_sql('shortfall_surplus_netto_jan_april',if_exists='replace',index=False, con=conn)
short_surp.to_excel(r'D:\DATA KANTOR\BULANAN\4.APRIL 2022\shortfall_surplus_netto_jan_april.xlsx',index=False)