In [5]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/data_penerimaan")

In [6]:
kueri = '''
select m.NPWP ,m.NAMA_WP ,m.KD_MAP ,m.KD_SETOR,m.MASA_PAJAK  ,m.TGL_SETOR,m.JML_SETOR  
from mpn_2021 m 
where KPPADM_SETOR ='007' '''

In [7]:
mpn2021 = pd.read_sql(kueri,con=db_conn)

In [ ]:
mpn2021

In [103]:
mfwp = pd.read_sql('select * from mfwp_juni2022',con=conn)

In [105]:
mfwp.to_excel(r'D:\DATA KANTOR\MASTERFILE\2022\MFWP_JUNI_OKE.xlsx',index=False)

In [93]:
mpn2022 = pd.read_sql('''select "NAMA_WP","bulanbayar",ket,sum("nominal") as nominal 
                    from ppmpkm2022 p 
                    where p."NAMA_WP" notnull
                    group by("NAMA_WP","bulanbayar",ket)
                    ''',con=conn)

In [94]:
mpn2022.isna().sum()

NAMA_WP       0
bulanbayar    0
ket           0
nominal       0
dtype: int64

In [95]:
mpn2022.fillna('', inplace=True)

In [96]:
mpn2022.columns

Index(['NAMA_WP', 'bulanbayar', 'ket', 'nominal'], dtype='object')

In [97]:
mpn2022 = mpn2022[mpn2022['bulanbayar']<6 ]

In [98]:
mpn2022.NAMA_WP.isna().sum()

0

In [99]:

netto = mpn2022[['NAMA_WP','nominal']].groupby('NAMA_WP').sum().reset_index().sort_values(by='nominal', ascending=False)
netto.to_clipboard()

In [100]:
bruto = mpn2022[mpn2022['ket']!='SPMKP']
bruto = bruto[['NAMA_WP','nominal']].groupby('NAMA_WP').sum().reset_index().sort_values(by='nominal', ascending=False)
bruto.to_clipboard()

In [ ]:
ta22 = '''
select p."FULL" ,m."NAMA_WP" ,sum(p.nominal) jumlah2022 
from ppmpkm2022 p 
left join mfwp m using("FULL")
where p.bulanbayar <4 and p.ket !='SPMKP'
group by  p."FULL" ,m."NAMA_WP"
'''

In [ ]:
ta21 = '''select p."FULL" ,m."NAMA_WP", sum(p.nominal) as jumlah2021
from mpnunion2021 p 
left join mfwp m using ("FULL")
where p.ket != 'RESTITUSI'
and p.bulanbayar <4
group by  p."FULL" ,m."NAMA_WP"
'''

In [ ]:
cy = pd.read_sql(ta22,con=conn)
py = pd.read_sql(ta21, con=conn)

In [ ]:
cy.jumlah2022.sum()

In [ ]:
py.jumlah2021.sum()

In [ ]:
gabung = pd.merge(cy,py, on = ['FULL','NAMA_WP'],how='outer')

In [ ]:
gabung.isna().sum()

In [ ]:
gabung.NAMA_WP = gabung.NAMA_WP.fillna('NON WP MADTIM')
gabung.jumlah2021.fillna(0,inplace=True)
gabung.jumlah2022.fillna(0,inplace=True)

In [ ]:
gabung.jumlah2022.sum()

In [ ]:
gabung.to_excel(r'D:\DATA KANTOR\BULANAN\yoy_triwulan1bruto.xlsx',index=False)