In [8]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [9]:
renpen = pd.read_clipboard()

In [10]:
renpen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   seksi           30 non-null     object
 1   ar              30 non-null     object
 2   ppm             30 non-null     float64
 3   pkm pengawasan  30 non-null     int64
 4   pkm  p3         30 non-null     int64
 5   total pkm       30 non-null     int64
 6   total target    30 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.8+ KB

In [11]:
renpen.to_sql('renpen', if_exists='replace',index=False, con=conn)

30

In [2]:
ppmpkm22 = pd.read_sql('select * from ppmpkm2022',con=conn)

In [4]:
ppmpkm22.to_parquet(r'D:\DATA KANTOR\SQL\ppmpkm2022.parquet',index=False)

In [22]:
ta22 = '''
select p."FULL" ,m."NAMA_WP" ,sum(p.nominal) jumlah2022 
from ppmpkm2022 p 
left join mfwp m using("FULL")
where p.bulanbayar <4 and p.ket !='SPMKP'
group by  p."FULL" ,m."NAMA_WP"
'''

In [23]:
ta21 = '''select p."FULL" ,m."NAMA_WP", sum(p.nominal) as jumlah2021
from mpnunion2021 p 
left join mfwp m using ("FULL")
where p.ket != 'RESTITUSI'
and p.bulanbayar <4
group by  p."FULL" ,m."NAMA_WP"
'''

In [24]:
cy = pd.read_sql(ta22,con=conn)
py = pd.read_sql(ta21, con=conn)

In [25]:
cy.jumlah2022.sum()

2277836295648.0

In [26]:
py.jumlah2021.sum()

2011684829203.56

In [27]:
gabung = pd.merge(cy,py, on = ['FULL','NAMA_WP'],how='outer')

In [28]:
gabung.isna().sum()

FULL           0
NAMA_WP        6
jumlah2022    50
jumlah2021    43
dtype: int64

In [29]:
gabung.NAMA_WP = gabung.NAMA_WP.fillna('NON WP MADTIM')
gabung.jumlah2021.fillna(0,inplace=True)
gabung.jumlah2022.fillna(0,inplace=True)

In [31]:
gabung.jumlah2022.sum()

2277836295648.0

In [32]:
gabung.to_excel(r'D:\DATA KANTOR\BULANAN\yoy_triwulan1bruto.xlsx',index=False)