In [102]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql
psql_conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [103]:
data = pd.read_sql('select * from laporan.mpn2021_admsetor',con=psql_conn)

In [104]:
data.tail()

,FULL,NAMA_WP,MAP,NAMA_KLU,Kategori,BULANBAYAR,NAMA_AR,SEKSI,KET,jumlah2021
37834,947423075008000,TIGA IKHWAN MEDIKAL,PPN DN,"PERDAGANGAN BESAR ALAT LABORATORIUM, FARMASI D...",Perdagangan Besar dan Eceran; Reparasi dan Per...,8.0,Firman Arfiansyah,Pengawasan VI,MPN,303666818.0
37835,947423075008000,TIGA IKHWAN MEDIKAL,PPN DN,"PERDAGANGAN BESAR ALAT LABORATORIUM, FARMASI D...",Perdagangan Besar dan Eceran; Reparasi dan Per...,10.0,Firman Arfiansyah,Pengawasan VI,MPN,1947200.0
37836,947423075008000,TIGA IKHWAN MEDIKAL,PPN DN,"PERDAGANGAN BESAR ALAT LABORATORIUM, FARMASI D...",Perdagangan Besar dan Eceran; Reparasi dan Per...,11.0,Firman Arfiansyah,Pengawasan VI,MPN,67642887.0
37837,947423075008000,TIGA IKHWAN MEDIKAL,PPN DN,"PERDAGANGAN BESAR ALAT LABORATORIUM, FARMASI D...",Perdagangan Besar dan Eceran; Reparasi dan Per...,12.0,Firman Arfiansyah,Pengawasan VI,MPN,126531346.0
37838,947423075008000,TIGA IKHWAN MEDIKAL,PPN DN DTP,"PERDAGANGAN BESAR ALAT LABORATORIUM, FARMASI D...",Perdagangan Besar dan Eceran; Reparasi dan Per...,12.0,Firman Arfiansyah,Pengawasan VI,SPM,21136364.0

In [105]:
data.drop(['FULL', 'NAMA_WP',],inplace=True,axis=1)

In [106]:
data.columns

Index(['MAP', 'NAMA_KLU', 'Kategori', 'BULANBAYAR', 'NAMA_AR', 'SEKSI', 'KET',
       'jumlah2021'],
      dtype='object')

In [107]:
data.fillna(pd.np.nan,inplace=True)

<ipython-input-107-410c1e2b19ce>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  data.fillna(pd.np.nan,inplace=True)

In [108]:
import random
import string

In [109]:
lenght = len(data)
data['NAMA_WP']=''
data['NPWP'] = 1

In [110]:
def random_str(cols,n):
   for i in range(0,lenght):
    data[cols][i] = ''.join(random.choices(string.ascii_uppercase,k=n))

In [111]:
def random_nmr(cols,n):
    for i in range(0,lenght):
        data[cols][i] = f'{random.randrange(100000000000000,999999999999999):0n}'

In [112]:
random_str('NAMA_WP',10)
random_nmr('NPWP',15)

<ipython-input-110-941b379d2879>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cols][i] = ''.join(random.choices(string.ascii_uppercase,k=n))

In [114]:
data.fillna('',inplace=True)

In [120]:
data = data.sort_values(by='jumlah2021', ascending=False)

In [124]:
data.columns

Index(['MAP', 'NAMA_KLU', 'Kategori', 'BULANBAYAR', 'NAMA_AR', 'SEKSI', 'KET',
       'jumlah2021', 'NAMA_WP', 'NPWP'],
      dtype='object')

In [125]:
data = data[[ 'NAMA_WP', 'NPWP','MAP', 'NAMA_KLU', 'Kategori', 'BULANBAYAR', 'NAMA_AR', 'SEKSI', 'KET',
       'jumlah2021']]

In [127]:
data.to_excel(r'D:\penerimaan2021_nulled.xlsx',index=False)