In [99]:
import pandas as pd

In [100]:
pkm = pd.read_excel(r'D:\DATA KANTOR\LAPORAN\BAHAN PPM PKM.xlsx',sheet_name='2021_PKM',
usecols=['REALISASI TAHUN INI','NAMA_AR'])

In [101]:
pkm.rename(columns={'REALISASI TAHUN INI':'PKM'},inplace=True)

In [102]:
pkm = pkm.groupby('NAMA_AR').sum().reset_index()

In [103]:
ppm = pd.read_excel(r'D:\DATA KANTOR\LAPORAN\BAHAN PPM PKM.xlsx',sheet_name='2021_PPM',
usecols=['REALISASI TAHUN INI','NAMA_AR'])

In [104]:
ppm.rename(columns={'REALISASI TAHUN INI':'PPM'},inplace=True)

In [105]:
ppm = ppm.groupby('NAMA_AR').sum().reset_index()

In [106]:
data = pd.merge(ppm,pkm, on=['NAMA_AR'],how='outer')

In [107]:
data.head()

               NAMA_AR            PPM          PKM
0     Aditya Yudistira   207639271518  49031356777
1          Agus Widodo    79558493040   5109614714
2                 Dana   130649305566   1414298047
3  Daniel Albert Santo  1598470986344  14688319600
4       Dewi Rusmawati   248093521302  15379276294

In [108]:
target = pd.read_excel(r'D:\DATA KANTOR\LAPORAN\BAHAN PPM PKM.xlsx',sheet_name='TARGET_ADJ')

In [109]:
data_full = pd.merge(data,target,on='NAMA_AR',how='outer')

In [110]:
ar = pd.read_excel(r'D:\DATA KANTOR\LAPORAN\BAHAN PPM PKM.xlsx',sheet_name='AR',usecols=['NAMA_AR','SEKSI'])

In [111]:
data_akhir = pd.merge(data_full,ar, on='NAMA_AR',how='outer')

In [112]:
data_akhir.columns

Index(['NAMA_AR', 'PPM', 'PKM', 'Target_PKM', 'Target_PPM', 'SEKSI'], dtype='object')

In [113]:
data_akhir = data_akhir[['SEKSI','NAMA_AR','PPM','Target_PPM','PKM','Target_PKM']]

In [114]:
data_akhir['Total Target'] = data_akhir.Target_PKM+data_akhir.Target_PPM
data_akhir['Total Realisasi'] = data_akhir.PPM+data_akhir.PKM

In [116]:
data_akhir.fillna('',inplace=True)

In [119]:
data_akhir.to_excel(r'D:\DATA KANTOR\LAPORAN\3.2021_laporan_target_realisasi_PPM PKM.xlsx',index=False)

In [120]:
data_akhir = data_akhir.melt(id_vars=['SEKSI','NAMA_AR'],var_name='Variabel',value_name='Nominal')

In [122]:
data_akhir.to_excel(r'D:\DATA KANTOR\LAPORAN\3.2021_laporan_target_realisasi_PPM PKM_longversion.xlsx',index=False)