In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [2]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [3]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [4]:
kueri2020 = '''select s."Kategori" , sum(p.jml_setor) as Nominal_2020
from penerimaan_2020 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
group by s."Kategori"
having sum(p.jml_setor) is not null 
order by nominal_2020 desc ;'''

In [5]:
kueri2021 = '''select s."Kategori" , sum(p.jml_setor) as Nominal_2021
from penerimaan_2021 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
group by s."Kategori"
having sum(p.jml_setor) is not null 
order by Nominal_2021 desc ;'''

In [6]:
data_2020 = pd.read_sql(kueri2020,con=conn)

In [7]:
data_2020.head()

                                            Kategori  nominal_2020
0  Perdagangan Besar dan Eceran; Reparasi dan Per...  4.361040e+12
1                                         Konstruksi  1.129768e+12
2                        Pertambangan dan Penggalian  5.153084e+11
3                                Industri Pengolahan  4.643365e+11
4                         Jasa Keuangan dan Asuransi  4.045304e+11

In [8]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [9]:
data_2021.head()

                                            Kategori  nominal_2021
0  Perdagangan Besar dan Eceran; Reparasi dan Per...  5.017738e+12
1                                         Konstruksi  1.072055e+12
2                                Industri Pengolahan  3.980003e+11
3                         Jasa Keuangan dan Asuransi  3.924565e+11
4                        Pertambangan dan Penggalian  3.727682e+11

In [10]:
data = pd.merge(data_2021,data_2020,left_on=['Kategori'],right_on=['Kategori'],how='outer')

In [11]:
data

,Kategori,nominal_2021,nominal_2020
0,Perdagangan Besar dan Eceran; Reparasi dan Per...,5.017738e+12,4.361040e+12
1,Konstruksi,1.072055e+12,1.129768e+12
2,Industri Pengolahan,3.980003e+11,4.643365e+11
3,Jasa Keuangan dan Asuransi,3.924565e+11,4.045304e+11
4,Pertambangan dan Penggalian,3.727682e+11,5.153084e+11
5,Informasi dan Komunikasi,3.073283e+11,2.873967e+11
6,Jasa Kesehatan dan Kegiatan Sosial,2.167334e+11,1.231985e+11
7,Real Estat,1.220890e+11,1.456506e+11
8,Penyediaan Akomodasi dan Penyediaan Makan Minum,6.055519e+10,5.588672e+10
9,"Jasa Persewaan, Ketenagakerjaan, Agen Perjalan...",5.107799e+10,5.698936e+10
10,None,4.836725e+10,4.617816e+10
11,Kegiatan Jasa Lainnya,4.804691e+10,3.912626e+10
12,Jasa Pendidikan,4.480162e+10,3.900025e+10
13,"Pengadaan Listrik, Gas, Uap/Air Panas dan Udar...",2.162023e+10,3.294443e+10
14,"Kebudayaan, Hiburan dan Rekreasi",1.547799e+10,1.522292e+10
15,"Pengadaan Air, Pengelolaan Sampah dan Daur Ula...",5.695140e+09,7.479386e+09
16,"Jasa Profesional, Ilmiah dan Teknis",3.980488e+09,-1.799760e+09
17,"Pertanian, Kehutanan dan Perikanan",1.404351e+09,1.157118e+08

In [12]:
non_madtim_kueri = '''select 
	s."Kategori",
	sum(n.nominal) as "Non WP Madtim"	 
from netto2021 n 
left join mfwp_2020 m 
	on n."FULL" = m."NPWP FULL" 
left join klu k 
	on m."Kode KLU" = k.klu_kode
left join sektor s 
	on k.klu_sektor = s."Kode" 
where n."NAMA_AR" = 'Non WP Madtim'
group by s."Kategori" ;'''

In [13]:
non_madtim = pd.read_sql(non_madtim_kueri,con=conn)

In [14]:
non_madtim.head()

                                            Kategori  Non WP Madtim
0                                Industri Pengolahan   8.465807e+11
1                           Informasi dan Komunikasi   2.758244e+09
2                 Jasa Kesehatan dan Kegiatan Sosial   1.378968e+09
3                         Jasa Keuangan dan Asuransi   5.253688e+09
4  Jasa Persewaan, Ketenagakerjaan, Agen Perjalan...   3.788507e+10

In [15]:
data = pd.merge(data,non_madtim,left_on='Kategori',right_on='Kategori',how='outer')

In [16]:
data.fillna(0,inplace=True)

In [17]:
data.head()

,Kategori,nominal_2021,nominal_2020,Non WP Madtim
0,Perdagangan Besar dan Eceran; Reparasi dan Per...,5.017738e+12,4.361040e+12,8.070255e+11
1,Konstruksi,1.072055e+12,1.129768e+12,5.551533e+10
2,Industri Pengolahan,3.980003e+11,4.643365e+11,8.465807e+11
3,Jasa Keuangan dan Asuransi,3.924565e+11,4.045304e+11,5.253688e+09
4,Pertambangan dan Penggalian,3.727682e+11,5.153084e+11,0.000000e+00

In [18]:
data1 = data[data['nominal_2020']>0]

In [19]:
data2 = data[data['nominal_2020']<0]

In [20]:
data1['% Tumbuh'] = (data.nominal_2021-data.nominal_2020)/data.nominal_2020
data2['% Tumbuh'] = ''

<ipython-input-20-80504f87e8b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['% Tumbuh'] = (data.nominal_2021-data.nominal_2020)/data.nominal_2020
<ipython-input-20-80504f87e8b9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['% Tumbuh'] = ''

In [21]:
data = data1.append(data2)

In [22]:
data

,Kategori,nominal_2021,nominal_2020,Non WP Madtim,% Tumbuh
0,Perdagangan Besar dan Eceran; Reparasi dan Per...,5.017738e+12,4.361040e+12,8.070255e+11,0.150583
1,Konstruksi,1.072055e+12,1.129768e+12,5.551533e+10,-0.051084
2,Industri Pengolahan,3.980003e+11,4.643365e+11,8.465807e+11,-0.142862
3,Jasa Keuangan dan Asuransi,3.924565e+11,4.045304e+11,5.253688e+09,-0.029847
4,Pertambangan dan Penggalian,3.727682e+11,5.153084e+11,0.000000e+00,-0.276611
5,Informasi dan Komunikasi,3.073283e+11,2.873967e+11,2.758244e+09,0.069352
6,Jasa Kesehatan dan Kegiatan Sosial,2.167334e+11,1.231985e+11,1.378968e+09,0.759221
7,Real Estat,1.220890e+11,1.456506e+11,1.227607e+10,-0.161768
8,Penyediaan Akomodasi dan Penyediaan Makan Minum,6.055519e+10,5.588672e+10,5.769055e+09,0.083534
9,"Jasa Persewaan, Ketenagakerjaan, Agen Perjalan...",5.107799e+10,5.698936e+10,3.788507e+10,-0.103728
10,0,4.836725e+10,4.617816e+10,1.461455e+11,0.047405
11,Kegiatan Jasa Lainnya,4.804691e+10,3.912626e+10,0.000000e+00,0.227997
12,Jasa Pendidikan,4.480162e+10,3.900025e+10,0.000000e+00,0.148752
13,"Pengadaan Listrik, Gas, Uap/Air Panas dan Udar...",2.162023e+10,3.294443e+10,5.837374e+09,-0.343736
14,"Kebudayaan, Hiburan dan Rekreasi",1.547799e+10,1.522292e+10,0.000000e+00,0.016756
15,"Pengadaan Air, Pengelolaan Sampah dan Daur Ula...",5.695140e+09,7.479386e+09,0.000000e+00,-0.238555
17,"Pertanian, Kehutanan dan Perikanan",1.404351e+09,1.157118e+08,0.000000e+00,11.13662
16,"Jasa Profesional, Ilmiah dan Teknis",3.980488e+09,-1.799760e+09,3.540043e+10,

In [23]:
data.to_excel(r'D:\DATA KANTOR\LAPORAN\2.2021_laporan_pajak_persektor.xlsx',index=False)