In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [2]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [3]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [4]:
kueri2020 = '''select s."Kategori" , sum(p.jml_setor) as Nominal_2020
from penerimaan_2020 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
group by s."Kategori"
having sum(p.jml_setor) is not null 
order by nominal_2020 desc ;'''

In [5]:
kueri2021 = '''select s."Kategori" , sum(p.jml_setor) as Nominal_2021
from penerimaan_2021 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
group by s."Kategori"
having sum(p.jml_setor) is not null 
order by Nominal_2021 desc ;'''

In [6]:
data_2020 = pd.read_sql(kueri2020,con=conn)

In [7]:
data_2020.head()

                                            Kategori  nominal_2020
0  Perdagangan Besar dan Eceran; Reparasi dan Per...  4.318016e+12
1                                         Konstruksi  1.126487e+12
2                        Pertambangan dan Penggalian  5.153084e+11
3                                Industri Pengolahan  4.643365e+11
4                         Jasa Keuangan dan Asuransi  4.043215e+11

In [8]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [9]:
data_2021.head()

                                            Kategori  nominal_2021
0  Perdagangan Besar dan Eceran; Reparasi dan Per...  4.969486e+12
1                                         Konstruksi  1.066673e+12
2                                Industri Pengolahan  3.980003e+11
3                         Jasa Keuangan dan Asuransi  3.923831e+11
4                        Pertambangan dan Penggalian  3.727682e+11

In [10]:
data = pd.merge(data_2021,data_2020,left_on=['Kategori'],right_on=['Kategori'],how='outer')

In [11]:
data

,Kategori,nominal_2021,nominal_2020
0,Perdagangan Besar dan Eceran; Reparasi dan Per...,4.969486e+12,4.318016e+12
1,Konstruksi,1.066673e+12,1.126487e+12
2,Industri Pengolahan,3.980003e+11,4.643365e+11
3,Jasa Keuangan dan Asuransi,3.923831e+11,4.043215e+11
4,Pertambangan dan Penggalian,3.727682e+11,5.153084e+11
5,Informasi dan Komunikasi,3.073283e+11,2.873967e+11
6,Jasa Kesehatan dan Kegiatan Sosial,2.165394e+11,1.230128e+11
7,Real Estat,1.198587e+11,1.448960e+11
8,None,1.051512e+11,9.446551e+10
9,Penyediaan Akomodasi dan Penyediaan Makan Minum,5.990254e+10,5.505380e+10
10,"Jasa Persewaan, Ketenagakerjaan, Agen Perjalan...",5.107799e+10,5.698936e+10
11,Kegiatan Jasa Lainnya,4.804691e+10,3.912626e+10
12,Jasa Pendidikan,4.480162e+10,3.900025e+10
13,"Pengadaan Listrik, Gas, Uap/Air Panas dan Udar...",2.162023e+10,3.294443e+10
14,"Kebudayaan, Hiburan dan Rekreasi",1.547799e+10,1.522292e+10
15,"Pengadaan Air, Pengelolaan Sampah dan Daur Ula...",5.695140e+09,7.479386e+09
16,"Jasa Profesional, Ilmiah dan Teknis",3.980488e+09,-1.799760e+09
17,"Pertanian, Kehutanan dan Perikanan",1.404351e+09,1.157118e+08

In [12]:
non_madtim_kueri = '''select 
	s."Kategori",
	sum(n.nominal) as "Non WP Madtim"	 
from netto_2021 n 
left join mfwp_2020 m 
	on n."FULL" = m."NPWP FULL" 
left join klu k 
	on m."Kode KLU" = k.klu_kode
left join sektor s 
	on k.klu_sektor = s."Kode" 
where n."NAMA_AR" = 'Non WP Madtim'
group by s."Kategori" ;'''

In [13]:
non_madtim = pd.read_sql(non_madtim_kueri,con=conn)

ProgrammingError: (pg8000.dbapi.ProgrammingError) {'S': 'ERROR', 'V': 'ERROR', 'C': '42P01', 'M': 'relation "netto_2021" does not exist', 'P': '66', 'F': 'parse_relation.c', 'L': '1384', 'R': 'parserOpenTable'}
[SQL: select
	s."Kategori",
	sum(n.nominal) as "Non WP Madtim"
from netto_2021 n
left join mfwp_2020 m
	on n."FULL" = m."NPWP FULL"
left join klu k
	on m."Kode KLU" = k.klu_kode
left join sektor s
	on k.klu_sektor = s."Kode"
where n."NAMA_AR" = 'Non WP Madtim'
group by s."Kategori" ;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
non_madtim.head()

                                            Kategori  Non WP Madtim
0                                Industri Pengolahan   8.465807e+11
1                           Informasi dan Komunikasi   2.758244e+09
2                 Jasa Kesehatan dan Kegiatan Sosial   1.378968e+09
3                         Jasa Keuangan dan Asuransi   5.253688e+09
4  Jasa Persewaan, Ketenagakerjaan, Agen Perjalan...   3.788507e+10

In [ ]:
data = pd.merge(data,non_madtim,left_on='Kategori',right_on='Kategori',how='outer')

In [15]:
data.to_excel(r'D:\DATA KANTOR\LAPORAN\2021_laporan_pajak_persektor.xlsx',index=False)