In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [2]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [3]:
kueri2020 = '''select a.npwp_penyetor ,mp."MAP",sum(a.jml_setor) as setor_2020
from penerimaan_2020 a
full join map_polos mp 
on a.kd_map = mp."KD MAP" 
group by(a.npwp_penyetor,a.kd_map,mp."MAP",a.seksi,a.ar)'''

In [4]:
data_2020 = pd.read_sql(kueri2020,con=conn)

In [5]:
data_2020.head()

     npwp_penyetor           MAP    setor_2020
0  020734448407000  PPh 25 Badan  1.093108e+09
1  015532039007008        PPh 23  1.486051e+07
2  822252946004000     PPh Final  6.390000e+06
3  312862253006000  PPh 25 Badan -8.998765e+08
4  817485246009000        PPh 21  4.335426e+07

In [6]:
kueri2021 = '''select a.npwp_penyetor ,mp."MAP",sum(a.jml_setor) as setor_2021
from penerimaan_2021 a
full join map_polos mp 
on a.kd_map = mp."KD MAP" 
group by(a.npwp_penyetor,a.kd_map,mp."MAP",a.seksi,a.ar)'''

In [7]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [8]:
data_2021.head()

     npwp_penyetor           MAP   setor_2021
0  020734448407000  PPh 25 Badan  814250086.0
1  015532039007008        PPh 23   16660242.0
2  822252946004000     PPh Final    4500000.0
3  013121876062000    PPh 21 DTP   19914695.0
4  312862253006000  PPh 25 Badan -464608545.0

In [9]:
data = pd.merge(data_2021,data_2020,left_on=['npwp_penyetor','MAP'],right_on=['npwp_penyetor','MAP'],how='outer')

In [10]:
data = data.groupby('MAP').sum().reset_index()

In [11]:
data.head()

                  MAP    setor_2021    setor_2020
0         Bea Meterai  9.356000e+08  4.369430e+08
1  Fiskal Luar Negeri  0.000000e+00  0.000000e+00
2              PPN DN  3.566255e+12  3.288214e+12
3          PPN DN DTP  8.615946e+10  1.550873e+11
4           PPN Impor  1.230324e+12  8.473611e+11

In [12]:
nonmadtim_kueri = '''select mp.`MAP`,sum(a.nominal) as Non_Madtim from netto2021 a
	join map_polos mp 
		on a.`KD MAP` = mp.`KD MAP` 
where a.NAMA_AR ='Non WP Madtim'
group by(a.`KD MAP`)'''

In [13]:
nonmadtim = pd.read_sql(nonmadtim_kueri,con=db_conn)

In [14]:
nonmadtim.head()

            MAP    Non_Madtim
0        PPh 21  2.186401e+11
1        PPh 22  1.198595e+10
2  PPh 22 Impor  8.274842e+10
3        PPh 23  1.219241e+11
4  PPh 25 Badan  4.379565e+11

In [15]:
data_akhir = pd.merge(data,nonmadtim,left_on='MAP',right_on='MAP',how='outer')

In [16]:
data_akhir.Non_Madtim.fillna(0,inplace=True)

In [17]:
data_akhir['cek'] = data_akhir.setor_2020+data_akhir.setor_2021+data_akhir.Non_Madtim

In [18]:
data_akhir = data_akhir[data_akhir['cek']!=0]

In [19]:
data_akhir.drop('cek',inplace=True,axis=1)

In [20]:
#data_akhir.to_excel(r'D:\DATA KANTOR\LAPORAN\2021_laporan_pajak_perjenis.xlsx',index=False)