In [45]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [46]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [47]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [48]:
kueri2020 = '''select m."FULL" ,m."NAMA_WP" ,s."Kategori" , sum(p.jml_setor) as Nominal_2020
from penerimaan_2020 p 
left join mfwp m on (p.npwp_penyetor = m."FULL") 
left join klu k 
	on m."KODE_KLU"  = k.klu_kode 
left join sektor s 
	on k.klu_sektor = s."Kode"
group by m."FULL" ,m."NAMA_WP",s."Kategori"
having sum(p.jml_setor) is not null 
order by nominal_2020 desc ;'''

In [49]:
kueri2021 = '''select m."FULL" ,m."NAMA_WP" ,s."Kategori" , sum(p.jml_setor) as Nominal_2021
from penerimaan_2021 p 
left join mfwp m on (p.npwp_penyetor = m."FULL") 
left join klu k 
	on m."KODE_KLU"  = k.klu_kode 
left join sektor s 
	on k.klu_sektor = s."Kode"
group by m."FULL" ,m."NAMA_WP",s."Kategori"
having sum(p.jml_setor) is not null 
order by nominal_2021 desc ;'''

In [50]:
data_2020 = pd.read_sql(kueri2020,con=conn)

In [51]:
data_2020.head()

,FULL,NAMA_WP,Kategori,nominal_2020
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.102936e+12
1,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,3.887526e+11
2,010027134007000,SOHO INDUSTRI PHARMASI,Industri Pengolahan,2.170611e+11
3,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.077692e+11
4,030793087009000,PERMANA PUTRA MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.876724e+11

In [52]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [53]:
data_2021.head()

,FULL,NAMA_WP,Kategori,nominal_2021
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.551109e+12
1,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.553593e+11
2,017350976007000,ROYAL SUTAN AGUNG,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.370476e+11
3,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,2.241873e+11
4,010027134007000,SOHO INDUSTRI PHARMASI,Industri Pengolahan,1.504139e+11

In [54]:
data = pd.merge(data_2021,data_2020,on=['FULL','NAMA_WP','Kategori'],how='outer')

In [55]:
data.nominal_2020 = data.nominal_2020.fillna(0)
data.nominal_2021 = data.nominal_2021.fillna(0)

In [56]:
data

,FULL,NAMA_WP,Kategori,nominal_2021,nominal_2020
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.551109e+12,1.102936e+12
1,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.553593e+11,2.077692e+11
2,017350976007000,ROYAL SUTAN AGUNG,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.370476e+11,1.620929e+11
3,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,2.241873e+11,3.887526e+11
4,010027134007000,SOHO INDUSTRI PHARMASI,Industri Pengolahan,1.504139e+11,2.170611e+11
...,...,...,...,...,...
1214,029027000014001,LOTTE MART INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,1.953500e+05
1215,013104880007008,MULIA MULTI MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,1.000000e+05
1216,013104880007001,MULIA MULTI MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,1.000000e+05
1217,071645790008000,HENDI KUSNADI,Kegiatan Jasa Lainnya,0.000000e+00,9.000000e+04
1218,312489628002000,MONDAFFA CRESIDA,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,-1.065159e+09

In [57]:
data.columns

Index(['FULL', 'NAMA_WP', 'Kategori', 'nominal_2021', 'nominal_2020'], dtype='object')

In [58]:
data['Growth'] = data['nominal_2021']-data['nominal_2020']

In [59]:
data = data.groupby(['FULL', 'NAMA_WP', 'Kategori']).sum().reset_index()

In [60]:
top10 = data.nlargest(10,columns='Growth')
bottom10 = data.nsmallest(10,columns='Growth')

In [61]:
top10['Ket'] = 'Top 5' 
bottom10['Ket'] = 'Bottom 5'

In [62]:
topbottom10 = top10.append(bottom10)

In [63]:
topbottom10['WAJIB PAJAK'] = (topbottom10.Kategori+"-"+topbottom10.NAMA_WP).str.upper()

In [64]:
topbottom10

,FULL,NAMA_WP,Kategori,nominal_2021,nominal_2020,Growth,Ket,WAJIB PAJAK
885,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.551109e+12,1.102936e+12,4.481725e+11,Top 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
593,029985207007000,PARIT PADANG GLOBAL,Perdagangan Besar dan Eceran; Reparasi dan Per...,3.950019e+10,-7.803506e+10,1.175353e+11,Top 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
233,017026527007000,WAHANA INTI SELARAS,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.489468e+11,5.738986e+10,9.155693e+10,Top 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
244,017350976007000,ROYAL SUTAN AGUNG,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.370476e+11,1.620929e+11,7.495473e+10,Top 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
307,019201151007000,MEDIKALOKA HERMINA Tbk,Jasa Kesehatan dan Kegiatan Sosial,9.603918e+10,2.133329e+10,7.470590e+10,Top 5,JASA KESEHATAN DAN KEGIATAN SOSIAL-MEDIKALOKA ...
18,013032966073000,SOHO GLOBAL HEALTH Tbk.,Jasa Keuangan dan Asuransi,9.088271e+10,2.437367e+10,6.650904e+10,Top 5,JASA KEUANGAN DAN ASURANSI-SOHO GLOBAL HEALTH ...
464,023882145073000,UNITED EQUIPMENT INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.046756e+11,5.411225e+10,5.056338e+10,Top 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
146,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.553593e+11,2.077692e+11,4.759001e+10,Top 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
227,016745267006000,HILLCONJAYA SAKTI,Konstruksi,6.424997e+10,1.699799e+10,4.725198e+10,Top 5,KONSTRUKSI-HILLCONJAYA SAKTI
341,020532339043000,DWIJALLA KARSA,Perdagangan Besar dan Eceran; Reparasi dan Per...,4.869642e+10,3.501071e+09,4.519535e+10,Top 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
194,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,2.241873e+11,3.887526e+11,-1.645654e+11,Bottom 5,PERTAMBANGAN DAN PENGGALIAN-ASMIN BARA BRONANG
639,030793087009000,PERMANA PUTRA MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.468433e+10,1.876724e+11,-1.629881e+11,Bottom 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
5,010027134007000,SOHO INDUSTRI PHARMASI,Industri Pengolahan,1.504139e+11,2.170611e+11,-6.664713e+10,Bottom 5,INDUSTRI PENGOLAHAN-SOHO INDUSTRI PHARMASI
87,013439641062000,SUZUKI FINANCE INDONESIA,Jasa Keuangan dan Asuransi,-4.052070e+10,6.830483e+09,-4.735118e+10,Bottom 5,JASA KEUANGAN DAN ASURANSI-SUZUKI FINANCE INDO...
1209,933405144006000,LOTTE LAND MODERN REALTY,Real Estat,-4.553899e+10,7.658717e+08,-4.630486e+10,Bottom 5,REAL ESTAT-LOTTE LAND MODERN REALTY
220,016681843007000,LANCARJAYA MANDIRI ABADI,Konstruksi,6.359462e+10,1.072375e+11,-4.364284e+10,Bottom 5,KONSTRUKSI-LANCARJAYA MANDIRI ABADI
651,031652548002000,SENTRA PRIMER SOLUSINDO,Perdagangan Besar dan Eceran; Reparasi dan Per...,-3.618741e+10,2.794375e+09,-3.898178e+10,Bottom 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
679,032813677008000,ARISTA JAYA LESTARI,Perdagangan Besar dan Eceran; Reparasi dan Per...,6.598839e+09,4.318806e+10,-3.658922e+10,Bottom 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...
16,013017280007000,WASA MITRA ENGINEERING,Konstruksi,5.933742e+10,9.487601e+10,-3.553859e+10,Bottom 5,KONSTRUKSI-WASA MITRA ENGINEERING
199,016045064007000,SINARMAS DISTRIBUSI NUSANTARA,Perdagangan Besar dan Eceran; Reparasi dan Per...,3.291561e+09,3.129823e+10,-2.800667e+10,Bottom 5,PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PER...

In [65]:
topbottom10.to_excel(r'E:\NEXTCLOUD\PKD\LAPORAN\PENERIMAAN 2021\2.2021_TopBottom10_Per Sektor.xlsx',index=False)