In [334]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [335]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [336]:
kueri2020 = '''select a.npwp_penyetor ,mp."MAP",sum(a.jml_setor) as setor_2020
from penerimaan_2020 a
left join map_polos mp 
on a.kd_map = mp."KD MAP" 
group by(a.npwp_penyetor,a.nama_penyetor,a.kd_map,mp."MAP",a.seksi,a.ar)'''

In [337]:
data_2020 = pd.read_sql(kueri2020,con=conn)

In [338]:
kueri2021 = '''select a.npwp_penyetor ,mp."MAP",sum(a.jml_setor) as setor_2021
from penerimaan_2021 a
left join map_polos mp 
on a.kd_map = mp."KD MAP" 
group by(a.npwp_penyetor,a.nama_penyetor,a.kd_map,mp."MAP",a.seksi,a.ar)'''

In [339]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [340]:
data = pd.merge(data_2021,data_2020,on=['npwp_penyetor','MAP'],how='outer')

In [341]:
data = data.groupby(['npwp_penyetor','MAP']).sum().reset_index()

In [342]:
data

        npwp_penyetor           MAP    setor_2021    setor_2020
0     000000000007007        PPN DN  1.495602e+13  1.646930e+13
1     000000000007007     PPh Final  7.852682e+10  5.937479e+10
2     010007516007000        PPN DN  1.735215e+09  3.612481e+08
3     010007516007000        PPh 21  1.036964e+09  3.848763e+08
4     010007516007000    PPh 21 DTP  5.437998e+06  0.000000e+00
...               ...           ...           ...           ...
6024  947423075008000     PPN Impor  8.868400e+07  6.075000e+07
6025  947423075008000        PPh 21  1.644720e+07  0.000000e+00
6026  947423075008000        PPh 22  2.208671e+07  6.236497e+07
6027  947423075008000  PPh 22 Impor  2.217200e+07  1.518800e+07
6028  947423075008000     PPh Final  5.622425e+08  0.000000e+00

[6029 rows x 4 columns]

In [343]:
nonmadtim_kueri = '''select a."FULL" ,a."MAP",sum(a.nominal) as Non_Madtim 
from netto2021 a
	left join map_polos mp 
		on a."KD MAP" = mp."KD MAP" 
where a."NAMA_AR"  ='Non WP Madtim'
group by(a."FULL" ,a."MAP")'''

In [344]:
nonmadtim = pd.read_sql(nonmadtim_kueri,con=conn)

In [345]:
nonmadtim.head()

              FULL           MAP    non_madtim
0  010001675007000     PPh Final  4.952724e+07
1  016286957007000  PPh 25 Badan  2.191716e+10
2  021825898007000     PPh Final  4.250000e+08
3  016744500007000        PPh 26  6.475838e+06
4  026722918048000  PPh 25 Badan  3.938742e+08

In [346]:
#data_akhir = pd.merge(data,nonmadtim,left_on=['MAP'],right_on=['MAP'],how='outer')

In [347]:
#data_akhir.Non_Madtim.fillna(0,inplace=True)

In [348]:
#data_akhir['cek'] = data_akhir.setor_2020+data_akhir.setor_2021+data_akhir.Non_Madtim

In [349]:
#data_akhir = data_akhir[data_akhir['cek']!=0]

In [350]:
#data_akhir.drop('cek',inplace=True,axis=1)

In [351]:
#data_akhir.to_excel(r'D:\DATA KANTOR\LAPORAN\2021_laporan_pajak_perjenis.xlsx',index=False)

In [352]:
mfwp = pd.read_sql('select "FULL","NAMA_WP" from mfwp; ',con=conn)

In [353]:
data = pd.merge(data,mfwp, left_on='npwp_penyetor',right_on='FULL',how='left')

In [354]:
data.drop('FULL',inplace=True,axis=1)

In [355]:
data.NAMA_WP = data.NAMA_WP.fillna('Non WP Madtim')

In [356]:
data = data.groupby(['npwp_penyetor','NAMA_WP','MAP']).sum().reset_index()

In [357]:
data['Growth'] = data.setor_2021-data.setor_2020

In [358]:
data = data[~data['MAP'].isin(['Non WP Madtim','STP atas Bunga Penagihan','STP atas Bunga Penagihan PPN'])]
data = data[~data['NAMA_WP'].isin(['Non WP Madtim'])]

In [359]:
data.MAP.unique()

array(['PPN DN', 'PPh 21', 'PPh 21 DTP', 'PPh 23', 'PPh 25 Badan',
       'PPh Final', 'PPh 26', 'PPN Impor', 'PPh 22', 'PPh 22 Impor',
       'PPN Lainnya', 'PPnBM DN', 'PPnBM Impor', 'Bea Meterai',
       'PPN DN DTP', 'Pajak Tidak Langsung Lainnya', 'PPh Minyak Bumi',
       'PPh Non Migas Lainnya',
       'SPPT PBB Sektor Pertambangan Mineral dan Batubara', 'PPh 25 OP',
       'Penjualan Benda Meterai', 'SPPT PBB Sektor Lainnya'], dtype=object)

In [360]:
data.sort_values(by='Growth',ascending=False)

,npwp_penyetor,NAMA_WP,MAP,setor_2021,setor_2020,Growth
4518,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPN Impor,1.221292e+12,4.922536e+11,7.290387e+11
4521,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 22 Impor,7.841826e+11,3.159641e+11,4.682186e+11
1280,017026527007000,WAHANA INTI SELARAS,PPN Impor,4.342548e+11,1.427014e+11,2.915533e+11
4526,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPnBM Impor,3.042532e+11,1.095976e+11,1.946556e+11
2533,023882145073000,UNITED EQUIPMENT INDONESIA,PPN Impor,2.807413e+11,1.124258e+11,1.683155e+11
...,...,...,...,...,...,...
3534,030793087009000,PERMANA PUTRA MANDIRI,PPN DN DTP,3.166276e+09,1.068146e+11,-1.036483e+11
493,013439641062000,SUZUKI FINANCE INDONESIA,PPh 25 Badan,-1.247417e+11,-1.030694e+10,-1.144347e+11
4523,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,PPh 25 Badan,0.000000e+00,1.250543e+11,-1.250543e+11
3533,030793087009000,PERMANA PUTRA MANDIRI,PPN DN,2.306253e+10,1.915147e+11,-1.684522e+11
1050,015960529011000,ASMIN BARA BRONANG,PPh 25 Badan,1.569640e+11,6.112300e+11,-4.542660e+11

In [361]:
top10 = data.nlargest(10,columns='Growth')
bottom10 = data.nsmallest(10,columns='Growth')

In [362]:
top10['Ket'] = 'Top 5' 
bottom10['Ket'] = 'Bottom 5'

In [363]:
topbottom10 = top10.append(bottom10)

In [364]:
topbottom10['MAP'] = topbottom10['MAP'].str.upper()

In [365]:
topbottom10['Wajib Pajak'] = topbottom10['MAP']+"-"+topbottom10['NAMA_WP']

In [366]:
topbottom10.to_excel(r'E:\NEXTCLOUD\PKD\LAPORAN\PENERIMAAN 2021\1.2021_TopBottom10_Per Jenis.xlsx',index=False)