In [45]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [46]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [47]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [48]:
kueri2020 = '''select m."FULL" ,m."NAMA_WP" ,s."Kategori" , sum(p.jml_setor) as Nominal_2020
from penerimaan_2020 p 
left join mfwp m on (p.npwp_penyetor = m."FULL") 
left join klu k 
	on m."KODE_KLU"  = k.klu_kode 
left join sektor s 
	on k.klu_sektor = s."Kode"
group by m."FULL" ,m."NAMA_WP",s."Kategori"
having sum(p.jml_setor) is not null 
order by nominal_2020 desc ;'''

In [49]:
kueri2021 = '''select m."FULL" ,m."NAMA_WP" ,s."Kategori" , sum(p.jml_setor) as Nominal_2021
from penerimaan_2021 p 
left join mfwp m on (p.npwp_penyetor = m."FULL") 
left join klu k 
	on m."KODE_KLU"  = k.klu_kode 
left join sektor s 
	on k.klu_sektor = s."Kode"
group by m."FULL" ,m."NAMA_WP",s."Kategori"
having sum(p.jml_setor) is not null 
order by nominal_2021 desc ;'''

In [50]:
data_2020 = pd.read_sql(kueri2020,con=conn)

In [51]:
data_2020.head()

,FULL,NAMA_WP,Kategori,nominal_2020
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.102936e+12
1,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,3.887526e+11
2,010027134007000,SOHO INDUSTRI PHARMASI,Industri Pengolahan,2.170611e+11
3,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.077692e+11
4,030793087009000,PERMANA PUTRA MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.876724e+11

In [52]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [53]:
data_2021.head()

,FULL,NAMA_WP,Kategori,nominal_2021
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.551109e+12
1,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.553593e+11
2,017350976007000,ROYAL SUTAN AGUNG,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.370476e+11
3,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,2.241873e+11
4,010027134007000,SOHO INDUSTRI PHARMASI,Industri Pengolahan,1.504139e+11

In [54]:
data = pd.merge(data_2021,data_2020,on=['FULL','NAMA_WP','Kategori'],how='outer')

In [55]:
data.nominal_2020 = data.nominal_2020.fillna(0)
data.nominal_2021 = data.nominal_2021.fillna(0)

In [56]:
data

,FULL,NAMA_WP,Kategori,nominal_2021,nominal_2020
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1.551109e+12,1.102936e+12
1,015480486007000,FASTRATA BUANA,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.553593e+11,2.077692e+11
2,017350976007000,ROYAL SUTAN AGUNG,Perdagangan Besar dan Eceran; Reparasi dan Per...,2.370476e+11,1.620929e+11
3,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,2.241873e+11,3.887526e+11
4,010027134007000,SOHO INDUSTRI PHARMASI,Industri Pengolahan,1.504139e+11,2.170611e+11
...,...,...,...,...,...
1214,029027000014001,LOTTE MART INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,1.953500e+05
1215,013104880007008,MULIA MULTI MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,1.000000e+05
1216,013104880007001,MULIA MULTI MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,1.000000e+05
1217,071645790008000,HENDI KUSNADI,Kegiatan Jasa Lainnya,0.000000e+00,9.000000e+04
1218,312489628002000,MONDAFFA CRESIDA,Perdagangan Besar dan Eceran; Reparasi dan Per...,0.000000e+00,-1.065159e+09

In [57]:
data.columns

Index(['FULL', 'NAMA_WP', 'Kategori', 'nominal_2021', 'nominal_2020'], dtype='object')

In [58]:
data['Growth'] = data['nominal_2021']-data['nominal_2020']

In [59]:
data = data.groupby(['FULL', 'NAMA_WP', 'Kategori']).sum().reset_index()

In [60]:
top10 = data.nlargest(10,columns='Growth')
bottom10 = data.nsmallest(10,columns='Growth')

In [61]:
top10['Ket'] = 'Top 5' 
bottom10['Ket'] = 'Bottom 5'

In [62]:
topbottom10 = top10.append(bottom10)

In [63]:
topbottom10['WAJIB PAJAK'] = (topbottom10.Kategori+"-"+topbottom10.NAMA_WP).str.upper()

In [65]:
topbottom10.to_excel(r'E:\NEXTCLOUD\PKD\LAPORAN\PENERIMAAN 2021\2.2021_TopBottom10_Per Sektor.xlsx',index=False)