In [11]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [12]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [13]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [ ]:
bruto2021 ='''select p.npwp_penyetor as "NPWP_FULL",m."NAMA_WP" ,mp."MAP" ,p.kd_map ,p.kd_setor ,m."NAMA_AR" ,m."SEKSI" , sum(p.jml_setor) as setor2021
from penerimaan_2021 p 
left join mfwp m  
	on p.npwp_penyetor  = m."FULL" 
left join map_polos mp 
	on p.kd_map  = mp."KD MAP" 
where p.bulan_bayar  =3  and  p.jenis_data !='RESTITUSI'
group by p.npwp_penyetor ,m."NAMA_WP" ,mp."MAP" ,p.kd_map ,p.kd_setor,m."NAMA_AR" ,m."SEKSI"'''

In [ ]:
bruto2022 = '''
select m."NPWP_FULL"  ,m2."NAMA_WP" ,mp."MAP" , m."KDMAP" ,m."KJS" ,m2."NAMA_AR" ,m2."SEKSI" , sum(m."JUMLAH") as setor2022 
from appportal.mpnspm_2022 m
left join map_polos mp
	on m."KDMAP"  = mp."KD MAP" 
left join mfwp m2 
	on m."NPWP_FULL"  = m2."FULL" 
where m."BULAN_BAYAR" =3 	
group by m."NPWP_FULL"  ,m2."NAMA_WP" ,mp."MAP", m."KDMAP" ,m."KJS",m2."NAMA_AR" ,m2."SEKSI" '''

In [ ]:
'''kueri2021 = select 
p.npwp_penyetor as npwp_full,
mp."MAP" ,
sum(p.jml_setor) as setor2021
from penerimaan_2021 p 
left join map_polos mp on p.kd_map = mp."KD MAP" 
where p.jenis_data != 'RESTITUSI' and p.bulan_bayar ='2' and extract (day from p.tgl_setor) <19 
group by p.npwp_penyetor ,mp."MAP" ;'''

In [ ]:
'''kueri2022 = 
select concat(m.npwp,m.kpp,m.cabang) npwp_full,
mp.`MAP`,
sum(m.nominal) as setor2022 
from mpn m
left join map_polos mp  on m.kdmap = mp.`KD MAP` 
where tahunbayar ='2022' and bulanbayar ='2'  
group by npwp_full ,mp.`MAP`;
'''

In [ ]:
mpn2021 = pd.read_sql(bruto2021, con=conn)
mpn2021 = mpn2021.groupby(['NPWP_FULL','MAP']).sum().reset_index()
mpn2022 = pd.read_sql(bruto2022,con = conn)
mpn2022 = mpn2022.groupby(['NPWP_FULL','MAP']).sum().reset_index()

In [ ]:
data = pd.merge(mpn2021,mpn2022,on=['NPWP_FULL','MAP'],how='outer')

In [ ]:
#data = data.groupby(['npwp_full','MAP']).sum().reset_index()

In [ ]:
#mf = pd.read_sql('select "FULL", "NAMA_WP" from mfwp;',con=conn)

In [ ]:
#data = pd.merge(data,mf,left_on='npwp_full',right_on='FULL',how='left')

In [ ]:
data.fillna(0,inplace=True)

In [ ]:
data

In [ ]:
data.to_excel(r'F:\CODE_NOTEBOOK\Notebook\Laporan Penerimaan\Hitung_Prognosa\maret14yoy.xlsx',index=False)

In [ ]:
brutox = '''
select m."NPWP_FULL"  ,m2."NAMA_WP" ,mp."MAP" , m."KDMAP" ,m."KJS" ,m2."NAMA_AR" ,m2."SEKSI" , sum(m."JUMLAH") as setor2022 
from appportal.mpnspm_2022 m
left join map_polos mp
	on m."KDMAP"  = mp."KD MAP" 
left join mfwp m2 
	on m."NPWP_FULL"  = m2."FULL" 
where m."BULAN_BAYAR" =1 	
group by m."NPWP_FULL"  ,m2."NAMA_WP" ,mp."MAP", m."KDMAP" ,m."KJS",m2."NAMA_AR" ,m2."SEKSI" '''

In [ ]:
feb22 = pd.read_sql(brutox,con=conn)

In [ ]:
feb22.to_excel(r'F:\CODE_NOTEBOOK\Notebook\Laporan Penerimaan\Hitung_Prognosa\jan22.xlsx',index=False)