In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector as mysql

In [2]:
conn = create_engine("postgresql+pg8000://postgres:sgwi2341@localhost/penerimaan")

In [3]:
db_conn = create_engine("mysql://sugengw07:sgwi2341@localhost/mpninfo")

In [182]:
kueri2021 = '''select p.npwp_penyetor as "FULL",m."NAMA_WP" ,s."Kategori",extract(day from p.tgl_setor)::int as tanggalbayar, sum(p.jml_setor) as Nominal_2021
from penerimaan_2021 p 
full join mfwp m on (p.npwp_penyetor = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where p.bulan_bayar = 2 and p.jenis_data != 'RESTITUSI'
group by p.npwp_penyetor ,m."NAMA_WP",s."Kategori",extract(day from p.tgl_setor)::int
having sum(p.jml_setor) is not null 
order by Nominal_2021 desc ;'''

In [183]:
kueri2022 = '''select p."FULL" ,m."NAMA_WP" ,s."Kategori" ,p.tanggalbayar::int  , sum(p.nominal) as Nominal_2022
from penerimaan_2022 p 
full join mfwp m on (p."FULL"  = m."FULL") 
full join klu k 
	on m."KODE_KLU"  = k.klu_kode 
full join sektor s 
	on k.klu_sektor = s."Kode"
where p.bulanbayar ='2' and p.ket != 'SPMKP'
group by p."FULL" ,m."NAMA_WP",s."Kategori", p.tanggalbayar::int  
having sum(p.nominal) is not null 
order by Nominal_2022 desc;'''

In [184]:
data_2021 = pd.read_sql(kueri2021,con=conn)

In [185]:
data_2021.head()

,FULL,NAMA_WP,Kategori,tanggalbayar,nominal_2021
0,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,26,5.911691e+10
1,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,22,2.620672e+10
2,015960529011000,ASMIN BARA BRONANG,Pertambangan dan Penggalian,11,1.573074e+10
3,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,5,1.359135e+10
4,316771872003000,MITSUBISHI MOTORS KRAMA YUDHA SALES INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,10,1.354703e+10

In [186]:
data_2022 = pd.read_sql(kueri2022,con=conn)

In [187]:
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FULL          2776 non-null   object
 1   NAMA_WP       2763 non-null   object
 2   Kategori      2763 non-null   object
 3   tanggalbayar  2776 non-null   int64
 4   nominal_2022  2776 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 108.6+ KB

In [188]:
data_2021 = data_2021.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()
data_2022 = data_2022.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()

In [189]:
data = pd.merge(data_2021,data_2022,on=['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],how='outer')

In [190]:
data = data.groupby(['FULL', 'NAMA_WP', 'Kategori','tanggalbayar'],dropna=False).sum().reset_index()

In [194]:
data.sort_values(by = 'tanggalbayar',ascending=False)

,FULL,NAMA_WP,Kategori,tanggalbayar,nominal_2021,nominal_2022
1847,022458293007000,SELATAN JAYA PRIMA PERKASA,Perdagangan Besar dan Eceran; Reparasi dan Per...,28,0.0,5000000.0
4455,847058245003000,GARUDA NUSA MANDIRI,Perdagangan Besar dan Eceran; Reparasi dan Per...,28,91474000.0,0.0
2387,026950311004000,UNOLAB MITRA PERSADA,Perdagangan Besar dan Eceran; Reparasi dan Per...,28,0.0,879301.0
326,013157086007000,MENSA BINASUKSES,Perdagangan Besar dan Eceran; Reparasi dan Per...,28,1833583.0,6099600.0
379,013213350003000,TALENTA SUKMA SEJATI,Perdagangan Besar dan Eceran; Reparasi dan Per...,28,0.0,584073.0
...,...,...,...,...,...,...
1515,020101713004000,ANUGERAH CENTRAL AUTOMOTIVE,Perdagangan Besar dan Eceran; Reparasi dan Per...,1,308731000.0,0.0
3358,211006879004000,CBC INDONESIA,Perdagangan Besar dan Eceran; Reparasi dan Per...,1,38481000.0,0.0
2040,023715923003000,ATALIAN FACILITY SERVICES,Informasi dan Komunikasi,1,763955341.0,0.0
1942,023129901006000,PRATAMA INDOTAMA SOLUSI,Konstruksi,1,14932868.0,0.0
1947,023129919006000,REDJO TECNICH,Konstruksi,1,50613171.0,0.0

In [195]:
data.fillna('Non WP Madtim (NPWP 000)',inplace=True)

In [ ]:
#data_long = data.melt(id_vars=['FULL','NAMA_WP','Kategori'],value_name='Nominal',var_name='Tahun')

In [ ]:
data_long.fillna('Non WP Madtim (NPWP 000)',inplace=True)
data_long = data_long.groupby(['FULL', 'NAMA_WP', 'Kategori','Tahun'],dropna=False).sum().reset_index()

In [ ]:
data_long

In [196]:
data.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_day.xlsx',index=False)

In [ ]:
data['Tumbuh'] = (data.nominal_2022-data.nominal_2021)

In [ ]:
data = data.sort_values(by='Tumbuh',ascending=False)

In [ ]:
# data['Kategori'].where(
#     data['Kategori'].notna(),'Non WP Madtim',inplace=True
# )

In [ ]:
resume_persektor = data.pivot_table(index='Kategori',values=['nominal_2022','nominal_2021','Tumbuh'],aggfunc='sum').reset_index().sort_values(by='Tumbuh',ascending=False)

In [ ]:
resume_persektor.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor.xlsx',index=False)

In [ ]:
#data.to_excel(r'D:\DATA KANTOR\VSCODE\2022\2022_persektor_growth.xlsx',index=False)

In [ ]:
top10 = data.nlargest(10,'Tumbuh')
top10['ket'] = 'Top10'

In [ ]:
bottom10 = data.nsmallest(10,'Tumbuh')
bottom10['ket'] = 'Bottom10'

In [ ]:
topbottom10 = top10.append(bottom10)

In [ ]:
#topbottom10['WAJIB PAJAK'] = topbottom10['NAMA_WP']+"-"+topbottom10['Kategori'].str.upper()

In [ ]:
topbottom10.to_excel(r'D:\ONEDRIVE\OneDrive - Office 365 Original\MADYA JAKTIM\export Py_SQL\persektor_topbot.xlsx',index=False)